
/* Responsive css */

@media only screen and (max-width: 1024px){
	.side_nav {
	display: none !important;
}
.cv {
	
	display: none !important;
}
header.header {
	
	background: #fff;
}
.header .form-inline.cc {
	
	display: none;
}
.res_sec {
	display: none;
}
.logo_res {
	display: block;
}
header .logo {
	
	display: none;
}
#menu-toggle {
	
	display: block;
}
.logo_res img {
	display: inline;
}
.logo_res {
	display: block;
	text-align: center;
}

.RCSlideoverlay,.RCSlideoverlay_2,.RCSlideoverlay_3 {
	top: 35%;
	
}
.log {
	bottom: -63px;
}
.sidebar-nav #menu-close {
	display: none;
}
#menu-toggle {
	position: absolute;
	top: 10px;
	left: 0px;
}
}


@media only screen and (max-width: 991px){

}
@media only screen and (max-width: 767px){
.flex-control-nav {
	bottom: 5px !important;
}
.RCSlideoverlay_3 h1 {
	font-size: 66px;
	line-height: 72px;
}
.RCSlideoverlay_2 h1 {
	font-size: 43px;
	
}
.RCSlideoverlay_2 p {
	padding-top: 28px;
	font-size: 18px;
	
}
.log {
	position: absolute;
	right: 0;
	bottom: 34px;
}
.xz {
	text-align:center;
}
.footerLinks {
	text-align: center;
}
.xz {
	margin-top: 27px;
	text-align: center;
}
.flex-control-nav {
	z-index: 9 !important;
}
}

@media only screen and (max-width: 660px){

	
}

@media only screen and (max-width: 567px){
.flexslider .slides img {
	height: 320px;
}
.RCSlideoverlay_3 h1 {
	font-size: 44px;
	line-height: 50px;
}
.RCSlideoverlay_3 p {
	padding-top: 39px;
	font-size: 23px;
	line-height: 21px;
}
.RCSlideoverlay h1 {
	font-size: 33px;
	
}
.flex-control-paging li a {
	width: 47px !important;
	
}
.RCSlideoverlay_2 h1 {
	font-size: 33px;
}
.RCSlideoverlay_2 a {
	padding-top: 21px;
	font-size: 19px;
}
.discount p {
	font-size: 13px;
}
.discount .news_f_3.news_small.news_small_tregalo {
	font-weight: 700;
	font-size: 11px;
	line-height: 15px;
}
.header .log ul li:first-child {
	padding-right: 0px;
}
.header .log ul li {
	padding: 0 10px 0 0;
}
.header .log ul li:first-child {
	padding-right: 0px;
	display: none;
}
.log {
	bottom: 46px;
}	
}

