.nav > li > a:hover,
.nav > li > a:focus{background-color:transparent !important;color:#27ae60;font-weight:500;}
.about{padding:45px;}
#login-message{margin:0px;margin-bottom:8px;background:#dfdfdf;color:rgba(199, 0, 0, 0.6);font-size:16px;}
#register-message{margin:0% 10%;margin-bottom:8px;background:#dfdfdf;color:rgba(199, 0, 0, 0.6);font-size:16px;}
.center{text-align:center;}
.clear{clear:both;}
.left{float:left;}
.right{float:right;}
#myRegister{z-index:10000 !important;}
#ifile-id{display:none;}
.modal{top:12% !important;}
.main-register,
.main-confirm{display:none;padding:0% 10%;}
label{color:#fff !important;}
#.modal-header{background:#27ae60 !important;color:#fff !important;border-radius:3px 3px 0px 0px !important;border-bottom:1px solid rgba(0, 0, 0, 0.1) !important;}
.modall-title{font-size:20px !important;}
.modall-body{background:#f9f9f9 !important;padding:10px 30px !important;overflow-y:scroll !important;height:350px !important;}
.modall-dialog{background:rgba(0, 0, 0, 0.5) !important;}
.modall-content{background:transparent !important;}
.modall-header{background:transparent !important;border:0px;text-align:center !important;}
.modall-body{background:transparent !important;}
.modall-footer{background:transparent !important;border:0px;}
.btn-modal{rgb(41, 51, 61) none repeat !important;}
.form-group{color:#fff !important;font-weight:500;}
.jform-control{background:rgba(11, 15, 15, 0.5) none repeat scroll 0% 0% !important}
.box{padding:20px 10px;border:1px solid #dedede;}
.plan-box{box-shadow:0px 0px 1px #dedede;padding:10px 0px;width:220px;margin:0px 10px;background:#dfdfdf;}
.plan-header{font-size:25px;font-weight:500;padding:1px;text-align:center;}
.plan-main{padding:50px 10px;margin:0px 0px;text-align:center;background:#f1f1f1;}
.plan-register{background:#699d34;width:50px;height:50px;text-align:center;text-decoration:none !important;text-align:center;box-sizing:border-box;margin:10px auto;color:#fff !important;border:none;border-radius:4px;text-transform:capitalize;padding:10px 20px;font-size:13px;background-color:#699d34;background:-webkit-gradient(linear, left bottom, left top, color-stop(0, #699d34), color-stop(1, #83c143));}
.plan-footer{text-align:center;padding-top:20px;}
.bnr{height:15px;width:100%;background:-moz-linear-gradient(top, #4f97cd, #3b8bc7)}
.top-header{padding:0px;margin:0px;}
.top-header-nav{padding:0px;margin:0px;}
.top-header-nav > li{float:left;display:inline-block;padding:0px;padding-left:10px;padding-top:10px;}
.top-header-nav > li > a{text-align:center;font-size:25px;font-weight:500;color:#fff;}
.top-header-nav:after{clear:both;}
.overlay{position:relative;background:rgba(0, 0, 0, .5);height:100%;width:100%;}
.overlay-search{display:table;height:120px;width:100%;}
.overlay-search-middle{text-align:center;display:table-cell;vertical-align:middle;padding-left:30%;}
.overlay-search-group > div{float:left;display:inline-block;}
.prop-nav > li{float:left;display:inline;padding:0px;padding-left:10px;}
.shadow{position:relative;box-shadow:5px 5px 10px #1a1a1a;margin:0px;padding:0px;border-radius:5px;background:rgba(10, 10, 10, .7);padding:10px;margin-top:-10px;z-index:100;}
.osearch-form{padding:0px;margin:0px;}
.osearch-form{border:0px;font-size:20px;border-right:1px solid rgba(0, 0, 0, 0.7);padding:12px;width:40%;width:100%;background:rgba(255, 255, 255, 1);color:#1a1a1a;font-weight:500;}
.osearch-form-s{border:0px;font-size:20px;border-right:1px solid rgba(250, 250, 250, 0.3);width:40%;width:100%;background:rgba(255, 255, 255, 1);color:#1a1a1a;}
.osearch-form-s > option{color:#dedede;background:rgba(0, 0, 40, .7);padding:13px;z-index:100;border-right:1px solid rgba(0, 0, 40, .7);}
.osi{width:40%;}
.oss{width:20%;}
.osb{width:20%;background:rgba(0, 0, 255, 1);color:rgba(255, 0, 0, 0.5);}
.snav{padding:12px 24px;;color:#fff;font-size:20px;font-weight:500;background:rgba(10, 10, 10, .2);margin-right:20px;margin-left:20px;z-index:20;}
.snav-active{background:rgba(10, 10, 10, .7);box-shadow:1px 0px 10px rgba(40, 0, 0, .7);border-bottom:1px solid #000;color:#fff;}
.pad{padding:200px 0 130px;}
.list-header{margin:0px;padding:10px;background:#dedede;}
.list-head{padding:30px;}
.listing{box-sizing:border-box;margin:10px;box-shadow:0px 0px 1px #1d1d1d;}
.status{float:right;background:#0097d6;color:#fefefe;padding:10px;border-radius:10px;font-size:16px;}
.list-price{width:100%;background:#27ae60;padding:5px 15px;padding-top:10px;color:#fefefe;box-shadow:0px 0px 2px #27ae60;}
.list-info{border-bottom:1px solid #d5d9dd;padding:10px;}
.list-left{text-align:left;}
.list-right{text-align:right;}
.timg{margin:20px 0px;}
.list-features{width:100%;background:#29333d;color:#b9bfc6;font-family:"Lato";box-shadow:0px 0px 2px #29333d;margin:0px;padding:0px;padding-top:10px;padding-bottom:10px;}
.list-features > ul{margin:0px;padding:0px;}
.list-features > ul > li{float:left;display:inline;list-style:none;padding-top:5px;padding-bottom:5px;padding-left:20px;padding-right:20px;background:transparent;}
.list-fmenu{border-right:1px solid #3b4d5d;}
.list-main{box-shadow:0px 0px 1px #29333d;background:#fff;border-radius:5px;z-index:100;margin:0px;margin-bottom:20px;margin-top:20px;}
.list-link{color:#000;font-size:18px;text-decoration:none !important;}
.list-desc{font-size:12px;}
@media(max-width:786px){.about{margin:0px;padding:0px;}
}
.social-media > li{float:left;list-style:none;float:left;display:inline-block;list-style:none;line-height:1.75em;font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#dedede;}
.social-media > li > a{display:inline-block;min-width:30px;padding:9px 16px;margin:0;font-size:14px !important;border-left:1px solid #3b4d5d;color:#ccc;text-decoration:none;transition:all 0.3s ease;}
.social-media > li > a > .fa{font-size:16px !important;}
.header-top{position:relative;z-index:999999;font-size:12px;background:#29333d;color:#ccc;}
.header-top .container{border-bottom:1px solid #3b4d5d;}
.header-top > i{position:relative;color:#fff;top:4px;padding-right:8px;font-size:24px;}
.cphone{padding:5px 0px;}
.cphone > li > i{padding:5px 5px;color:#fff;}
.header-nav{padding-top:20px;}
.header-nav > li > a{font-weight:500 !important;text-shadow:2px 2px 3px #2d2d2d !important;font-size:1.0em;}
.lang{padding:0px;margin:0px;}
.lang > li{list-style:none;line-height:1.75em;}
.lang > li > a{display:inline-block;min-width:30px;padding:9px 16px;margin:0;font-size:14px !important;}
.langd{display:inline-block;min-width:30px;padding:3px 20px;margin:0;font-size:14px !important;}
.langd > i{font-size:12px !important;}
.llang{display:none;text-align:left;}
.llang > li{padding:0px;margin:0px;text-align:left;}
.lang:hover > li > ul{position:absolute;display:block;list-style:none;background:#fff;width:100px;padding:10px;margin:0px;text-align:left;}
.lng:hover{cursor:pointer;}
.lng:hover .lang > li > ul{position:absolute;display:block;list-style:none;background:#fff;width:100px;padding:10px;margin:0px;text-align:left;}
.login{background-attachment:scroll;background-clip:border-box;background-color:#27ae60;background-image:none;background-origin:padding-box;background-position:0 0;background-repeat:repeat;background-size:auto auto;border-bottom-right-radius:3px;color:#fff !important;padding-bottom:6px;padding-left:16px;padding-right:16px;padding-top:6px;}
.facebook > a{color:#3a7ea2 !important;}
.twitter > a{color:#55c5ef !important;}
.linkedin > a{color:#4875b4 !important;}
.google-plus > a{color:#c63d2d !important;}
.youtube > a{color:#c4302b !important;}
.instagram > a{}
.facebook:hover{background:#3a7ea2;color:#fff!important;}
.twitter:hover{background:#55c5ef;color:#fff !important;}
.linkedin:hover{background:#4875b4;color:#fff !important;}
.google-plus:hover{background:#c63d2d;color:#fff !important;}
.youtube:hover{background:#c4302b;color:#fff !important;}
.instagram:hover{background:#000;color:#fff !important;}
.facebook:hover > a{background:#3a7ea2;color:#fff!important;}
.twitter:hover > a{background:#55c5ef;color:#fff !important;}
.linkedin:hover > a{background:#4875b4;color:#fff !important;}
.google-plus:hover > a{background:#c63d2d;color:#fff !important;}
.youtube:hover > a{background:#c4302b;color:#fff !important;}
.instagram:hover > a{background:#000;color:#fff !important;}
.modal-main-plan,
.modal-main-register,
.modal-main-confirm,
.modal-main-login{display:none;}
#gpc-modal-message{color:rgba(255, 0, 0, 0.5);font-size:16px;padding:5px 10px;box-shadow:0px 0px 2px #2d2d2d inset;border-radius:2px;margin:5px 0px;background:#f9f9f9;font-family:"Helvetica Neue", Helvetica, Arial, sans-serif !important;}
body{font-size:16px;font-family:sans-serif;}
.header{background:#29333d;}
.logo{padding-top:10px;}
.navigation ul li{font-size:14px;}
.navigation ul li a{color:#fff;}
.portal_main{color:#fff;padding:25px 0;}
.portal_main h3{color:#ffa200;padding-bottom:2px;font-size:18px;position:relative;}
.portal_main h3:before{content:"";bottom:0;width:54px;position:absolute;border-bottom:1px solid #ffa200;}
.portal_main h4{color:#fff;font-size:16px;}
.portal_main h4:hover{text-decoration:underline;}
.portal_main p{font-size:14px;color:#999;}
.portal{color:#fff;padding-top:10px;text-align:center;}
.totalimg{margin-top:10px;}
.propetyd h1{color:#2a2a2a;font-size:28px;font-weight:normal;margin:40px 0;text-align:center;position:relative;padding-bottom:5px;}
.propetyd h1:before{content:"";bottom:0;width:473px;position:absolute;}
.searchibon{margin:35px 0;text-align:center;}
.proAdviceLink{cursor:pointer;//background:#c0392b;background:#29333d;border-radius:2px;color:#fff;display:inline-block;height:35px;line-height:32px;margin:24px 0 16px;text-align:center;width:114px;}
.proAdviceLink:hover{background:rgba(0, 0, 0, 0.9);color:#fff;}
.rate{background:#f7f7f7;padding:30px 0;}
.houserate img{margin-bottom:20px;}
.houserate h3{color:#ffa200;font-weight:bold;font-size:20px;}
.houserate h4{color:#434345;font-weight:bold;}
.houserate p{color:#434345;}
.property{text-align:center;}
.proAdviceLinks{background:#29333d;border-radius:2px;color:#fff;display:inline-block;height:35px;line-height:32px;margin:33px 0 0px;padding-bottom:40px;padding-top:6px;text-align:center;width:200px;}
.propetyds h1{color:#2a2a2a;font-size:28px;font-weight:normal;margin:40px 0;text-align:center;position:relative;padding-bottom:5px;}
.propetyds h1:before{content:"";bottom:0;width:450px;position:absolute;}
.groupimgs img{margin-bottom:20px;}
.groupimgs{text-align:center;}
.groupimgs p{font-size:15px;}
.online{background:#f7f7f7;padding-bottom:60px;margin-top:40px;}
.online_main h1{color:#2a2a2a;font-size:28px;font-weight:normal;margin:30px 0;text-align:center;position:relative;padding-bottom:5px;}
.online_main h1:before{content:"";bottom:0;width:450px;position:absolute;}
.india_cost{//background:#6b86cb;background:#fff;border:1px solid #2a2a2a;margin-top:30px;text-align:center;color:#2a2a2a;font-weight:500;}
.india_cost h4{padding-top:15px;}
.expOnlineName{margin:10px 0 3px;}
.expOnlineGroup{margin-bottom:8px;}
.expOnlineLink{cursor:pointer;border:2px solid #d7d7d7;border-radius:3px;display:inline-block;height:36px;line-height:37px;margin:20px 0;padding-bottom:37px;width:186px;}
.expOnlineLink:hover{background:rgba(0, 0, 0, 0.2);}
.india_cost:hover{box-shadow:0px 0px 5px #2a2a2a;cursor:pointer;}
.expOnline .expBlock a{color:#666;}
.expOnlineLink{color:#2a2a2a;}
.footera{background:#29333d;}
.logo_main_logo{color:#fff;padding:35px 0;}
.logo_main_logo p{padding-top:10px;font-size:14px;}
.house_main_timming{color:#fff;padding:35px 0;}
.house_main_timming h4{font-weight:bold;}
.house_main_timming h5{padding-top:10px;}
.contact_main_contact{color:#fff;padding:35px 0;}
.contact_main_contact h5{padding-top:10px;}
.contact_main_contact h4{font-weight:bold;}
.copy_right{font-size:14px;margin-top:11px;text-align:center;}
.trends{background:#f7f7f7 none repeat scroll 0 0;padding-bottom:60px;}
.blockWidth{margin:auto;padding:40px 0 0px;}
.blockHeading,
.blockHeading h1,
.blockHeading h2,
.blockHeading h3,
.blockHeading h4,
.blockHeading h5{color:#2a2a2a;font-size:32px;font-weight:normal;margin-bottom:34px;text-align:center;}
.ratesNtrends li a{color:rgba(0, 0, 0, 0) none repeat scroll 0 0;}
.ratesNtrends li{background:rgba(0, 0, 0, 0) url("../images/ratesNtrends.jpg") no-repeat scroll 0 0;float:left;height:100px;margin:0 0 20px 20px;overflow:hidden;width:140px;}
@-moz-document url-prefix(){.ratesNtrends li a{margin-top:0px !important;}
}
.ratesNtrends li a{background:rgba(0, 0, 0, 0.6) none repeat scroll 0 0;color:rgba(255, 255, 255, 1);display:block;font-family:opensans-bold;font-size:14px;height:100px;position:relative;text-decoration:none;width:140px;margin-top:-22px;}
.ratesNtrends li a span{bottom:9px;left:14px;position:absolute;}
.ratesNtrends li a{color:rgba(255, 255, 255, 1);font-family:opensans-bold;font-size:14px;}
.ratesNtrends .rtGurgaon{background-position:-140px 0;}
.ratesNtrends li{background:rgba(0, 0, 0, 0) url("../images/ratesNtrends.jpg") no-repeat scroll 0 0;float:left;height:100px;margin:0 0 20px 20px;overflow:hidden;width:140px;}
.ratesNtrends .rtNoida{background-position:-280px 0;}
.ratesNtrends .rtAhmedabad{background-position:-700px -200px;}
.ratesNtrends li.noMarginBot{margin-bottom:0;}
.ratesNtrends .rtJaipur{background-position:-560px -200px;}
.ratesNtrends .rtKolkata{background-position:-420px -200px;}
.ratesNtrends .rtChennai{background-position:-280px -200px;}
.ratesNtrends li.noMarginBot{margin-bottom:0;}
.ratesNtrends .rtBangalore{background-position:-140px -200px;}
.ratesNtrends .rtPune{background-position:0 -200px;}
.ratesNtrends .rtMumbai{background-position:-700px -100px;}
.ratesNtrends .rtHyderabad{background-position:-560px -100px;}
.ratesNtrends .rtLucknow{background-position:-420px -100px;}
.ratesNtrends .rtCoimbatore{background-position:-280px -100px;}
.ratesNtrends .rtKochi{background-position:-140px -100px;}
.ratesNtrends .rtChandigarh{background-position:0 -100px;}
.ratesNtrends .rtFaridabad{background-position:-700px 0;}
.ratesNtrends .rtGhaziabad{background-position:-560px 0;}
.ratesNtrends .rtGrNoida{background-position:-420px 0;}
.ratesNtrends .rtFaridabad{background-position:-700px 0;}
.tabbable-panel{border:none;padding:10px;}
.tabbable-line > .nav-tabs{border:none;margin:0px;}
.tabbable-line > .nav-tabs > li{margin-right:2px;height:100px;}
.tabbable-line > .nav-tabs > li > a{border:0;margin-right:0;color:#737373;}
.tabbable-line > .nav-tabs > li > a > i{color:#a6a6a6;}
.tabbable-line > .nav-tabs > li.open,
.tabbable-line > .nav-tabs > li:hover{border-bottom:4px solid #fbcdcf;}
.tabbable-line > .nav-tabs > li.open > a,
.tabbable-line > .nav-tabs > li:hover > a{border:0;background:none !important;color:#333333;}
.tabbable-line > .nav-tabs > li.open > a > i,
.tabbable-line > .nav-tabs > li:hover > a > i{color:#a6a6a6;}
.tabbable-line > .nav-tabs > li.open .dropdown-menu,
.tabbable-line > .nav-tabs > li:hover .dropdown-menu{margin-top:0px;}
.tabbable-line > .nav-tabs > li.active{border-bottom:4px solid #f3565d;position:relative;}
.tabbable-line > .nav-tabs > li.active > a{border:0;color:#333333;}
.tabbable-line > .nav-tabs > li.active > a > i{color:#404040;}
.tabbable-line > .tab-content{margin-top:-3px;background-color:#fff;border:0;border-top:1px solid #eee;padding:15px 0;}
.portlet .tabbable-line > .tab-content{padding-bottom:0;}
.tabbable-line.tabs-below > .nav-tabs > li{border-top:4px solid transparent;}
.tabbable-line.tabs-below > .nav-tabs > li > a{margin-top:0;}
.tabbable-line.tabs-below > .nav-tabs > li:hover{border-bottom:0;border-top:4px solid #fbcdcf;}
.tabbable-line.tabs-below > .nav-tabs > li.active{margin-bottom:-2px;border-bottom:0;border-top:4px solid #f3565d;}
.tabbable-line.tabs-below > .tab-content{margin-top:-10px;border-top:0;border-bottom:1px solid #eee;padding-bottom:15px;}
.calculator_main{text-align:center;margin:20px 0;}
.active > p{font-size:13px;padding:0 16px;}
.activd_main p{font-size:13px;padding:0 16px;}
.formcont{padding-left:20px;width:50%;}
.form_row{margin:0;padding:0 0 50px;width:100%;}
.formlabel{float:left;margin:0;padding:6px 15px 0 0;text-align:right;width:235px;}
.formlabel p{display:block;line-height:18px;margin:0;padding:0;}
.formlabel span{color:#999;display:block;font-size:12px;margin:0;padding:0;}
.modularIcon{color:#4d4d4d;display:inline-block;font-size:14px;margin-top:-10px;position:absolute;right:-20px;top:50%;}
.buttom_search{float:left;margin:0;padding:0 20px 0 15px;position:relative;width:186px;}
.rupeeIcon{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -38px -5px;display:inline-block;height:10px;left:0;margin-top:-5px;position:absolute;top:50%;width:7px;}
.inputAdvFinance{background:#fff none repeat scroll 0 0;border:1px solid #e0e0e0;border-radius:3px;color:#333;font-size:14px;height:32px;line-height:32px;margin:0;padding:0 5px 0 8px;width:172px;}
textarea:focus,
input:focus,
input[type]:focus{border-color:#0e74c9;}
.btnAdvFinance{//background:#c0392b none repeat scroll 0 0;background:#29333d none repeat scroll 0 0;border:medium none;border-radius:3px;color:#fff;cursor:pointer;font-size:16px;height:40px;line-height:40px;padding:0;width:171px;}
.resetAll{color:#666;display:inline-block;font-size:12px;margin-top:-8px;position:absolute;right:-58px;top:50%;}
.resetAll a{color:#666;text-decoration:none;}
.resultHLEligibLeft{padding-right:18px;padding-top:5px;}
.rightIcon{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -8px -215px;display:inline-block;float:left;height:52px;margin-right:20px;margin-top:15px;width:52px;}
.loan_main_classr p{color:#333;font-size:24px;margin:0;padding-top:11px;}
.emis{color:#333;font-size:18px;margin:0;padding:0 0 25px;}
.rupeeIcon4{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -105px -222px;display:inline-block;height:13px;margin-right:2px;width:9px;}
.marginL15{margin-left:15px;}
.rupeeIcon4{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -105px -222px;display:inline-block;height:13px;margin-right:2px;width:9px;}
.emiss{color:#333;font-size:16px;padding:0 0 40px 74px;}
.rupeeIcon3{margin-left:0;}
.rupeeIcon3{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -38px -5px;display:inline-block;height:10px;margin-left:10px;margin-right:2px;width:7px;}
.marginL7{margin-left:7px;}
.rupeeIcon3{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -38px -5px;display:inline-block;height:10px;margin-left:10px;margin-right:2px;width:7px;}
.btnAdvFinance2{background:#fff none repeat scroll 0 0;border:2px solid #d7d7d7;border-radius:3px;color:#666;cursor:pointer;display:inline-block;font-size:14px;height:40px;line-height:36px;padding:0;text-align:center;text-decoration:none;width:185px;}
.btnAdvFinance2{color:#29333d none repeat scroll 0 0;border-color:#29333d;color:#fff;}
.buttom_apply{margin-left:82px;}
.loan_main_classrs p{color:#333;font-size:24px;margin:0;padding-top:11px;}
.month{color:#333;font-family:"opensans-bold", Tahoma;font-size:25px;margin:0;padding:10px 0 30px;}
.rupeeIcon5{margin-right:3px;}
.rupeeIcon5{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -40px -110px;display:inline-block;height:18px;margin-right:2px;width:12px;}
.rupess{margin-top:15px;margin-left:80px;}
.emiTitle{margin-left:8px;}
.buttom_applys{margin-left:11px;}
.calculator_main h3{font-size:35px;}
.abuttom_searchhv{position:absolute;}
.buttom_searchhv span{display:inline-block;margin-left:16px;margin-right:0;vertical-align:0;}
.customCheckBox{background:rgba(0, 0, 0, 0) url("../images/checkBoxSprite.png") no-repeat scroll 0 -44px;display:inline-block;height:16px;vertical-align:-2px;width:16px;}
.rupeeIcon5{margin-left:8px;margin-right:0;vertical-align:middle;}
.rupeeIcon5{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -40px -110px;display:inline-block;height:18px;margin-right:2px;width:12px;}
.resultHeading_2{color:#333;font-size:18px;margin:0;padding:0 0 22px;}
.resultHeading{color:#000;font-family:"opensans-bold", Tahoma;font-size:24px;font-weight:bold;margin:0;padding:0 0 2px;}
.perybox{float:left;width:242px;}
.perybox h4{color:#333;font-family:"opensans-bold", Tahoma;font-size:14px;font-weight:normal;margin:0;padding:0 0 3px;}
.boxrow{margin:0;overflow:hidden;padding:0 0 3px;}
.labelDiv{float:left;width:92px;}
.valueDiv{float:left;width:140px;}
.perybox{float:left;width:242px;margin-top:10px;}
.perybox h4{color:#333;font-size:18px;margin:0;padding:0 0 3px;}
.rupessd{margin-top:15px;margin-left:0px;}
.perybox_main{width:242px;margin-top:93px;}
.perybox_main h4{color:#333;font-size:18px;margin:0;padding:0 0 3px;}
.labelDivs{float:left;padding-right:6px;}
.rupeeIcon7{background:rgba(0, 0, 0, 0) url("../images/mbCompareSprite.png?1") no-repeat scroll -38px -5px;display:inline-block;height:10px;margin-right:1px;width:7px;}
.outRow{margin:0;overflow:hidden;padding:0 0 3px;}
.labelDivm{float:left;padding-right:15px;}
.rbiNotify{color:#999;font-size:12px;padding-top:10px;}
.resultHLRateRight{float:left;margin-top:20px;}
.resultHeading{color:#333;font-size:24px;margin:0;padding:0 0 0px;}
.rateRow{font-size:15px;margin:0;overflow:hidden;padding:0 0 3px;}
.buttom_searchhv{margin-bottom:16px;}
.resultTentureBox{margin:0;padding:0 0 52px;}
.resultIfYou{color:#333;font-size:14px;}
.resultHLRateLeft{padding-top:12px;width:62px;}
.buttom_search_mainl{float:left;margin:0;padding:0 20px 0 15px;position:relative;width:186px;}
.buttom_search_rest{float:left;margin:0;padding:0 20px 0 15px;position:relative;width:186px;}
.mobile_background_images{background:url("../images/mobilePattern.png")}
.mobileimages_images_google{padding-top:100px;}
.mobileimages_images_google h2{color:#333;font-size:30px;}
.mobileimages_images_google p{color:#737373;font-size:18px;}
.mobileimages_images_google > img{padding-top:25px;}
a,
a:hover,
a:focus{text-decoration:none !important;}
.side-menu{position:fixed;height:100%;width:256px;display:block;opacity:1;top:0px;right:0px;z-index:999999999;background:rgba(0, 0, 0, 0.7);padding:10px;}
.unhighlight{display:none;opacity:0;}
.side-menu-head{border-bottom:1px solid #3b4d5d;padding:10px;}
.side-menu-nav{padding:10px;list-style:none;}
.side-menu-nav > li{list-style:none;}
.side-menu-nav > li > a{display:block;padding:10px 10px;color:#fff;font-weight:300;}
.side-menu-nav > li > a:hover{color:#3b4d5d;background:rgba(255, 255, 255, 0.7);font-weight:500;}
.search-nav-tab{color:#2d2d2d!important;font-weight:500 !important;display:block !important;}
.search-nav-tab-li{color:#ccc !important;}
a{outline:none !important;}
.search-buttons{height:40px;background:transparent;border:0px;color:#fff;}
.search-buttonss{height:40px;background:transparent;border:0px;color:#5a5a5a !important;font-size:14px;}
.india_cost > img{border-radius:100px;}
//.imagesd{background:url('packages/realestate/images/aa.jpg');}
.imagesd-cover{background:rgba(0, 0, 0, 0.7);}
.come-in{transform:translateY(150px);animation:come-in 2.0s ease forwards;opacity:0;}
.come-in:nth-child(odd){animation-duration:1.7s;opacity:0;}
@keyframes come-in{to{transform:translateY(0);opacity:1;}
}
.l-dashboard{box-sizing:border-box !important;margin:0px;padding:0px;border:0px;background:#fff;}
.l-header{position:fixed;padding:10px;background:#29333d;color:#fff;z-index:10000;width:100%;height:45px;}
.l-main{position:relative;top:45px;}
.l-side-nav{position:fixed;top:45px;height:100%;width:16%;background:#222;overflow-y:scroll;}
.l-panel{position:relative;left:16%;width:84%;padding:10px;}
.l-side-nav > ul > li{width:100%;}
.l-side-nav > ul > li > a{padding:10px;display:block;}
.panel-body > ul > li{width:100%;}
.panel-body > ul > li > a{padding:10px;display:block;}
.panel-body> ul > li > a:hover{background:transparent;}
.panel-body> ul > li > a:active{background:transparent;}
.panel-body> ul > li > a:focus{background:transparent;}
.title{padding-left:20px;}
.nav-right-dashboard > li{display:inline;padding:6px 16px;}
a{outline:none !important;}
.dropdown-menu{color:#23527c !important;width:200px;}
.dropdown-menu > ul > a > li{border:0px;border-bottom:1px solid #dedede;}
.profile{width:220px;}
.profile-info{text-align:center;}
.profile-info-button{padding:10px;}
.notification-title .title{padding:10px 16px;}
.login{float:right;}
.gpc-chat-box{position:fixed;display:none;bottom:0px;right:0px;height:300px;width:300px;background:#fff;}
.gpc-chat-header{background:#29333d;padding:10px;color:#f9f9f9;height:40px;}
.gpc-chat-header > a{color:#fff;}
.gpc-header-widgets{padding-right:10px;}
.gpc-chat-body{height:200px;overflow-y:scroll;padding:10px;}
.gpc-chat-message{width:80%;}
.gpc-chat-guest-message{padding:5px 10px;font-size:12px;background:#eee;color:#000;margin:5px;text-align:left;border-radius:12px;line-height:1.28;overflow-wrap:break-word;}
.gpc-chat-user-message{padding:5px 10px;font-size:12px;background:#6b86cb;color:#fff;margin:5px;text-align:right;border-radius:12px;line-height:1.28;overflow-wrap:break-word;}
.gpc-chat-footer{border:1px solid #fff;border-top:1px solid #72afd2;height:60px;}
.gpc-chat-textarea{height:100% !important;border-radius:5px;border:0px !important;resize:none;}
.navbar-toggle{border:solid 1px white;}
.navbar-toggle .icon-bar{background-color:white;}
.btnAdvFinance2{color:black;}
.ratesNtrends li{margin:0 0 23px 3%;}
.login_form_div{padding:21px;}
.Reg_div_form{padding:21px;}
.list-price{margin-bottom:9px;}
.project li{height:57px !important;}
@media screen and (max-width:1024px){.ratesNtrends li{margin:0 0 2px 3%;MARGIN-TOP:19PX;}
#rohit_sl{height:auto !important;}
.logo_main_logo{color:#fff;padding:0px 0;}
.plan-box{margin-left:5.5%;}
.status{text-align:center;}
}
@media screen and (max-width:980px){.header-top .social-media{float:right;margin-top:9px;}
.header-top .cphone{float:left !important;}
.rtJaipur{margin-top:15px !important;}
.rtAhmedabad{margin-top:15px !important;}
.resultHeading{font-size:100%;}
.logo_main_logo{padding:0px;}
.footera .row{padding-top:30px;}
.formlabel p{float:left;}
.tab-content .form_row .formlabel{width:100%;}
.tab-content .form_row .buttom_search{width:100%;}
.tab-content .form_row .buttom_search .inputAdvFinance{width:100%;}
#tab_default_1 .emiss{float:right;}
.emis{float:right;}
#tab_default_4 .resultHLRateRight{float:none;}
#tab_default_4 .rateRow{float:right;}
.page_if{margin-top:39px;}
.tabbable-line > .nav-tabs > li{height:100px;width:49%;}
}
@media screen and (max-width:800px){.blockWidth{padding:9px 0 0px;}
.propetyds h1{margin:15px 0;}
.online_main h1{margin:10px 0;}
.calculator_main{margin:12px 0;}
.ratesNtrends li{margin:0 0 19px 16px;}
.searchibon{margin:14px 0;}
.profile{width:128px;}
}
@media screen and (max-width:768px){.contact-phone-m{display:block !important;}
.modal-dialog{top:8%;}
.timg img{height:auto;}
.ssearch{top:26% !important;}
}
@media screen and (max-width:767px){.navbar-toggle{margin-top:33px;}
.tango_ul{float:left;}
.ratesNtrends ul li{margin-top:15px !important;}
.logo_main_logo{padding-top:19px;}
.house_main_timming{padding-top:19px;}
.contact_main_contact{padding-top:19px;}
.portal_main{padding:3px;}
.mobileimages_images_google > img{margin-left:39%;}
.mobileimages_images_google h2{text-align:center;}
.mobileimages_images_google p{text-align:center;}
.mobileimages_images_google{padding-top:5px;}
#tab_default_4 .resultTentureBox{padding:49px 0 52px;}
#tab_default_4 #sameTenureSavingDiv{text-align:left;}
.formlabel p{float:left;}
.tab-content .form_row .formlabel{width:100%;}
.tab-content .form_row .buttom_search{width:100%;}
.tab-content .form_row .buttom_search .inputAdvFinance{width:100%;}
.resultHLEligibLeft{margin-top:75px;}
.buttom_apply{margin-left:0px;}
.btnAdvFinance2{width:100%;margin-top:16px;}
.emis{float:left;}
#tab_default_1 .emiss{float:left;}
.page_if{margin-top:35px;}
.modal-dialog{top:13%;width:96%;}
#tab_default_1 .resetAll{right:5%;}
#tab_default_2 .resetAll{right:5%;}
#tab_default_1 .rupess{margin-top:50px;margin-left:0px}
.mobileimages_images{text-align:center;}
.navbar-toggle{margin-right:0px;}
#tab_default_2 .rupess{margin-left:0px;margin-top:10%;}
.plan-box{margin-left:11.5%;}
.name_sq h1{text-align:center;padding-top:6px;padding-bottom:6px;}
@media screen and (max-width:736px){.ratesNtrends li{margin:0 0 19px 13px;}
}
@media screen and (max-width:667px){.ratesNtrends li{margin:0 0 19px 32px;}
.mobileimages_images_google > img{margin-left:37%;}
.plan-box{margin-left:7.5%;}
}
@media screen and (max-width:640px){.mobileimages_images_google > img{margin-left:36%;}
.plan-box{margin-left:6.5%;}
}
@media screen and (max-width:600px){.ratesNtrends li{margin:-1px 0 19px 12px;}
.plan-box{margin-left:2.5%;width:42%;}
}
@media screen and (max-width:568px){.ratesNtrends li{margin:0 0 19px 11px;}
.mobileimages_images_google > img{margin-left:34%;}
.ratesNtrends li{width:134px;}
.left{margin-left:-0.5%;}
.ssi{width:49% !important;}
.ssi-pro{margin-left:3px;margin-bottom:6px;}
}
@media screen and (max-width:480px){.rupess{text-align:center;margin-top:36px;margin-left:0px;}
.modal-dialog{top:20%;}
.plan-box{margin-left:20%;width:220px;}
.loan_main_classr p{font-size:20px;}
.mobileimages_images img{width:100%;}
.mobileimages_images_google{padding-top:35px;}
.calculator_main h3{font-size:27px;}
#tab_default_4 .resetAll{right:-53%%;}
#tab_default_3 .resetAll{right:-53%;}
.mobileimages_images_google > img{margin-left:31%;}
#tab_default_1 .resetAll{right:5%;}
#tab_default_2 .resetAll{right:5%;}
.house_main_timming,
.contact_main_contact{padding-top:0px;}
.name_sq h1{font-size:24px;}
.tw_time{text-align:center;}
}
@media screen and (max-width:414px){.mobileimages_images_google > img{margin-left:28%;}
.header-top .social-media{padding-left:0px;}
.plan-box{margin-left:15%;}
.list-features > ul > li{padding-left:4% !important;padding-right:4% !important;}
}
@media screen and (max-width:384px){.ratesNtrends li{width:115px;}
.mobileimages_images_google > img{margin-left:27%;}
.ssearch .bs-example-tabs .nav-tabs li{margin-bottom:7px !important;padding-right:4px !important;}
}
@media screen and (max-width:375px){.searchibon{margin:5px 0;}
.ratesNtrends li{margin:-1px 0 20px 9px;width:113px;}
.mobileimages_images_google > img{margin-left:26%;}
.plan-box{margin-left:12%;}
}
@media screen and (max-width:360px){.mobileimages_images_google > img{margin-left:26%;}
.header-top .cphone{float:none !important;width:100% !important;}
.social-media{padding:0px;}
.header-top .cphone > li{width:100% !important;text-align:center !important;}
.plan-box{margin-left:10%;}
.ratesNtrends ul{margin:0px !important;padding:0px !important;}
.ratesNtrends li{margin:0 0 20px 6%;width:135px;}
.mobileimages_images_google h2{font-size:23px;}
.blockHeading h2{font-size:23px;}
.calculator_main h3{font-size:23px;}
.online_main h1{font-size:23px;}
.propetyds h1{font-size:23px;}
.propetyd h1{font-size:23px;}
.groupimgs h3{font-size:22px;}
#tab_default_4 .resultHLRateRight{float:none;margin-top:10px;}
#tab_default_4 .resultHLRateRight{margin-top:6px;}
#tab_default_4 .rateRow{padding:0 0 3px 48px;text-align:right;}
#tab_default_4 .resultTentureBox{padding-top:48px;padding-bottom:0px;}
#tab_default_1 .emiss{float:left;padding:0px;font-size:15px;}
#tab_default_1 .emis{padding:7px;}
.tabbable-line > .nav-tabs > li{width:100%;}
.login_form_div .about{text-align:center;}
.login_form_div .about .check_login{text-align:left;}
.list-features > ul > li{padding-left:4% !important;padding-right:3% !important;}
}
@media screen and (max-width:320px){.ratesNtrends li{margin:0 0 4px 3%;width:125px;}
.mobileimages_images_google > img{margin-left:22%;}
.plan-box{margin-left:3%;}
.resultHLEligibLeft{margin-top:90px;padding-right:0px;}
.mobileimages_images_google > img{margin-left:20%;}
#tab_default_4 .rateRow{padding:0px;}
#tab_default_4 .resultHLRateRight{margin-top:13px;}
#tab_default_4 .labelDiv{width:79px;}
#tab_default_4 .valueDiv{width:108px;}
#tab_default_4 .resultHLRateLeft{padding-top:17px;}
#tab_default_1 .resetAll{right:-9%;}
#tab_default_1 .emis{font-size:15px;}
#tab_default_2 .resetAll{right:-9%;}
#tab_default_3 .resetAll{right:-36%;}
.name_sq h1{font-size:20px;}
.list-features > ul > li{padding-left:2% !important;padding-right:2% !important;}
}
@media screen and (max-width:259px){.langd{min-width:32px !important;}
}
@media screen and (max-width:240px){.social-media #login{width:173px;}
.social-media #plans{width:173px;margin-top:8px;}
.mobileimages_images_google > img{margin-left:20%;}
}
@media screen and (min-width:320px) and (max-width:480px){.loginbtn{margin-top:20px;width:50%;}
.registerbtn{margin-top:20px;width:50%;}
#login{float:left;}
.flagbtn{float:right!important;}
.langd{min-width:0px;padding:3px 0px;}
}
