/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q demo
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}


/*
 * MyFonts Webfont Build ID 1114443, 2011-09-02T06:08:04-0400 - REGULAR
 * MyFonts Webfont Build ID 1118460, 2011-09-05T07:13:16-0400 - MEDIUM
 * MyFonts Webfont Build ID 825795, 2011-05-26T03:42:08-0400 - SEMIBOLD
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1114443 - REGULAR
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1118460 - MEDIUM
 * License: http://www.myfonts.com/viewlicense?1056 - SEMIBOLD
 *
 * Webfont: Geogrotesque SemiBold
 * URL: http://new.myfonts.com/fonts/emtype/geogrotesque/semibold/
 * Foundry: Emtype Foundry
 * Copyright: Copyright © 2009 by Eduardo Manso. All rights reserved.
 * Licensed pageviews: 10,000,000/month
 *
 * © 2011 Bitstream Inc
*/

/* GEO - Semibold */
@font-face {font-family: 'Geogrotesque-SemiBold';src: url('../fonts/webfonts/geo-semibold/eot/style_169898.eot');src: url('../fonts/webfonts/geo-semibold/eot/style_169898.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/geo-semibold/woff/style_169898.woff') format('woff'),url('../fonts/webfonts/geo-semibold/ttf/style_169898.ttf') format('truetype'),url('../fonts/webfonts/geo-semibold/svg/style_169898.svg#Geogrotesque-SemiBold') format('svg');}

/* GEO - Medium */
@font-face {font-family: 'Geogrotesque-Medium';src: url('../fonts/webfonts/geo-medium/eot/1110FC_0.eot');src: url('../fonts/webfonts/geo-medium/eot/1110FC_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/geo-medium/woff/1110FC_0.woff') format('woff'),url('../fonts/webfonts/geo-medium/ttf/1110FC_0.ttf') format('truetype'),url('webfonts/1110FC_0.svg#wf') format('svg');}

/* GEO - Regular */
 @font-face {font-family: 'Geogrotesque-Regular';src: url('../fonts/webfonts/geo-regular/eot/11014B_0.eot');src: url('../fonts/webfonts/geo-regular/eot/11014B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/geo-regular/woff/11014B_0.woff') format('woff'),url('../fonts/webfonts/geo-regular/ttf/11014B_0.ttf') format('truetype'),url('../fonts/webfonts/geo-regular/svg/11014B_0.svg#wf') format('svg');}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/webfonts/flexslider-icon.eot');
	src:url('../fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/flexslider-icon.woff') format('woff'),
		url('../fonts/webfonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General
***********************/
body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: auto;
}
a {
	color: #fff;
	text-decoration: none;
}
*{
	margin:0;
	padding:0;
}
h3 {
	margin: 0 0 8px;
	color: #fff;
}
a:focus{
	color:#fff;
}
a:hover{
	text-decoration:none;
	transition:all 0.5s;
}
p {
	font-size: 14px;
	line-height: 18px;
}

/* --Clearfix */
.cf:before,
.cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}

.toggle { margin: 2px 0 0 14px; float: left; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.toggle li { float: left; }
.toggle li a {width: 50px; padding: 6px 0; text-align: center; display: block; text-shadow: 1px 1px 0 #fff; font-size: 12px; font-weight: 600; color: #666; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */

box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-moz-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-webkit-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;

}
.toggle li:first-child a {-webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.toggle li a:hover { background: #ededed; color: #222; }
.toggle li a.active { background: #c8e0f3; color: #325874; cursor: default; box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); }


#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}

.button {
  display: inline-block;
  margin: 0;
  padding: .461em 1.563em .41em;
  color: #fff!important;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  line-height: 1;
  font-size: .9em;
  cursor: pointer;
  font-family: "proxima-nova", sans-serif;
  border: 1px solid #1a4064;
  background: #255a8c;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.button:active  {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button.green  {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #578824;
  background: #71b02f;
}
.button.green:hover  {
  background: #79bc32;
}
.flex-direction-nav {
	display: none;
}

.flexslider {
	margin: 0 0 8px;

}
/* Loading
***********************/
.loading #container {opacity: 0;}
.loading:before  { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: #fff; font-weight: bold; font-size: 60px; opacity: 0.3; }
body {width: 100%; float: left; opacity: 1; -webkit-transition: opacity 1s ease;}

/* Layout
***********************/
#container {padding: 60px 40px 100px;}

#main {margin-left: 420px; margin-top: -25px;overflow: hidden;}
aside h3 {float: left;}

/* Header
***********************/
header .logo {
	display: block;
	margin: 0 25px 0;
	position: relative;
}
.logo span {
	position: absolute;
	right: 40%;
	top: 13px;
}
.logo span a {
	color: #23527c;
}
.sd {
	position: absolute;
	left: 0;
	text-align: 20px;
	top: 30px;
}
header h1 { font-family: Geogrotesque-Semibold, Helvetica, Arial, sans-serif; margin: 0 0 10px; text-shadow: 0 1px 0 #2F4C63; color: #fff; font-size: 42px; }
header h2 { margin: 0 0 30px; font: normal 20px Geogrotesque-regular, Helvetica, Arial, sans-serif; text-shadow: 0 1px 1px #555; color: #fff; }
header .button { margin: 0 0 50px; padding: 10px 15px 10px 15px; position: relative; }
h3.nav-header { width: 200px; margin: 0 0 10px; padding: 0 0 3px; font-size: 18px; text-shadow: 0 1px 1px #555; color: #fff; font-family: Geogrotesque-Regular, Helvetica, Arial, sans-serif; border-bottom: 1px solid #fff; border-bottom: 1px solid rgba(255,255,255,0.5); }
nav { margin-bottom: 20px; }
nav li {margin: 0 0 7px; font-size: 15px; }
nav li a:hover,
nav li.active a  {border-bottom: none; border-bottom: none; background: none;}
nav li.active a  { cursor: default; }

.header .log ul li{
	display:inline-block;
}
#sidebar-nav nav li a:hover, #sidebar-nav nav li.active a{
	border-bottom:none;


}


.header .log ul li {
	display: inline-block;
	font-weight: 500;
	padding: 0 14px 0 0;
}
.header .log ul li a {
	color: #1e1e1e;
	text-decoration: none;
	font-size: 13px;
}
.header .form-inline.cc label {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 17px;
}
.dropdown-menu.style-one li a span {
	font-size: 16px !important;
	margin-left: 13px;
	vertical-align: top;
}
.log .account.dropdown a span {
	padding-bottom: 9px;
	vertical-align: bottom;
}
.header .log ul li:last-child {
	padding-right: 0;
}
.header .log ul {
	margin-top: 13px;
	text-align: right;
}
.header {
	position: absolute;
	z-index: 99999999;
	width: 100%;
	text-align: ;
	top: 0;
	padding-top: 30px;
	float: left !important;
	height: 100px;
}
header.fixed-top {
	position: fixed !important;
	padding-top: 13px;
	padding-bottom: 13px;
	background: #fff;
	background: #fff !important;
	box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1) !important;

}
.header.header_sec {
	float: none !important;
	position: static;
}
header.header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 999;
	padding-top: 10px;
	padding-bottom: 20px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-animation: slideIn 0.3s 1 ease-out;
	animation: slideIn 0.3s 1 ease-out;
}
header.header_sec {
	-webkit-transition: none;
	transition: none;
	-webkit-animation: none;
	animation: none;
}
.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99999 !important;
}


.header .log icn {
	margin-right: 11px;
	font-size: 18px;
}
.header .form-inline .form-control {
	border: none;
	background: transparent;
	box-shadow: none;
	color: #333;
	border-bottom: 1px solid #1e1e1e;
	border-radius:0;
}
.header .form-inline.cc {
	text-align: center;
	padding-top: 31px;
}
.header .log ul .log_in {
	text-align: left;
}
.header .modal-dialog {
	width: 55%;
}
.header .modal-body {
	display: inline-block;
}
.header .modal-content {
	border-radius: 0;
}
.log {
	padding-top: 9px;
}
.icn {
	margin-right: 5px;
}
.icn i {
	font-size: 18px;
}
.form-inline.cc .form-control {
	height: 12px;
}
ul.side_nav {
	padding-left: 4px;
	margin-top: 44px;
}
ul.side_nav {
	display: block;
}
ul.side_nav li {
	padding-bottom: 10px;
}
ul.side_nav li a {
	color: #1e1e1e;
	font-size: 14px;
	text-decoration:none;
}
ul.side_nav li.nm a {
	font-size: 13px !important;
}
.sidebar-nav li.nm a {
	font-size: 13px !important;
}
.side_nav .cv {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 8px 0;
	margin-top: 10px;
	font-size: 11px;
	color: #000;
	max-width: 203px;
}

.side_nav .cvs {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 8px 0;
	margin-top: 10px;
	font-size: 11px;
	color: #000;
	max-width: 203px;
}

#sidebar-wrapper .cv {
	padding: 8px 0 7px 30px;
	margin-bottom: 15px;
}
#sidebar-wrapper .cvs {
	padding: 8px 0 7px 30px;
	margin-bottom: 15px;
	color:#000;
}
#sidebar-wrapper .cvs {
	padding: 8px 0 7px 30px;
	margin-bottom: 15px;
}
.log .account.dropdown a {
	background: transparent;
	border: none;
}
#dropdownMenu2:active {
	box-shadow: none;
}
.log .dropdown-menu.style-one {
	margin-top: 0;
	text-align: left;
}
.log .dropdown-menu {
	left: 11px;
	background-color: #fff;
	border: 1px solid #ccc;
	box-shadow: none;
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.header .log ul li:first-child {
	padding-right: 5px;
}

.header .log ul li:first-child {
	padding-right: 17px;
}
ul.side_nav li.bn {
	margin-bottom: 14px;
}
.sidebar-nav li.bn a {
	padding-bottom: 21px;
}
ul.side_nav li.bns {
	margin-bottom: 14px;
}
.sidebar-nav  li.bns {
	margin-bottom: 14px;
}
.sidebar-nav  li.bns  span{
	color:#000;
	font-style:italic;
	font-size:10px;
}
ul.side_nav li.bn a {
	color: rgb(207, 10, 44);
}
.side_nav span {
	font-size: 10px;
	font-style: italic;
}
.RCSlideoverlay h1 {
	font-size: 4.5vw;
	color: #fd8002;
	font-weight: 600;
}
.RCSlideoverlay {
	position: absolute;
	top: 16%;
	right: 0;
	text-align: center;
	left: 0;
}
.RCSlideoverlay p {
	color: #1e1e1e;
	font-weight: 500;
	padding-top: 30px;
	font-size: 16px
}
.RCSlideoverlay a {
	color: #000;
	font-weight: 500;
	padding-top: 24px;
	display: block;
	text-decoration: underline;
	font-size: 17px;
}
.RCSlideoverlay_2 a {
	color: #fff;
	font-weight: 500;
	padding-top: 50px;
	display: block;
	text-decoration: underline;
	font-size: 21px;
	text-align:right;
}
.RCSlideoverlay_3 a {
	color: #fff;
	padding-top: 140px;
	display: block;
	text-decoration: underline;
	font-size: 21px;
	text-align:right;
}
.flex-control-paging li a {
	width: 77px !important;
	height: 7px !important;
	background: #666 !important;
	background: #fff !important;
	border-radius: 0 !important;
	box-shadow:none !important;
}
.flex-control-nav {
	bottom: 55px !important;
	z-index: 9999 !important;
}
.flex-control-paging li a.flex-active {
	background: #ddd !important;
	box-shadow:none !important;

}
.RCSlideoverlay h1 {
	font-size: 62px;
	color: #fd8002;
	font-weight: 600;
}
.RCSlideoverlay_2 {
	position: absolute;
	top: 15%;
	right: 7%;
	text-align: center;

}
.RCSlideoverlay_3 {
	position: absolute;
	top: 15%;
	right: 7%;
	text-align: center;

}

.RCSlideoverlay_2 p {
	color: #fff;
	font-weight: 400;
	padding-top: 33px;
	font-size: 27px;
	text-align:right;
	font-family: 'Playfair Display', serif;
	line-height:30px;
}
.RCSlideoverlay_2 h1 {
	font-size: 61px;
	color: #fff;
	font-weight: 600;
	text-align:left;
	font-family: 'Playfair Display', serif;
}
.RCSlideoverlay_3 h1 {
	font-size: 102px;
	color: #fff;
	text-align: right;
	font-weight: 700;
	line-height: 94px;
}
.RCSlideoverlay_3 p {
	color: #fff;
	font-weight: 400;
	padding-top: 46px;
	font-size: 27px;
	text-align: right;
	line-height: 30px;
	position: relative;
}
.RCSlideoverlay_3 p::before {
	content: "";
	border-top: 1px solid #fff;
	height: 1px;
	width: 30px;
	position: absolute;
	right: 0;
	top: 22px;
}
.discount  .news_f_1::before, .discount  .news_f_1::after {
	content: "-";
	display: inline-block;
	margin: 0 10px;
}
.flexslider {
	margin: 0 !important;

}
.discount {
	text-align: center;
	padding: 26px 0 30px;
}
.discount  .bloque-message-news .bold {
	font-weight: 700;
}
.discount p {
	font-size: 15px;
}
.discount .news_f_1.bold {
	font-weight: 700;
}
.discount h3  a{
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}
.discount h3 span {
	margin-right: 10px;
	color: #000;
	vertical-align: middle;
}
.discount h3 {
	margin: 0;
	padding: 9px 0;
}
.discount .news_f_3.news_small.news_small_tregalo {
	font-weight: 700;
	font-size: 12px;
}
.new .no-padd {
	padding: 0;
}
.new h1 {
	position: absolute;
	color: #fff;
	font-size: 35px;
	z-index: 99999;
	bottom: 15%;
	left: 0;
	right: 0;
	text-align: center;
	text-transform: uppercase;
}
.new a:hover {
	text-decoration: none;
	color:#fff;
}
.category a:hover {
	text-decoration: none;
	color:#fff;
}
.jm p {
	color: #333;
	font-size: 11px;
}
.jm span {
	font-weight: 700;
	padding: 0 0 5px;
}
.category .no-padd {
	padding: 0;
}
.category-content img {
	display: block;
}
.new img {
	display: block;
	width: 100%;
}
.category-content h1 {
	position: absolute;
	color: #fff;
	text-align: ;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 500;
}

/* flask */


.glyphicon-chevron-left::before {
	content: none;
}
.glyphicon-chevron-right::before {
	content: none;
}


.flask .sec_main {
	text-align: center;
	background: #fff;
	padding: 12px 0;
}
.flask .sec_main h5{
	color:#859bbe;
	font-size:21px;
	margin:0;
}
.flask .sec_main img {
	margin-bottom: 30px;
}
.flask .sec_main h4 {
	font-size: 24px;
}
#feedback h3 {
	color: #1e1e1e;
	padding-top: 20px;
	font-size: 17px;
	font-weight: 500;
}
.flask i {
	text-shadow: none;
	font-size: 50px;
	padding-top: 30px;
}
.flask .sect_main {
	padding: 0px 46px;
}
.flask .sec_main p {
	text-align: left;
	padding-bottom: 5px;
	font-size: 13px;
}

#testi_slide {
	background: #fff;
	padding: 0 0 39px;
	border-radius: 7px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: block !important;
}
.flask .owl-carousel .owl-item img {
	display: inline;
}


.flask .owl-carousel .owl-stage-outer {
	position: static !important;

}
.flask .owl-carousel .owl-stage {
	position: static !important;

}
.flask .owl-carousel, .owl-carousel .owl-item {
	position: static !important;
}
.flask .owl-prev {
	position: absolute;
	left: 15px;
	top: 32%;
}

.flask .owl-next {
	position: absolute;
	top: 32%;
	right: 15px;
}
.flask_cntr {
	max-width: 1245px !important;
	margin: 0 auto;
}




.newsletter .form-control {
	font-size: 11px;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: #000;
	border-bottom: 1px solid #000;
	text-align: center;
	text-transform: uppercase;
}
.newsletter .form-control::placeholder {
	color: #000;
}
.newsletter {
	max-width: 500px;
	margin: 0 auto;
}
.newsletter .checkbox label {
	line-height: 20px;
	font-size: 13px;
	text-align: center;
}
.newsletter .checkbox {
	margin-top: 48px;
}
.subscribe_res {
	margin-top: 27px;
	text-align: center;
	margin-bottom: 40px;
}
.newsletter thead th {
	font-weight: normal;
	font-size: 1.1rem;
	text-transform: uppercase;
	color: #333;
	text-align: left;
	padding: 8px 4px;
}
.newsletter .terms-table-container .mas-info {
	text-decoration: underline;
	color:#333;
}
.newsletter .terms-table-container th {
	text-align: center;
}
.newsletter .terms-table-container th, .newsletter .terms-table-container td {
	font-size: 11px;
	line-height: 1.1rem !important;
}
.newsletter table tbody tr {
	border-bottom: 1px solid #ebebeb;
}
.newsletter thead {
	border-bottom: 1px solid #e6e2e7;
	border-top: 1px solid #e6e2e7;
	background: #f2f2f2;
}
.newsletter tbody td, .newsletter tbody th {
	padding: 8px 4px;
}
.subscribe_res a {
	border: 1px solid #000;
	color: #000;
	padding: 11px 38px;
	text-transform: uppercase;
	font-size: 13px;
}
.subscribe_res a:hover {
	border: 1px solid #000;
	background:#000;
	color:#fff;
	text-decoration:none;
}

.footer_social h3 {
	color: #000;
	text-align: center;
	font-weight: 400;
	text-shadow: none;
	margin: 0;
	padding: 43px 0 10px;
}
.footer {
	padding-bottom: 60px;
	border-top: 1px solid #ccc;
	padding-top: 50px;
	border-top-style: dotted;
	display: inline-block;
	width:100%;
}
.footer_fg {
	float: none;
	margin: 0 auto;
}
.footerLinks a {
	display: block;
	color: #666;
	padding-bottom: 6px;
	font-size: 11px;
	cursor:pointer;
}
.footerLinks .jm a{
	display: inline-block !important;
}
.footer_sec .col-md-offset-2 {
	margin-left: 20%;
}
.border {
	width: 81%;
	float: right;
	border-top: 1px solid #ccc;
	border-top-style: dotted;
}
.footerLinks a:hover {
	color: #222;

}
.footerLinks h4 {
	font-size: 11px;
	padding: 55px 0 15px;
	font-weight: 400;
	color: #000;
	text-transform: uppercase;
}

.footer_social ul {
	text-align: center;
	margin-top: 20px;
}
.footer.footer_sec {
	border-top: none;
}
.xz img {
	display: inline;
}
.drop_cstm ul li img {
	width: 34px;
}
.footer.cstm_ft .col-md-9.col-sm-9 {
	float: none;
	margin: 0 auto;
}
.nj p {
	padding: 3px 0 !important;
}
#billing_add_modall .radio_sec {
	margin: 20px 0 37px;
}
.xz {
	text-align: left;
}
.footer_social ul li {
	display: inline-block;
	margin: 0 3px;
}
.footer_social ul li a {
	color: #1e1e1e;
	font-size: 20px;
}
.footer_social ul li a:hover {
	color: #888b8d;
}
#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	top: 100px;
	height: 383px;

}
.sidebar-nav {
	position: absolute;
	top: 26px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	position: relative;
	line-height: 0;
	display: inline-block;
	width: 100%;
	font-size: 110%;
	text-transform: uppercase;
	outline: none;
	margin: 0;
}
.nm_sec {
	padding-left: 0;
}
.nm_sec2 {
	padding-right: 0;
}
.sidebar-nav li a{
	padding-bottom: 7px;
}
.logo_res {
	display: none;
}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 17px 15px 10px 30px;
	font-size: 13px;
	color: #1e1e1e;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
    height: 44px;
    font-size: 18px;
    line-height: 1.43;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
#menu-toggle {
    z-index: 801;
    position: fixed;
    top: 21px;
    left: 15px;
	display:none;
}
#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 5px 5px 0 0;
	color:#000;
}
#to-top {
    position: fixed;
    right: 1.5%;
    bottom: .5%;
    z-index: 799;
}

.con{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.con input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border: 2px solid #000;
	margin-right: 5px;
}

/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.con .checkmark::after {
	left: 6px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



/* contact us
***********************/



.contact_inner {
	background-image: url(../images/banner_contact.jpg);
	padding: 137px 0 150px;
	text-align: center;
	background-position: center;
	background-size: cover;
	margin-bottom: 35px;
}
.contact h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 600;
	text-align: left;
	padding-left: 40px;
}
.contact-form {
	padding: 0 0 49px;
	margin-top: 8px;
}
.contact-form h2 {
	font-size: 26px;
	font-weight: 600;
}
.contact-form ul.side_nav {
	margin-top: 20px ;
	position: fixed;
}
.contact-form p {
	font-size: 16px;
	padding-top: 26px;
	padding-bottom: 40px;
	padding-left: 17px;
}
.contact-form ul.side_nav {
	padding-left: 4px;
	margin-top: 0;
}

.contact-form label {
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 15px;
}
.contact-form .sec {
	margin-top: 4px;
}
.contact-form .form-control {
	font-size: 15px;
	color: #000;
	border: none;
	border-radius: 0;
	box-shadow: none;
	height: 32px;
	border-bottom: 1px solid #000;
}
.contact-form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #7b7b7b;
	background: url(../images/arrow_down.jpg) 22px center no-repeat;
	background-position: 98%;
	background-color: #fff;
	padding:6px 4px;
}
.form_sec .group label {
	width: auto;
}
.check_sec .checkmark {
	height: 14px;
	width: 14px;
}
.check_sec .con .checkmark::after {
	left: 3px;
	top: 0px;
}
.sec .form-control.form-sd {
	height: auto;
}
.check_sec .checkbox {
	margin-bottom: 21px;
}
.check_sec input[type="radio"], .check_sec input[type="checkbox"] {
	margin: 1px -20px 0;
}
.check_sec label {
	font-weight: 400;
}
.sub_sec .checkbox label {
	padding-left: 33px;
	line-height: 21px;
}
.sub_sec .checkmark {
	top: 0;
}
.submit_sec input[type="submit"] {
	background: #fff;
	border: 1px solid #000;
	padding: 14px 25px;
}
.submit_sec .buttons:hover {
	background: #000;
	color: #fff !important;
}
.sub_sec .con {
	font-weight: 300;
}
.submit_sec {
	margin-top: 35px;
	margin-bottom: 50px;
	text-align: center;
}
#shipids {
	width: 230px;
}
.group {
	position: relative;
	margin-bottom: 32px;
}

.form_input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	color: #000;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #000;
}
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar::before {
	left: 50%;
}
.bar::before, .bar::after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #000;
	transition: all 0.2s ease;
}
#shipidsnew .cont_btn {
	margin-top: 30px;
	display: inline-block;
	float: left;
}
#shipidsnew .cont_btn a {
	background: #fff;
	color: #000;
	border: 1px solid #000;
}
#shipidsnew .cont_btn a:hover {
	background: #000;
	color: #fff;
}
.billing  #shipidsnew{
	margin-bottom: 66px;
	margin-top: 5px;
}
.errorbar::before, .errorbar::after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 19px !important;
	position: absolute;
	background: #000;
	transition: all 0.2s ease;
}
.bar::after {
	right: 50%;
}
.slider {
	height: 795px;
}
.flexslider .slides img {
	height: 795px;
}
.bar::before {
	left: 50%;
}

.group input:focus {
	outline: none;
}
.group input:focus  ~.bar:before, input:focus  ~.bar:after { width: 50%;}
.group label {
	color: #1e1e1e;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: auto;
	left: 5px;
	top: 11px;
	transition: all 0.2s ease;
	text-align: center;
	width: 100%;
}




/* active */

input:focus~ label, input.used ~ label {
  top: -15px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
input:focus~ label.error, input.used ~ label.error {
  top: 5px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
/*.error-label{
	top:-15px;
}*/
input:focus ~ label.check-button, input.used ~ label.check-button {
  top: 11px;
  transform: initial;
  left:5px;
  /* font-size: 14px; */
  color: #000;
}

/* product
***********************/

.icon_panel {
	font-size: 22px;
	margin-right: 10px;
	vertical-align: bm;
}

.term a {
	padding-top: 10px;
	display: inline-block;
	color: #23527c;
}
.product {
	display: inline-block;
	padding-bottom: 40px;
	width: 100%;
}
.product .carousel-control.left {
	background-image: none;
}
.product .carousel-control.right {
	background-image: none;
}
.forget_vb a {
	color: #8b8b8b;
}
.forget_vb a:hover {
	color: #1e1e1e;
}
.forget_vb {
	margin-bottom: 21px;
}
.product .carousel-indicators {
	display: none;
}
.product_inner .product_content h2 a {
	color: #000;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
}
.product_inner .product_content h2 a:hover {
	color: #888b8d;
    text-decoration:none;
}
.product_inner .product_content h2 {
	padding-top: 42px;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
}
.product_content .carousel-inner {
	min-height: 280px;
}
.product .side_nav {
	position: fixed;
}
.product_inner .product_content p {
	color: #000;
	padding-top: 8px;
	text-align: center;
	font-size: 13px;
}
.product .product_inner .padd-sec {
	padding: 0 3px;
}
.product .product_inner {
	padding-left: 27px;
}
.jm p span {
	line-height: 12px;
}
a.carousel-control {
	color: #f6f6f6;
	text-shadow: none;
}
a.carousel-control:hover{
	color: #000;

}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 46%;

}

.product .product_inner .product_main{
	position:relative;
}
.product .product_inner .product_main h2 {
	position: absolute;
	color: #000;
	font-weight: 600;
	top: 5%;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 24px;
}

.product .product_inner .no-padd {
	padding:0;
}

.product_info h2 {
	font-weight: 700;
	font-size: 14px;
	color: #000;
	padding-top: 0;
}
ul.sale_last li a {
	font-size: 10px !important;
	font-weight: 600;
}
.product_info h5 {
	font-weight: 700;
	font-size: 12px;
	margin-top: 10px;
}
.product_info p {
	font-size: 12px;
	margin-top: 7px;
	text-transform: uppercase;
	padding-bottom: 25px;
	padding-left: 0;
}
.more_quilt p {
	text-transform: uppercase;
	font-size: 10px;
	margin: 0px 0 22px;
	padding-bottom: 0;
	padding-top: 0;
}
.more_quilt p span {
	margin-right: 10px;
}
.more_quilt p a{
	color:#1e1e1e;
	text-decoration:none;
}
.full_img {
	margin-bottom: 10px;
}

.more_quilt p a:hover{
	color:#888b8d;
}
.next_info a{
	display:inline-block;
	color:#000;
}
.next_info {
	text-align: right;
	margin: 5px 0 30px;
}
.next_info a {
	display: inline-block;
	color: #000;
	text-align: center;
}
.next_info a {
	display: inline-block;
	color: #1e1e1e;
	font-size: 21px;
	margin: 0 9px;
}
.size ul{
	list-style:none;
}
.size ul li{
	display:inline-block;
}
.size ul li:first-child {
	width: 78%;
	float: left;
	margin-right: 4px;
}
.size ul li:last-child{
	width:20%;
	float:left;
}
.size ul li:last-child{
	color: rgba(0,0,0,0.54);
}
.size ul li:last-child span {
	margin-left: 3px;
}
.size ul li:last-child label {
	font-size: 9px;
	color: rgba(0,0,0,0.54);
	margin-bottom: 0;
	font-weight: 400;
}
.size ul li .form-control {
	border: none;
	border-bottom: 1px solid #000;
	box-shadow: none;
	border-radius: 0;
	color: #1e1e1e;
	font-size: 13px;
}
.size select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #7b7b7b;
	background: url(../images/black_arrow.jpg) 22px center no-repeat;
	background-position: 98%;
	background-color: #fff;
	padding: 6px 4px;
}

.ds{
display:block !important;
}

.re{
display:none;
}



.size .basket_btn {
	margin-top: 30px;
	display: inline-block;
	width: 100%;
}
.size .basket_btn a {
	color: #000;
	border: 1px solid #000;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 13px 0;
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
}
.size .basket_btn a:hover {
	color: #fff;
	background-color:#000;
	transition: all 0.5s;
}

.info_plus a:last-child {
	font-size: 15px;
}
.info_plus {
	margin: 20px 0;
}
.info_plus a {
	display: inline-block;
	color: #1e1e1e;
	text-transform: uppercase;
	font-size: 11px;
	text-decoration:none;
}
.info_plus a span {
	margin-right: 3px;
	font-size:15px;
}
.qd {
	 padding-left: 0;
}
.qd a {
	font-size: 12px !important;
}
.az {
	text-align: right;
	padding-right:0;
}
.heart_as {
	margin-left: 15px;
}
.product_info h4 {
	color: #1e1e1e;
	padding-top: 29px;
	font-size: 13px;
	line-height: 1.4;
}


.swiper .glyphicon-chevron-left::before {
	content: none;
}
.swiper .glyphicon-chevron-right::before {
	content: none;
}


.swiper .sec_main {
	text-align: center;
	background: #fff;
	padding: 12px 0;
}
.swiper .sec_main h5{
	color:#859bbe;
	font-size:21px;
	margin:0;
}
.swiper .sec_main img {
	margin-bottom: 30px;
}
.swiper .sec_main h4 {
	font-size: 24px;
}
.swiper h3 {
	color: #1e1e1e;
	padding-top: 20px;
	font-size: 17px;
	font-weight: 500;
}
.swiper i {
	text-shadow: none;
	font-size: 18px;
	padding: 5px 13px;
}
.swiper .sect_main {
	padding: 0px 46px;
}
.swiper .sec_main p {
	padding-bottom: 5px;
	font-size: 13px;
	font-weight: 500;
	white-space: nowrap;
	text-align: center;
	text-overflow: ellipsis;
	padding-top: 4px;
	overflow: hidden;
}
.swiper #testi_slide {
	background: #fff;
	padding: 0 0 39px;
	border-radius: 7px;
}
.swiper .owl-carousel .owl-dots.disabled, .swiper .owl-carousel .owl-nav.disabled {
	display: block !important;
}
.swiper .owl-carousel .owl-item img {
	display: inline;
}


.swiper .owl-carousel .owl-stage-outer {
	position: static !important;

}
.swiper .owl-carousel .owl-stage {
	position: static !important;

}
.swiper .owl-carousel, .owl-carousel .owl-item {
	position: static !important;
}
.swiper .owl-prev {
	position: absolute;
	right: 66px;
	top: 17px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.01);
}

.swiper .owl-next {
	position: absolute;
	top: 17px;
	right: 21px;
	box-shadow: 0 3px 6px rgba(0, 0, 0, 0.11), 0 3px 6px rgba(0, 0, 0, 0.01);
}
#feedback {
	position: relative;
}
.swiper .flask_cntr {
	max-width: 1245px !important;
	margin: 0 auto;
}
#testi_slide_1 .owl-prev {
	top: 15px;
}
#testi_slide_1 .owl-next {
	top: 15px;
}



.size_slider ul{
	list-style:none;
}
.size_slider ul li{
	display:inline-block;
}
.size_slider ul li:first-child {
	width: 75%;
	float: left;
	margin-right: 4px;
	margin-top: 14px;
}
.size_slider ul li:last-child{
	width:20%;
	float:left;
}
.size_slider ul li:last-child{
	color: rgba(0,0,0,0.54);
}
.size_slider ul li:last-child span {
	margin-left: 3px;
}
.size_slider ul li:last-child label {
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.sg .basket_btn {
	width: 100% !important;
}
.size_slider ul li .form-control {
	border:none;
	border-bottom:1px solid #000;
	box-shadow:none;
	border-radius:0;
	color:#000;
}
.size_slider select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #7b7b7b;
	background: url(../images/black_arrow.jpg) 22px center no-repeat;
	background-position: 98%;
	background-color: #fff;
	padding: 6px 4px;
}
.size_slider .basket_btn {
	margin-top: 30px;
	display: inline-block;
	width: 96%;
}
.size_slider .basket_btn a {
	color: #000;
	border: 1px solid #000;
	width: 100%;
	display: inline-block;
	text-align: center;
	padding: 13px 0;
	text-transform: uppercase;
	font-size: 11px;
	text-decoration: none;
}
.size_slider .basket_btn a:hover {
	color: #fff;
	background-color:#000;
	transition: all 0.5s;
}
.side_fix {
	position: fixed;
	right: 0;
}



.modal-header {
	padding: 9px 21px 0;
	border-bottom: none;
}
.log_in.df {
	margin-top: 0;
}
.contact-form .log_in h4 {
	font-weight: 600;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}
.contact-form .log_in p {
	color: #000;
	font-size: 13px;
}
.contact-form .log_in .group label {
	font-size: 13px;
	text-align: left;
}
.contact-form .log_in {
	margin-top: 30px;
}
.contact-form .log_in .submit_sec input[type="submit"] {
	width: 100%;
	max-width: 300px;
	padding: 12px 25px;
	font-size: 11px;
	color: #000;
}

.social_btns a {
	text-transform: uppercase;
	color: #fff;
	background-color: #4C69BA;
	padding: 14px 0 9px;
	width: 100%;
	justify-content: center;
	display: block;
	font-size: 12px;
	text-align: center;
	text-decoration: none;
	max-width: 300px;
}
.social_btns a:hover {
	background-color: #5B7BD5;
}

.social_btns a.fb{
	background-color:#4285F4;
}
.social_btns a.fb:hover{
	background-color:#5e97f2;
}

.social_btns span {
	margin-right: 12px;
	font-size: 20px;
	vertical-align: middle;
}
.social_btns {
	margin-top: 15px;
}
.fb {
	margin-top: 10px;
}
.contact-form .log_in .col-md-8.col-sm-8 {
	float: none;
	margin:0 auto;
}
.contact-form.contact_sec {
	display: inline-block;
	width: 100%;
}
.modal-dialog {
	width: 60%;
}
.eye {
	float: right;
	margin-right: 16px;
	margin-top: 5px;
}
.vb a{
	color:#000;
}

.vb a:hover{
	color:#888b8d;
}

.radio_sec {
	text-align: center;
	margin: 20px 0 20px;
}
.radio_sec input[type="radio"], .radio_sec input[type="checkbox"] {
	margin-top: 0;

}
.contact-form .radio_sec label {
	font-weight: 400;
}
.md-errors-spacer {
	float: right;
	min-height: 24px;
	min-width: 1px;
}
.md-char-counter,.md-input-message-animation {
	font-size: 10px;
	line-height: 14px;
	overflow: hidden;
	-webkit-transition: all .3s cubic-bezier(.55, 0, .55, .2);
	transition: all .3s cubic-bezier(.55, 0, .55, .2);
	opacity: 1;
	margin-top: 0;
	padding-top: 5px;
	color: #777;
}

.cstm_radio {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.cstm_radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}


.cstm_radio .checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	border-radius: 50%;
	border: 1px solid #000;
}



.cstm_radio input:checked ~ .checkmark {
  background-color: #fff;
}


.cstm_radio .checkmark:after {
  content: "";
  position: absolute;
  display: none;
}


.cstm_radio input:checked ~ .checkmark:after {
  display: block;
}


.cstm_radio .checkmark::after {
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
}

.questions {
	padding: 10px 0 0;
}

.questions h1 {
	color: #611270;
	font-weight: 700;
	margin-top: 0;
}
.questions p {
	margin-bottom: 0;
	font-size: 13px;
	padding: 10px 0;
	color: #1e1e1e;
}

.questions .panel-group .panel {
	border-radius: 0;
	box-shadow: none;
	border-color: #fff;
	margin-bottom: 0;
}
h2.faq_sec {
	text-align: center;
	font-size: 15px;
	padding-bottom: 20px;
}
.questions .panel-body {
	color: #000;
	padding: 4px 0px;
	font-size: 14px;
	line-height: 19px;
}

.questions .panel-default > .panel-heading {
        padding: 0;
        border-radius: 0;
        color: #212121;
        background-color: #FAFAFA;
        border-color: #EEEEEE;
    }
.nmd {
	margin-top: 18px;
}
ol.gh {
	list-style: decimal;
	margin-left: 38px;
	margin-top: 20px;
}
.questions .panel-title {
        font-size: 14px;
    }

.questions .panel-title > a {
	display: block;
	padding: 12px 0px;
	text-decoration: none;
	color: #000;
	font-size: 14px;
	background: #fff;
	text-transform: uppercase;
	border-bottom: 1px solid #000;
}
.questions .more-less {
	float: right;
	color: #000;
	padding: 5px 4px 5px 5px;
	font-size: 10px;
}

.questions .panel-default > .panel-heading + .panel-collapse > .panel-body {
	border-top-color: #fff;
	padding-top: 0px;
}
.panel-body h5 {
	font-weight: 600;
	color: #1e1e1e;
	text-transform: uppercase;
	font-size: 12px;
	padding-top: 10px;
}
.itl {
	font-style: italic;
}
ul.web_sec {
	padding-left: 17px;
	margin-top: 20px;
}
ul.web_sec li {
	padding-bottom: 14px;
	font-size: 12px;
	color: #1e1e1e;
}
ul.web_sec li::before {
	content:"-";
}
ul.card {
	list-style: none;
	margin-top: 6px;
}
ul.card li{
	display:inline-block;
}
.panel-body thead {
	border-bottom: 1px solid #e6e2e7;
	border-top: 1px solid #e6e2e7;
	background: #f2f2f2;
}
.panel-body thead th:first-child, .panel-body tbody td:first-child, .panel-body tbody th:first-child {
	padding-left: 12px;
}
.panel-body thead th {
	font-weight: normal;
	text-transform: uppercase;
	color: #333;
	text-align: left;
	padding: 8px 4px;
}
.panel-body table tbody tr {
	border-bottom: 1px solid #ebebeb;
}
.panel-body tbody td, .panel-body  tbody th {
	padding: 8px 4px;
}
.panel-body table {
	width: 100%;
}
.jkl {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
	/* padding-top: 0 !important; */
	line-height: 10px;
}
.sale_now.show {
	margin-top: 10px;
}
.sale_now.show li a {
	font-size: 11px;
}
.sale_now.show li {
	padding-left: 15px;
}
.navbar-default {
	background-color: transparent;
	border-color: transparent;
}
.nav.navbar-nav.aligngap li a {
	font-size: 11px;
	color: #000;
}
.navbar-default .navbar-text {
	font-size: 11px;
	color: #000;
}
#clear_search_terms.btn-default:hover {
	color: #fff;
	background-color: #000;
	border-color: #000;
}
#loginformPage .submit_sec {
	text-align: left;
}
.sub_tc input[type="submit"] {
	width: auto !important;
	display: inline !important;
	font-size: 14px !important;
	color:#333;
}
#contactform .group {
	height: 35px;
}
.order_result table tr td {
	border: 1px solid #ccc;
}
.vxc .checkbox label {
	line-height: 0;
}
#clear_search_terms a:hover {
	color:#fff;
}
.navbar-default .navbar-text a {
	color: #000;
	font-size: 11px;
}
#clear_search_terms {
	border: 1px solid #000;
	border-radius: 0;
}
#clear_search_terms.btn-default {
	padding: 0;
}
#clear_search_terms a {
	color: #000 !important;
	border: none;
	font-size: 11px;
	padding: 3px 28px 3px !important;
	display: inline-block;
}

#clear_search_terms a:hover {
	color: #fff !important;
	text-decoration: none;
}
#clear_search_terms {
	margin-top: 12px;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
	background-color: #fff;

}
.contact-form .col-md-2.col-sm-2 .side_nav {
	width: 15.66%;
}
.sel_sort {
	text-decoration: underline;
	font-weight: 600;
}
a.dis_sel {
	text-decoration:underline !important;
	color:#000 !important;
}

.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
	background-color: transparent;
}
.dropdown-menu.droponmob {
	padding: 8px 18px;
}
.droponmob .checkbox {
	margin-bottom: 23px;
}
.droponmob .checkmark {
	left: -5px;
	top: -3px;
}
.nomrgpad .pagination > li > a, .nomrgpad .pagination > li > span {
	padding: 6px 8px;
	color: #000;
	border: none;
	font-size: 11px;
}
a.dis_sel {
	color: #000 !important;
	text-decoration: underline !important;
}
a.dis_lnk {
	color: #888b8d !important;

}
ul.aligngap > li > a:hover, ul.aligngap > li > a:focus {

	border: none;
}
.lbl_set input:checked ~ .checkmark::after {
	display: block;
}
.lbl_set .checkmark::after {
	left: 5px;
	top: 2px;
	width: 5px;
	height: 10px;
	border: solid #000;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.lbl_set .checkmark::after {
	content: "";
	position: absolute;
	display: none;
}
.sel_cls{
	text-decoration:underline !important;
	font-weight:bold;
}

.nomrgpad .caret {
	margin-left: 6px;
	text-align: right;
	float: right;
	position: relative;
	top: 10px;
}
.nomrgpad .pagination {
	margin-bottom: 0;
	margin-top: 14px;
}
.nomrgpad .navbar {
	margin-bottom: 0;
}
nav {
	margin-bottom: 0;
}
.nomrgpad .navbar-nav > li > a {
	padding-bottom: 4px;
}
.navbar-default .navbar-text {
	padding-top: 0;
	padding-bottom: 0;
}
.cat_nav {
	margin-bottom: 0;
}
.lbl_set {
	font-weight: 400 !important;
	font-size: 11px !important;
}
.filter-right {
	text-align: right;
}
.nav.navbar-nav.aligngap li a {
	padding-left: 5px;
}
.side_nav {
	overflow: auto;
	height: 500px;
}
.droponmob .checkbox:last-child {
	margin-bottom: 0;
}
#no_prd {
	font-size: 15px;
	font-weight: 400;
	padding-top: 60px;
}
.product .product_inner {
	min-height: 360px;
}
.nav.navbar-nav.aligngap li {
	border-bottom: 1px solid #000;
	margin-right: 23px;
	width: 118px;
}




 SyntaxHighlighter - http://alexgorbatchev.com/SyntaxHighlighter

 SyntaxHighlighter is donationware. If you are using it, please donate. - http://alexgorbatchev.com/SyntaxHighlighter/donate.html

 @version - 3.0.83 (July 02 2010)
 @copyright - Copyright (C) 2004-2010 Alex Gorbatchev.
 @license - Dual licensed under the MIT and GPL licenses.
*/
.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea{-moz-border-radius:0 0 0 0 !important;-webkit-border-radius:0 0 0 0 !important;background:none !important;border:0 !important;bottom:auto !important;float:none !important;height:auto !important;left:auto !important;line-height:1.1em !important;margin:0 !important;outline:0 !important;overflow:visible !important;padding:0 !important;position:static !important;right:auto !important;text-align:left !important;top:auto !important;vertical-align:baseline !important;width:auto !important;box-sizing:content-box !important;font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;font-weight:normal !important;font-style:normal !important;font-size:1em !important;min-height:inherit !important;min-height:auto !important;}
.syntaxhighlighter{width:100% !important;margin:1em 0 1em 0 !important;position:relative !important;overflow:auto !important;font-size:1em !important;}
.syntaxhighlighter.source{overflow:hidden !important;}
.syntaxhighlighter .bold{font-weight:bold !important;}
.syntaxhighlighter .italic{font-style:italic !important;}
.syntaxhighlighter .line{white-space:pre !important;}
.syntaxhighlighter table{width:100% !important;}
.syntaxhighlighter table caption{text-align:left !important;padding:.5em 0 0.5em 1em !important;}
.syntaxhighlighter table td.code{width:100% !important;}
.syntaxhighlighter table td.code .container{position:relative !important;}
.syntaxhighlighter table td.code .container textarea{box-sizing:border-box !important;position:absolute !important;left:0 !important;top:0 !important;width:100% !important;height:100% !important;border:none !important;background:white !important;padding-left:1em !important;overflow:hidden !important;white-space:pre !important;}
.syntaxhighlighter table td.gutter .line{text-align:right !important;padding:0 0.5em 0 1em !important;}
.syntaxhighlighter table td.code .line{padding:0 1em !important;}
.syntaxhighlighter.nogutter td.code .container textarea,.syntaxhighlighter.nogutter td.code .line{padding-left:0em !important;}
.syntaxhighlighter.show{display:block !important;}
.syntaxhighlighter.collapsed table{display:none !important;}
.syntaxhighlighter.collapsed .toolbar{padding:0.1em 0.8em 0em 0.8em !important;font-size:1em !important;position:static !important;width:auto !important;height:auto !important;}
.syntaxhighlighter.collapsed .toolbar span{display:inline !important;margin-right:1em !important;}
.syntaxhighlighter.collapsed .toolbar span a{padding:0 !important;display:none !important;}
.syntaxhighlighter.collapsed .toolbar span a.expandSource{display:inline !important;}
.syntaxhighlighter .toolbar{position:absolute !important;right:1px !important;top:1px !important;width:11px !important;height:11px !important;font-size:10px !important;z-index:10 !important;}
.syntaxhighlighter .toolbar span.title{display:inline !important;}
.syntaxhighlighter .toolbar a{display:block !important;text-align:center !important;text-decoration:none !important;padding-top:1px !important;}
.syntaxhighlighter .toolbar a.expandSource{display:none !important;}
.syntaxhighlighter.ie{font-size:.9em !important;padding:1px 0 1px 0 !important;}
.syntaxhighlighter.ie .toolbar{line-height:8px !important;}
.syntaxhighlighter.ie .toolbar a{padding-top:0px !important;}
.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,.syntaxhighlighter.printing .line.highlighted.alt2 .content{background:none !important;}
.syntaxhighlighter.printing .line .number{color:#bbbbbb !important;}
.syntaxhighlighter.printing .line .content{color:black !important;}
.syntaxhighlighter.printing .toolbar{display:none !important;}
.syntaxhighlighter.printing a{text-decoration:none !important;}
.syntaxhighlighter.printing .plain,.syntaxhighlighter.printing .plain a{color:black !important;}
.syntaxhighlighter.printing .comments,.syntaxhighlighter.printing .comments a{color:#008200 !important;}
.syntaxhighlighter.printing .string,.syntaxhighlighter.printing .string a{color:blue !important;}
.syntaxhighlighter.printing .keyword{color:#006699 !important;font-weight:bold !important;}
.syntaxhighlighter.printing .preprocessor{color:gray !important;}
.syntaxhighlighter.printing .variable{color:#aa7700 !important;}
.syntaxhighlighter.printing .value{color:#009900 !important;}
.syntaxhighlighter.printing .functions{color:#ff1493 !important;}
.syntaxhighlighter.printing .constants{color:#0066cc !important;}
.syntaxhighlighter.printing .script{font-weight:bold !important;}
.syntaxhighlighter.printing .color1,.syntaxhighlighter.printing .color1 a{color:gray !important;}
.syntaxhighlighter.printing .color2,.syntaxhighlighter.printing .color2 a{color:#ff1493 !important;}
.syntaxhighlighter.printing .color3,.syntaxhighlighter.printing .color3 a{color:red !important;}
.syntaxhighlighter.printing .break,.syntaxhighlighter.printing .break a{color:black !important;}
/* Theming */
.syntaxhighlighter { clear: both; width: auto!important; font-size: 13px !important; line-height: 21px !important; font-family: Courier, "Courier New", monospace; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background-color: #fff !important; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.syntaxhighlighter .string, .syntaxhighlighter .string a {color: #ff5454 !important;}
.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 {width: 100% !important; padding: 0 !important; background-color: #fff !important;}
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {background-color: #fff !important;}
.syntaxhighlighter table td.code {width: auto !important; padding: 10px 12px!important;}
.syntaxhighlighter table td.code .line {width: auto !important; padding: 0 !important;}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {color: #cc7ac6!important;}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {color: #888!important;}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {color: #999!important;}
.syntaxhighlighter .keyword {color: #2a93b9!important;}
/**/
.syntaxhighlighter{background-color:white !important;}
.syntaxhighlighter .line.alt1{background-color:white !important;}
.syntaxhighlighter .line.alt2{background-color:white !important;}
.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2{background-color:#e0e0e0 !important;}
.syntaxhighlighter .line.highlighted.number{color:black !important;}
.syntaxhighlighter table caption{color:black !important;}
.syntaxhighlighter .gutter{color:#afafaf !important;}
.syntaxhighlighter .gutter .line{border-right:3px solid #6ce26c !important;}
.syntaxhighlighter .gutter .line.highlighted{background-color:#6ce26c !important;color:white !important;}
.syntaxhighlighter.printing .line .content{border:none !important;}
.syntaxhighlighter.collapsed{overflow:visible !important;}
.syntaxhighlighter.collapsed .toolbar{color:blue !important;background:white !important;border:1px solid #6ce26c !important;}
.syntaxhighlighter.collapsed .toolbar a{color:blue !important;}
.syntaxhighlighter.collapsed .toolbar a:hover{color:red !important;}
.syntaxhighlighter .toolbar{color:white !important;background:#6ce26c !important;border:none !important;}
.syntaxhighlighter .toolbar a{color:white !important;}
.syntaxhighlighter .toolbar a:hover{color:black !important;}
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:black !important;}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#008200 !important;}
.syntaxhighlighter .string,.syntaxhighlighter .string a{color:blue !important;}
.syntaxhighlighter .keyword{color:#006699 !important;}
.syntaxhighlighter .preprocessor{color:gray !important;}
.syntaxhighlighter .variable{color:#aa7700 !important;}
.syntaxhighlighter .value{color:#009900 !important;}
.syntaxhighlighter .functions{color:#ff1493 !important;}
.syntaxhighlighter .constants{color:#0066cc !important;}
.syntaxhighlighter .script{font-weight:bold !important;color:#006699 !important;background-color:none !important;}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:gray !important;}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:#ff1493 !important;}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:red !important;}
.syntaxhighlighter .keyword{font-weight:bold !important;}
.newsletterBtn{display:none;}
.form_input:focus{outline:none;}
button:focus{outline:none}
.return-con p.title{
	font-weight: 600;
    color: #1e1e1e;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 10px;
}

/* basket start
***********************/
.contentBanner {
	font-size: 1.1rem;
	text-align: center;
	background: #fcf8e3;
	padding: 4px 2%;
	color: #444;
	border: 2px solid #ffda15;
}
.contentBanner p {
	padding: 0;
	font-size: 11px;
	margin: 0;
}

.basket_pop h2 {
	text-transform: uppercase;
	font-size: 17px;
	margin: 24px 0 10px;
	color: #000;
}
.contentBanner p::after {
	content: '.';
}
.contentBanner p:first-of-type::before {
	content: '* ';
}
.product_buy {
	float: left;
	width: 100%;
	margin-top: 35px;
}
.product_leftimg {
	float: left;
	width: 11%;
}
.product_rightinfo h5 {
	padding-bottom: 5px;
}
.product_rightinfo {
	border-bottom: 1px solid #ccc;
	padding-bottom: 30px;
}
.product_rightsec {
	width: 86%;
	float: left;
	margin-left: 16px;
	min-height: 180px;
}
.product_rightinfo h5 a {
	color: #1e1e1e;
	font-size: 11px;
	font-weight: bold;
}
.product_rightinfo h5 a:hover {
	color: #888b8d;
	text-decoration:none;
}

.product_rightinfo span {
	text-align: right;
	float: right;
	color: #000;
}
.product_rightinfo span a {
	color: #000;
	color: #1e1e1e;
	font-size: 10px;
}
.item_description  {
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-top: 1.5rem;
}
 .item_quantity {
	display: flex;
}
.rebajado {
	color: #cf0a2c;
	font-weight: 500;
}
.tachado {
	font-weight: bold;
	text-decoration: line-through;
}
.io {
	padding-right: 55px;
}
 ul.bskt_list li {
	display: inline-block;
	margin: 0 10px;
}
 ul.bskt_list li a {
	color: #000;
}
.item_prop span {
	font-size: 11px;
}
.total ul li {
	font-weight: bold;
	display: inline-block;
	padding: 0 33px 0px 0px;
	text-align: right;
}
.total ul li:last-child {
	padding-right: 0;
}
.product_rightinfo span {
	margin-left: 7px;
}
ul.pro_price li {
	display: inline-block;
	padding-right: 58px;
}
ul.pro_price li:last-child {
	padding: 0;
}
.pro_price {
	text-align: center;
}
.modal-dialog.modal-sm {
	width: 300px !important;
}
.order-summary {
	text-align: center;
	margin-top: 25px;
}
.order-summary h2 {
	text-align: center;
	font-size: 15px;
}
.order-summary span {
	text-align: center;
	width: 100%;
	font-weight: bold;
	padding-top: 10px;
	display: block;
	padding-bottom: 20px;
}
.item {
	padding-bottom: 7px;
	font-size: 13px;
}
.reference {
	font-size: 11px;
	color: #8b8b8b;
}
.order_sec {
	border-bottom: 1px solid #ccc;
	display: inline-block;
	width: 100%;
	padding-bottom: 5px;
}
.order_sec .rows {
	margin-bottom: 10px;
	float: left;
	width: 100%;
}
.cart-total {
	margin-top: 10px;
	font-weight: bold;
	color: #000;
}
.basket .store {
	font-size: 12px;
	padding-top: 23px;
	padding-left: 15px;
	padding-bottom: 10px;
}

.free_store span {
	margin-right: 10px;
}
.free_store h5 {
	padding-top: 0;
	margin-top: 0;
	font-size: 11px;
	font-weight: 400;
}
.free_store {
	margin: 10px 0;
}
.promote-sec {
	margin-top: 24px;
}
.promote-sec p {
	color: #8a6d3b;
	background: #fcf8e3;
	padding: 10px 8px 6px;
	font-size: 12px;
	text-align: center;
}
.process_btn a {
	background: #000;
	text-transform: uppercase;
	text-align: center;
	padding: 11px 0px;
	display:block;
	font-size: 11px;
	font-weight: 500;
	border: 1px solid #000;
	color: #fff;
}
a.bskt_empty {
	padding: 14px 0 !important;
	background: #fff;
	color: #000;
	display:block;
}
a.bskt_empty:hover {
	background: #000;
	color: #fff;
	opacity:1 !important;
}
.process_btn a:hover {
	opacity:0.5;
}
.process_btn {
	margin-top: 15px;
}
.product_rightinfo span i {
	font-size: 16px;
}
.empty_btn a {
	background: #fff;
	color: #1e1e1e;
	padding: 10px 42px;
	text-transform: uppercase;
	border: 1px solid #1e1e1e;
	font-size: 11px;
}
.empty_btn a:hover {
	background: #1e1e1e;
	color: #fff;
	border: 1px solid #1e1e1e;
	text-decoration:none;
}
.empty_btn {
	margin-top: 180px;

}
/* basket end
***********************/


/* basket empty start
***********************/

.shop-cart {
	text-align: center;
}
.shop-cart img {
	display: inline;
}
.shop-cart h3 {
	font-size: 20px;
	color: #000;
	font-weight: 500;
	margin-top: 26px;
	margin-bottom: 40px;
}
.shop-cart {
	text-align: center;
	margin-top: 35px;
}

/* basket empty end
***********************/

/* shipping start
***********************/


.shipping .shipping_sec span {
	padding-right: 5px;
	font-size: 13px;
}
.shipping {
	padding-top: 20px;
}
.bold_sec {
	font-weight: bold;
}
.shipping .shipping_sec h2 {
	text-transform: uppercase;
	font-size: 18px;
	margin: 24px 0 10px;
	color: #1e1e1e;
}
.shipping .shipping_sec .cstm_radio input:checked ~ .checkmark::after {
	display: block;
}
.shipping .shipping_sec .cstm_radio .checkmark::after {
	top: 4px;
	left: 4px;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	background: #000;
}
.shipping .shipping_sec .cstm_radio .checkmark::after {
	content: "";
	position: absolute;
	display: none;
}
.shipping .shipping_sec .checkmark::after {
	content: "";
	position: absolute;
	display: none;
}
.shipping .shipping_sec .radios_sec {
	margin: 20px 0 14px;
}
.radios_sec label {
	color: #1e1e1e;
}
.radios_sec span {
	display: block;
	padding-top: 5px;
	font-weight: 400;
}
.radios_sec span.price_sec {
	float: right;
	font-weight: 700;
	font-size: 14px;
}
.shipping_sec ul li {
	border-bottom: 1px solid #ccc;
}
.shipping_sec ul li:last-child {
	border: none;
}
.collection h2 {
	text-transform: uppercase;
	font-size: 18px;
	margin: 24px 0 10px;
	color: #1e1e1e;
	padding-bottom: 40px;
	padding-top: 20px;
}
.collection .group label {
	text-align: left;
	font-size:12px;
}
.billing {
	display:inline-block;
	width:100%;
}
.billing  h2 {
	text-transform: uppercase;
	font-size: 18px;
	margin: 24px 0 10px;
	color: #1e1e1e;
	padding-bottom: 15px;
	padding-top: 20px;
}
.billing .radios_sec label {
	color: #1e1e1e;
	font-weight: 400;
}
.billing .cstm_radio {
	padding-top: 3px;
}
.billing .radio_sec {
	text-align: left;
}
.billing .group label {
	text-align: left;
	font-size: 13px;
}
.billing .radio_sec label {
	font-weight: 400;
	font-size: 13px;
}
.billing .group {
	margin-bottom: 45px;
	height: 30px;
}
.cont_btn {
	margin-top: 30px;
	display: inline-block;
	float: right;
}
.cont_btn a {
	background: #1e1e1e;
	color: #fff;
	text-align: right;
	padding: 10px 50px;
	text-transform: uppercase;
	font-size: 13px;
}
.cont_btn a:hover {
	opacity:0.8;
	text-decoration:none;
}

.prosec .product_buy {
	float: left;
	width: 100%;
	margin-top: 35px;
}
.prosec .product_leftimg {
	float: left;
	width: 11%;
}
.prosec .product_rightinfo h5 {
	padding-bottom: 5px;
}
.prosec .product_rightinfo {
	border-bottom: 1px solid #ccc;
}
.prosec .product_rightsec {
	width: 86%;
	float: left;
	margin-left: 16px;
}
.prosec .product_rightinfo h5 a {
	color: #1e1e1e;
	font-size: 11px;
	font-weight: bold;
}
.prosec .product_rightinfo h5 a:hover {
	color: #888b8d;
	text-decoration:none;
}

.prosec .product_rightinfo span {
	text-align: right;
	float: right;
}
.bold-sec {
	font-weight: 600;
}
.thankyou .item_description {
	display: inherit !important;

}
.prosec .item_description {
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-box-align: start;
	-ms-flex-align: start;
	align-items: flex-start;
	margin-top: 0;
}
 .prosec .item_quantity {
	display: flex;
}
.prosec .rebajado {
	color: #cf0a2c;
	font-weight: 500;
}
.prosec .tachado {
	font-weight: bold;
	text-decoration: line-through;
}
.io {
	padding-right: 55px;
}
.prosec .item_quantity ul li {
	display: inline-block;
	margin: 0 10px;
}
.prosec .item_quantity ul li a {
	color: #000;
}
.prosec .item_prop span {
	font-size: 11px;
}
.prosec .total {
	font-weight: bold;
	padding-left: 38px;
}
.prosec  .product_rightinfo {
	border-bottom: none;
}
.change a {
	color: #000;
	text-align: right;
	text-transform: uppercase;
	padding-top: 54px;
	display: inline-block;
	color: #1e1e1e;
	font-size: 11px;
}
.change {
	text-align: right;
}
.change a {
	text-decoration:none;
	opacity:0.8;
	color:#000;
}
.change a:hover {
	text-decoration:none;
	color:#888b8d;
}
.bn {
	color: #888;
}

.shipping_sec p {
	font-size: 13px;
	padding-top: 10px;
}
.card_payment ul li {
	display: inline-block;
	padding: 3px 20px 14px;
}
.card_payment ul li a {
	color: #000;
	font-size: 11px;
}
.card_payment ul li:hover {
	outline: 1px solid rgba(0, 0, 0, 0.2);
	cursor: pointer;
}
.card_payment ul li a:hover {
	text-decoration:none;
}
.card_payment ul {
	text-align: center;
}
.card_payment p {
	background-color: #f8f8f8;
	padding: 10px;
	overflow: hidden;
	margin-bottom: 15px;
	font-size: 15px;
	margin-top: 15px;
}
.card_detail .group label {
	text-align: left;
	font-size:13px;
}
.card_detail .group {
	position: relative;
	margin-bottom: 48px;
}
.card_img {
	margin-top: 31px;
}

.go_back a {
	background: #fff;
	color: #1e1e1e;
	padding: 12px 48px;
	text-transform: uppercase;
	border: 1px solid #1e1e1e;
	font-size: 11px;
}
.go_back {
	margin-bottom: 80px;
}
.go_back span {
	margin-right: 10px;
}
.go_back a:hover {
	background: #1e1e1e;
	color: #fff;
	border: 1px solid #1e1e1e;
	text-decoration:none;
}
.promote-code {
	padding: 28px 0 12px;
}
.promote-code a{
	color:#1e1e1e;
	text-decoration:none;
}
.promote-code a:hover{
	color:#888b8d;
	text-decoration:none;
}
.process_btn.pro_cstm a {
	display: inline-block;
	padding: 13px 34px;
}
.item_res {
	float: right;
}
.total-price {
	text-align: right;
}
.card_payment span {
	font-weight: bold;
}
.question_sec {
	position: absolute;
	text-align: 0;
	top: 13px;
	right: 0;
}
.question_sec i {
	color: #000;
}
.cust_sec .form_input {
	padding: 10px 22px 10px 5px;

}
/* shipping end
***********************/

.aligngap .dropdown-menu {
	top: 0;
	left:-1px;
}
.lbl_set input[type="radio"], .lbl_set input[type="checkbox"] {
	margin: 0 -20px 0;

}
.size .basket_btn {
	background: #fff;
}
.size .basket_btn:hover {
	color: #fff;
	background: #000;
	transition:all 0.5s;
}
.submit_sec .buttons {
	text-align: center;
}
.submit_sec .buttons:hover {
	text-decoration:none;
	transition: all 0.5s;

}
.forgot {
	padding-bottom: 32px;
}
.forgot a {
	color: #8a8a8a;
	font-size: 12px;
}
.forgot a:hover {
	color: #000;
	text-decoration:none;
}
.slide_basket {
	top: 72px !important;
	border: 1px solid #000;
	height: 312px !important;
	font-size: 10px !important;
	line-height: 13px important;
	position:fixed;
	right:0px;
	background:#fff;
	height:400px;
	padding:12px;
	z-index:125965545;
	width: 290px;
}
#myModal5 .group,#myModal7 .group,#myModal8 .group,#myModal23 .group,#billdetails .group   {
	min-height: 52px;
}
#editAddress .group {
	min-height: 52px;
}

.slide_basket .view-basket {
	color: #ffff;
	border: 1px solid #000;
	background: #000;
	margin-bottom: 15px;
}
.slide_basket .view-basket:hover {
	opacity:0.5;
	text-decoration:none;
}
#productscroll {
	overflow-y: scroll !important;
	overflow-x: hidden !important;
	scrollbar-width: none;
	-ms-overflow-style: none;
}
#productscroll::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.bck_sec {
	font-size: 20px;
	float: left;
	margin-bottom: 10px;
}
.bck_sec a{
	color:#000;
}
.basket img {
	margin: 30px auto;
}
.emp_sec {
	font-size: 20px;
	font-weight: bold;
	color: #000;
}
.gap_sec a {
	color: #000;
	text-decoration: underline;
}
.group .error {
	position: relative;
	color: red !important;
}
.order_sec .col-md-8.col-sm-8 {
	display: inline;
}
.basket .product_leftimg img {
	margin-top: 0;
}
button:focus,a:focus {
	outline: none;
	text-decoration: none;
}
.submit_sec a {
	text-transform: uppercase;
}
.cont_btn .btn-md {
	background: #000;
	color: #fff !important;
	text-transform: uppercase;
	padding: 12px 47px !important;
	font-weight: 500;
	border: none;
}
.cont_btn .btn-md:hover {
	opacity:0.5;
}
.order_in {
	float: right;
}
.flask .sec_main a {
	color: #000;
}
.flask .sec_main a:hover {
	color: #8a8a8a;
}
.group .form_input {
	font-size: 12px;
}
.fa.fa-close.slide_basket_close {
	display: none;
	margin:6px;
	right:0px;
	cursor:pointer;
}

#productscroll {
	height: 230px !important;
	overflow-y:scroll;
	height:320px;
}

#productscroll .row{
   margin-bottom: 10px;
}
.basket_right {
	padding-right: 10px;

}
.basket_right img{

	width:60px;
	height:60px;
}
.basket_left {
	padding-left: 0;
}
.basket_res {
	font-weight: 600;
	padding-bottom: 4px;
}
.basket_detailsec p {
	margin: 0;
	padding: 0;
	font-size: 9px;
	margin-bottom: 0;
	padding-bottom: 0;
	line-height: 16px;
}
.standard_delivery p {
	color: green;
	font-size: 10px;
	padding: 0;
}
.standard_delivery {
	padding-left: 7px;
}
.standard_delivery span {
	margin-right: 8px;
}
.basket_res a {
	color: #000;
}
#sidebar-wrapper .cvs {
	padding: 8px 0 7px 30px;
	margin-bottom: 15px;
	color: #000;
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	margin-top: 10px;
}
.sidebar-nav li a:hover {
	color: #8a8a8a;
}

.grey_sec {
	color: #8a8a8a;
	font-size: 11px;
}
.modal-body {
	padding-top: 0;
}
#myModal .contact-form p {
	padding-left: 0;
}
#myModal .contact-form .log_in {
	margin-top: 0;
	width: 100%;
}
.modal-content {
	border-radius: 0;

}
#myModal .modal-content .submit_sec {
	margin-top: 21px;
	margin-bottom: 13px;
	text-align: left;
}
.contact-form.contact_sec .log_in p {
	padding-left: 0;
}
.modal {
	z-index: 999999;

}
#myModal33 .modal-body {
	overflow: scroll;
	height: 610px;
}
.contact-form .store {
	padding-top: 0 !important;
	margin-top: 0 !important;
	padding-bottom: 17px !important;
}

.op {
	text-transform: uppercase;
	font-size: 10px;
}
.op ul li {
	display: inline-block;
	padding: 0 0 0 30px;
	text-align: center;
}
.bold_secd {
	font-weight: 700;
	font-size: 12px;
}
.size .basket_btn {
    color: #000;
    border: 1px solid #000;
    width: 95%;
    display: inline-block;
    text-align: center;
    padding: 13px 0;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}

.view-basket{
    border: 1px solid #000;
    width: 100%;
    display: inline-block;
    text-align: center;
    padding: 13px 0;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
}
.footerLinks {
	float: left;
}

.thankyou {
	padding: 50px 0;
}
.thankyou h1 {
	color: #8a8a8a;
	font-size: 23px;
	position: relative;
	font-weight: 500;
	margin-bottom: 31px;
}
.thankyou .nj {
	margin: 14px 0;
}
.contact-form .thankyou {
	padding-bottom: 0;
}
.thankyou h2 {
	color: #1e1e1e;
	font-size: 15px;
	font-weight: 700;
	position:relative;
}
.thankyou p {
	color: #1e1e1e;
	line-height: 22px;
	font-size: 13px;
	margin: 0;
	padding: 10px 0 12px;
	font-weight: 300;
}

.thankyou h1::before {
	content: "";
	border-bottom: 2px solid #8a8a8a;
	width: 50px;
	position: absolute;
	bottom: -20px;
	right: 0;
	left: 0;
}
.thankyou .product_buy.product_bill {
	border: 1px solid #ccc;
	padding: 19px 2px;
	border-bottom: none;
}
.thankyou  .total_bill .table {
	border: 1px solid #ccc;
}
.thankyou .table > thead > tr > th, .thankyou .table > tbody > tr > th, .table > tfoot > tr > th, .thankyou .table > thead > tr > td, .thankyou .table > tbody > tr > td, .thankyou .table > tfoot > tr > td {
	border-top: none;
}
.grey_sec {
	color: #8a8a8a;
	font-size: 11px;
}
.thankyou .item_description.item_df .table tr td {
	width: 100px;
}
.thankyou .item_description.item_df .table tr td:nth-child(3) {
	width: 72px;
	float: left;
}
.address_sec h4 {
	margin-bottom: 9px;
	line-height: 20px;
}
.address_sec h4 a {
	color: #656363;
}


.wish_menu ul {
	margin: 0;
	padding: 0;
	text-align: right;
	margin-top: 40px;
}
.wish_menu ul li {
    display: inline-block;
    margin: 0 4px;
    position: relative;
    padding-bottom: 10px;
}
.wish_menu ul li span {
	margin-right: 8px;
	font-size: 12px;
}
.wish_menu ul li a {
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 11px;
}
.wish_menu ul li ul {
	position: absolute;
	width: 102px;
	display: none;
	top: -19px;
	right: -25px;
}
.wish_menu ul li ul li {
	background: #fff;
	display: block;
}
.wish_menu ul li ul li .sign {
	margin-right: 4px;
	vertical-align: middle;
}
.wish_menu ul li ul li a {
	display: block !important;
	text-align: center;
	padding: 13px 0 10px !important;
	background: #fff;
	border: 1px solid #ccc;
}
.wish_menu ul li ul li a:hover {
	text-decoration: none;
	color: #8a8a8a;
}
.wish_menu ul li:hover ul {display: block;}

.customer_info h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}
.customer_info p {
	margin: 0;
	font-size: 13px;
	color: #1e1e1e;
	padding: 5px 0;
}
.customer_info a {
	color: #8a8a8a;
}
.customer_info a:hover {
	color: #1e1e1e;
	text-decoration:none;
}
.info_sec {
	margin-bottom: 30px;
}
.customer_info p span {
	margin-right: 5px;
}
ul.wish_nav li a {
	color: #1e1e1e;
}
ul.wish_nav li a:hover {
	text-decoration:none;
	color:#8a8a8a;
}
ul.wish_nav li {
	padding-bottom:12px;
}


.address_sec p{
	color:#1e1e1e;
}
.empty_card {
	border: 1px solid #d9d9d6;
	text-align: left;
	padding: 17px 22px 16px;
	cursor: pointer;
	width: 100%;
}
.empty_card h4 {
	padding-bottom: 8px;
	line-height: 19px;
}
.empty_card .modal-content {
	border-radius: 0;

}
.db {
	text-align: right;
	padding-top: 22px;
}
.empty_card .contact-form .log_in {
	margin-top: 0;
}
.empty_card .modal-dialog {
	width: 700px;
}
.empty_card .fgd {
	text-align: right !important;
}
.empty_card .submit_sec {
	margin-top: 12px;
}
.empty_card .log_in .submit_sec input[type="submit"] {
	width: auto;
	padding: 12px 54px;

}
.empty_card p {
	text-align: left;
}
.empty_card p {
	text-align: left;
	padding: 0;
	padding-top: 12px;
}
.empty_card  .contact-form {
	padding-bottom: 0;
}
.empty_card a {
	color: #888b8d;
	border-bottom: 1px dotted #888b8d;
	text-align: center;
}
.billing_main a {
	color: #8a8a8a;
	padding-top: 8px;
	display: block;
	font-size: 13px;
}
.address_sec h2 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
	margin-bottom: 17px;
}
.address_sec p {
	margin: 0;
	font-size: 13px;
	color: #1e1e1e;
	padding: 31px 0 37px;
}
.store_sec{
	padding:30px 0;
}
.res-newsletter {
	margin: 20px 0 30px 0;
}
.res-newsletter > strong {
	float: left;
	width: 95px;
}
.res-newsletter > div {
	float: left;
}
.res-newsletter a {
	color: #8a8a8a;
	font-size: 13px;
}
.res-newsletter a:hover {
	color: #1e1e1e;
}
.notification h2 {
	margin: 0;
	font-size: 14px;
	font-weight: 600;
	color: #000;
	text-transform: uppercase;
}
.notification p {
	margin: 0;
	font-size: 13px;
	color: #1e1e1e;
	padding: 26px 0 8px;
}
.unsub_btn {
	margin: 30px 0 80px;
	display: inline-block;
}
.unsub_btn a {
	background: #fff;
	border: 1px solid #000;
	text-transform: uppercase;
	padding: 9px 41px;
	color: #000;
	font-size: 12px;
}
.unsub_btn a:hover {
	background: #000;
	border: 1px solid #000;
	color: #fff;
}


.wishlist {
	text-align: center;
}
.wishlist p{
	text-align:center;
	font-size:13px;
}
.wishlist a{
	color:#000;
	text-decoration:none;
}
.wishlist span{
	margin-right:5px;
	font-size:15px;
}
.wishlist a:hover {
	color: #fff;
	background: #000;
	padding: 11px 107px;
}

.wish_sec .modal-content {
	border-radius: 0;
	padding: 37px 20px 35px;
	position: relative;
}
.wish_sec .modal {
	top: 30%;

}
.wish_sec .group label {
	text-align: left;
	font-weight: 500;
	font-size: 13px;
}
.wish_sec .modal a {
	border: 1px solid #000;
	color: #000;
	padding: 10px 48px;
	text-transform: uppercase;
	font-size: 12px;
	cursor:pointer;
}
.wish_sec .modal a:hover {
	border: 1px solid #000;
	color: #fff;
	background:#000;
}
.wish_sec .modal .sub_sec {
	margin-bottom: 11px;
	display: inline-block;
}
.wish_sec .modal .sub_sec .checkbox label {
	font-size: 13px;
	color: #000;
}
.wish_sec .modal button.close {
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
	-webkit-appearance: none;
	position: absolute;
	z-index: 999999;
	right: 16px;
	top: 9px;
}





.newwish {
	min-width: 180px;
	color: #1e1e1e;
	margin-bottom: 0.5rem;
	border: 1px solid #eee;
	padding: 1rem;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}
.wish_name {
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	cursor: pointer;
	padding-top: 2px;
}
.wish_icon {
	margin-left: 1rem;
	min-width: 52px;
	padding-left: 9px;
	border-left: 1px solid #eee;
}
.wish_name a {
	color: #000;
}
.wish_icon a {
	color: #000;
}


 ul li.wish_menu a {
	color: #000;
	text-transform: uppercase;
	font-weight: 400;
	font-size: 13px;
	padding-bottom: 8px;
}
li.wish_menu ul {
	position: absolute;
	width: 139px;
	display: none;
	top: 7px;
	right: 0;
}
#billdetails .radio_sec {
	margin: 20px 0 40px;
}
#changepassword .df p,#changepassword .df h4  {
	padding-left: 18px;
}
 li.wish_menu ul li {
	background: #555;
	display: block;
}
li.wish_menu ul li a {
	display: block !important;
	text-align: center;
	padding: 12px 8px 12px;
	background: #fff;
	border: 1px solid #ccc;
}
li.wish_menu:hover ul {
	display: block;
}
.wish_menu {
	position: relative;
	padding-right: 14px !important;
}
li.wish_menu ul li {
	padding-right: 0 !important;
}
.wish_menu span {
	margin-right: 12px;
}
#basketshow span {
	margin-right: 0;
	font-size: 12px;
}

#myModal39 .modal-dialog {
	width: 60%;
}
#myModal39 .modal-content {
	border-radius: 0;

}
#myModal39 .log_in.df .col-md-9.col-sm-9 {
	float: none;
	margin: 0 auto;
}
#myModal39 .contact-form .log_in {
	margin-top: 0;
}
#myModal39 .log_in.df p {
	padding-bottom: 19px;
}
#myModal39 .captcha {
	text-align: center;
}

.total_items {
	display: none;
}



#exTab2 h3 {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}



#exTab1 .nav-pills > li > a {
  border-radius: 0;
}



#exTab3 .nav-pills > li > a {
  border-radius: 4px 4px 0 0 ;
}

#exTab3 .tab-content {
  color : white;
  background-color: #428bca;
  padding : 5px 15px;
}
.ship-tab .nav-pills > li.active > a, .ship-tab .nav-pills > li.active > a:hover, .ship-tab .nav-pills > li.active > a:focus {
	color: #1e1e1e;
	background-color: #fff;
	font-weight: 500;
	border-bottom: 2px solid #1e1e1e;
	padding-left: 0;
}
.ship-tab .nav > li > a {
	color: rgba(0,0,0,0.54);
	font-weight: 500;
}
.ship-tab .compo-header {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	padding: 0 0 10px;
	font-weight: 700;
	color:#000;
}
.ship-tab .bundle-compo p {
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 15px;
	padding-bottom: 8px;
	font-size: 12px;
	color:#000;
}
.ship-tab .bundle-compo ul {
	list-style: square;
	margin-left: 23px;
}

.ship-tab .care p {
	border-bottom: 1px solid rgba(0, 0, 0, 0.1);
	font-weight: 700;
	text-transform: uppercase;
	padding-top: 38px;
	padding-bottom: 3px;
	font-size: 13px;
	color: #000;
}
.ship-tab .care ul {
	margin-top: 18px;
}
.ship-tab .care ul li {
	padding-bottom: 7px;
	color:#000;
}
.ship-tab .del-info {
	margin-top: 8px;
}
.ship-tab .del-info h5 {
	font-weight: 700;
	padding: 12px 0 10px;
	text-decoration: underline;
	color: #1e1e1e;
	font-size:14px;
}
.ship-tab .del-info a {
	color: #333;
	padding-top: 9px;
	display: block;
	font-size: 13px;
	text-decoration: underline;
}
#myModal334 .infobox {
	float: none !important;

}
#myModal334 .modal-dialog {
	width: 40%;
}

.thankyou .product_rightsec {
	min-height: auto;
}
.thankyou .product_buy.product_bill {
	padding: 19px 8px;
}
.thankyou .prosec .product_rightsec {
	width: 82%;
}
.thankyou .prosec .product_buy {
	margin-top: 0;
}
.thankyou .down-padd {
	padding-bottom: 37px !important;
}
.address_sec table a {
	background: #000;
	color: #fff !important;
	padding: 5px 12px;
	border:1px solid #000;
}

.address_sec table a:hover{
	background:#fff;
	color:#000 !important;
	border:1px solid #000;
}




.shipping_sec h4 {
	font-size: 17px;
	padding-top: 20px;
}
.product_rightsec.pro_df {
	min-height: auto;
}
.collection p {
	padding: 0;
}
.collec_sec h2 {
	padding-bottom: 15px;
}
.billing.bill_main h2 {
	padding-bottom: 10px;
}

.billing.bill_main .table > thead > tr > th, .billing.bill_main .table > tbody > tr > th,
.billing.bill_main .table > tfoot > tr > th, .table > thead > tr > td, .billing.bill_main .table > tbody > tr > td, .table > tfoot > tr > td {

	border-top: none;
	padding:5px 1px;
}
.tab_bold {
	font-weight: bold;
}
.product_buy.io {
	margin-bottom: 32px;
}
.change_sec .change a {
	padding-top: 24px;
	padding-bottom: 30px;
}
.product_rightsec.pro_as {
	min-height: 130px;
}
.change.bnm a {
	padding-top: 0;
	padding-bottom: 40px;
}
.shipping_sec h4 {
	font-size: 17px;
	padding-top: 20px;
}
.collection p {
	padding: 0;
}
.collec_sec h2 {
	padding-bottom: 15px;
}
.product_rightinfo span {
	text-align: right;
	float: right;
	color: #000;
}
.product_rightinfo span a {
	color: #000;
	color: #1e1e1e;
	font-size: 10px;
}
.pro_price {
	text-align: center;
}
ul.pro_price li {
	display: inline-block;
	padding-right: 32px;
}
ul.pro_price li:last-child {
	padding: 0;
}
.sub_sec.def.xc a {
	text-decoration: underline;
	color: #23527c;
}



.feedback .feedback_content {
	position: fixed;
	width: 39px;
	padding: 12px 6px 12px 10px;
	background: #27509a;
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
	-moz-transition: -moz-box-shadow 0.1s ease-in-out;
	-o-transition: -o-box-shadow 0.1s ease-in-out;
	-ms-transition: -ms-box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	right: -2px;
	top: 23%;
	z-index: 9999;
	border-radius:3px 0 0 3px;
}
.feedback .feedback_content:hover {
	right: 0;
}
#nm.modal {
	z-index: 9999999999;
}
.feedback .feedback_cstm {
	color: #ffffff;
	display: inline-block !important;
	overflow-wrap: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	white-space: nowrap !important;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	cursor: pointer;
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	-ms-writing-mode: tb-rl;
	-o-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);

}

.feedback .feedback_cstm a{
	color:#fff;
	font-size:13px;
}
#nm .modal-content {
	padding: 20px 30px;
	border-radius: 4px;
}
#nm p {
	margin: 11px 0;
}
#nm a {
    color: #27509a;
    word-break: break-word;
}
#nm a:focus {
	text-decoration:none;
}
#nm.modal {
	left: inherit;
	top:25%;
}



.feedback_sec .feedback_content {
	position: fixed;
	width: 40px;
	padding: 12px 14px 12px 12px;
	background: #FD8002;
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
	-moz-transition: -moz-box-shadow 0.1s ease-in-out;
	-o-transition: -o-box-shadow 0.1s ease-in-out;
	-ms-transition: -ms-box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	right: 0;
	top: 35%;
	z-index: 9999;
}
.feedback_sec .feedback_cstm {
	color: #ffffff;
	display: inline-block !important;
	overflow-wrap: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	white-space: nowrap !important;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	cursor: pointer;
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	-ms-writing-mode: tb-rl;
	-o-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);

}

.feedback_sec .feedback_cstm a{
	color:#fff;
}
#nms .modal-content {
	padding: 20px;
}
#nms p {
	margin: 11px 0;
}
#nms a {
	color:#27509a;
}
#nms a:focus {
	text-decoration:none;
}
#nms.modal {
	left: inherit;
	top:30%;
}

#nm button.close {
	background: #27509a;
	opacity: 1;
	text-shadow: none;
	padding: 4px 8px;
	border-radius: 100%;
	color: #fff;
	right: 0;
	position: absolute;
	top: -15px;
}

#nms button.close {
	background: #27509a;
	opacity: 1;
	text-shadow: none;
	padding: 4px 8px;
	border-radius: 100%;
	color: #fff;
	right: 0;
	position: absolute;
	top: -15px;
}

.del-info p {
	padding-bottom: 0;
	margin-top: 0;
	padding-top: 0;
	text-transform: inherit;
	font-size: 14px;
}
#myModal66 .modal-dialog {
	width: 46%;
}
#myModal66 .modal-content {
	height: 622px;
	overflow-y: scroll;
}
.last_info {
	padding-bottom: 30px;
}

.sidenavs {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 24%;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenavs a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavs a:hover {
  color: #f1f1f1;
}

.sidenavs .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.card_sect p {
	padding-bottom: 0;
	margin-bottom: 0;
	padding-top: 10px;
	font-size: 13px;
}
.star-fav {
	color: #888b8d;
	font-size: 18px;
	margin-left: 4px;
}

.wish_main {
	border: 1px solid #eeee;
	padding: 14px 15px;
	margin-top: 10px;
}
.wish_main .icn_heart {
	font-size: 18px;
	color: #000;
}
.wish_main .text {
	font-size: 18px;
	font-weight: 700;
	color: #000;
	margin-left: 4px;
}
.wish_info h5 {
	font-weight: 700;
	padding-top: 25px;
}
.wish_info p {
	font-size: 13px;
	padding-left: 0;
	padding-top: 18px;
}
.wish_info h5 {
	font-weight: 700;
	padding-top: 25px;
	font-size: 14px;
}
.wish_info p span {
	margin: 0 6px 0 3px;
}

.wish_sv {
	min-width: 180px;
	color: #1e1e1e;
	margin-bottom: 0.5rem;
	border: 1px solid #eee;
	padding: 13px 10px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	-webkit-transition: all 0.3s;
	transition: all 0.3s;
}

itx-my-wishlists .my-wishlists-list .user-wishlist:hover .wishlist-span-container a, itx-my-wishlists .my-wishlists-list .user-wishlist:hover .wishlist-span-container span, itx-my-wishlists .my-wishlists-list .user-wishlist:hover .wishlist-icon-container a, itx-my-wishlists .my-wishlists-list .user-wishlist:hover .wishlist-icon-container span {
	color: #ffffff;
}

.wish_sv:hover {
	background:#1e1e1e;
}
.wish_sv:hover .add_wish a,.wish_sv:hover .wish_sv span,.wish_sv:hover .del_wish ul li a,.wish_sv:hover .user-wishlist-number{
	color:#fff;
}

.add_wish {
	width: 100%;
	white-space: nowrap;
	cursor: pointer;
	padding-top: 2px;
}
.wish_box {
	margin-top: 10px;
}
.add_wish h5 {
	font-weight: 700;
}
.add_wish h5 a {
	color: #000;
	text-decoration: none;
	padding: 16px 10px;
	display: inline-block;
	max-width: 70%;
	width: 100%;
}
.add_wish h5 a {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	max-width: 70%;
}


.del_wish {
	float: right;
	width: 30%;
}
.add_wish a {
	color: #000;
	font-weight: 400;
	display: inline-block;
	white-space: nowrap;
	text-overflow: ellipsis;
	width: 100%;
	max-width: 70%;
	overflow: hidden;
	font-size:12px;
}

.del_wish {
	margin-left: 1rem;
	min-width: 52px;
	padding-left: 9px;
	border-left: 1px solid #eee;
}

.wish_sv ul li {
	float: left;
	margin-right: 7px;
}
.wish_sv ul li a {
	color: #000;
}
.wish_sv span {
	float:right;
}

.new_df a {
	color: #000;
	text-decoration: none;
	padding: 11px 14px;
	display: block;
}
.new_df a:hover {
	color: #fff;
	background: #000;
}
.new_df {
	padding-top: 17px;
}
.new_df a {
	color: #000;
}
.new_df span {
	margin-right: 7px;
}
.wish_pop h5 {
	font-size: 14px;
	font-weight: 700;
	padding: 20px 0;
	text-transform: uppercase;
	line-height: 19px;
}
.war_sec a {
	border: none !important;
}
.war_sec a:hover {
	background:#db5555 !important;
}
.war_sec a {
	width: 100%;
	display: inline-block;
	background: #000;
	color: #fff !important;
	padding: 13px 0 !important;
	text-align: center;
	background: #b34444;
	border: 1px solid #b34444 !important;
	margin-bottom:10px;
}
.war_sec a span {
	margin-right: 8px;
}
a.bnv {
	background: #fff;
	border: 1px solid #000 !important;
	color: #000 !important;
}
a.bnv:hover {
	background: #000 !important;
	color: #fff !important;
}
 .logo span a{
	 color:#23527c;
 }
.pass-sec .bck_sec {
	float: none;
}
.pass-sec .bck_sec a {
	float: left;
}
#myModal34 .col-md-9.col-sm-9 {
	float: none;
	margin: 0 auto;
}

#billdetails .error {
	background: #fff;

}
#address_sec p {
	padding-left: 0;
	font-size: 13px;
}
#address_sec h2 {
	font-size: 14px;
	text-transform: uppercase;
	color: #000;
}

.wish_img {
	width: 20%;
	float: left;
}
.wish_detail {
	width: 75%;
	float: left;
	margin-left: 10px;
}
.wish_detail span {
	float: right;
}
.wish_detail p {
	color: #1e1e1e;
	font-size: 10px;
	font-weight: 300;
	padding: 0px 0;
	margin: 0;
}
.wishproduct_info {
	width: 48.5%;
	float: left;
	border: solid 1px rgba(0, 0, 0, 0.05);
	padding: 8px;
	margin-left: 11px;
	margin-top: 12px;
}
.wishproduct_info:hover {
	background:rgba(0, 0, 0, 0.04);
	border:solid 1px rgba(0, 0, 0, 0.1);
}
.wish_detail h2 {
	font-weight: 700;
	margin-top: 0;
	padding-top: 0;
	line-height: 15px;
	margin-bottom: 10px;
}
.wish_detail h2 a {
	font-size: 11px;
	color: #1e1e1e;
	text-transform: uppercase;
}
.multi ul li {
	display: inline-block;
	margin: 0 4px;
}
.multi ul li a {
	color: #000;
	font-size: 10px;
}
.iow {
	padding-left: 0;
}
.xc a i {
	font-size: 13px;
}
.xc a {
	margin:0 4px;
}
.glob_video {
	margin-top: 60px;
}
.glob_video iframe {
	max-width: 100%;
	height: 161px;
}
.xz img {
	width: 60%;
}
.add_ev {
	margin-top: 33px;
	text-align: right;
}
.add_ev a {
	color: #1e1e1e;
	text-transform: uppercase;
	font-size: 11px;
	padding: 11px 43px;
	border: 1px solid #000;
}
.add_ev span {
	margin-right: 10px;
	font-size: 13px;
}
.add_ev a:hover {
	color: #fff;
	background:#1e1e1e;
}
.empt_sec p {
	margin: 0;
	padding: 5px 0;
}
.empt_sec h2 {
	padding: 0;
	margin-bottom: 10px;
}
.empt_sec ul li {
	display: inline-block;
}
.empt_sec ul li a {
	color: #8a8a8a;
	font-size: 12px;
}
.empt_sec ul {
	margin-top: 20px;
	text-align: right;
}
.empt_sec ul li span {
	margin-right: 10px;
}
.empt_sec {
	border: 1px solid #d9d9d6;
	padding: 10px 15px;
	margin-bottom: 18px;
	min-height: 276px;
}
.bold_sec {
	padding-top: 18px !important;
	display: inline-block;
}
.empty_cards {
	width: 31%;
	border: 1px solid #d9d9d6;
	text-align: center;
	padding: 80px 0;
	cursor: pointer;
	margin-top:15px;
}
.empty_cards a {
	color: #888b8d;
	border-bottom: 1px dotted #888b8d;
	text-align: center;
}
.qws {
	padding-left: 14px;
}
.errserver{color: red !important; margin-top: 4px;}

.showsh{display:block !important;}
.hidesh{display:none !important;}


#myModal67 .modal-dialog {
	width: 400px;
}
.item-lenght {
	margin-left: 5px;
}
.product_info #myModal67 h4 {
	padding-top: 10px;

}
.wish_heartselected {
	float: right;
	font-size: 18px;
}
.wish_vb ul li {
	margin-bottom: 10px;
	border-bottom: 1px solid #e1e1e1;
	padding-bottom: 11px;
}
.wish_vb ul li a {
	color: #000;
	font-size: 11px;
}
.wish_heartsec {
	float: right;
}
.contact-form .log_in .wish_vb {
	margin-top: 6px;
}
.wish_vb h2 {
	text-transform: uppercase;
	margin-bottom: 34px;
	font-size: 16px;
}
.wish_heartsec i {
	font-size: 17px;
}
.contact-form #myModal67 .log_in.df {
	margin-top: 0 !important;
}
#myModal67 .contact-form   {
	padding-bottom: 0 !important;
}
#myModal67 .group {
	position: relative;
	margin-bottom: 32px;
	margin-top: 34px;
}
.wish_bt {
	margin-bottom: 20px;
}
.wish_bt a {
	border: 1px solid #000;
	color: #000;
	padding: 12px 48px;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	display: block;
	text-align: center;
}
.wish_bt a:hover {
	border: 1px solid #000;
	color: #fff;
	background: #000;
}
.create_wish a {
	border: 1px solid #000;
	color: #fff;
	padding: 12px 48px;
	text-transform: uppercase;
	font-size: 12px;
	cursor: pointer;
	display: block;
	text-align: center;
	background: #000;
}
.create_wish a:hover {
	border: 1px solid #000;
	color: #000;
	background: #fff;

}

.multi ul li input {
    width: 12px;
    border: none;
    font-size: 10px;
	background:transparent;
}

.search-form-wrapper {
	display: none;
	position: absolute;
	left: 0;
	right: 0;
	padding: 20px 15px;
	margin-top: 50px;
	width: 70%;
	margin: 41px auto;
	z-index: 9;
}
.search-form-wrapper .form-control {
	height: 52px;
	border-radius: 5px;
	box-shadow: none;
	border-right: none;
	border: 1px solid #000;
	border-radius: n;
	border-right: none;
}
.search-form-wrapper.open {
    display: block;
}
.cc .navbar-right ~ .navbar-right {
	position: relative;
}
.header .btn-success:hover {
	background-color: transparent;
	border-color: transparent;
}
.header .btn-success {
	background-color: transparent;
	border-color: transparent;
	width: 100%;
	position: absolute;
}
.header .input-group-addon {
	background-color: #fff;
	border-radius: 0;
	cursor: pointer;
	font-size: 19px;
	border: 1px solid #000;
	border-left: none;
	border-radius: 0 5px 5px 0;
}
#total_items {
	margin-right: 0;
}


ul.sale_last li {
	padding-bottom: 6px;
}
ul.sale_last {
	margin-top: 8px;
}
.full_img i {
	color: #000;
	font-size: 44px;
}


ul.new_quant li:first-child {
	float: left;
	width: 49%;
	margin-left: 2px;
}
ul.new_quant li:nth-last-child(2) {
	float: left;
	width: 49%;
}
ul.new_quant li:last-child {
	float: left;
	width: 49%;
}
.quant_ful {
	width: 100% !important;
}
.bundle-compo ul li {
	padding-top: 9px;
}

ul.new_quant_slide li:first-child {
	float: left;
	width: 46%;
	margin-left: 2px;
	margin-top: 0;
}
.new_quant_sec li:first-child {
	margin-top: 0 !important;
}
ul.new_quant_slide li:nth-last-child(2) {
	float: left;
	width: 46%;
	margin-right: 9px;
}
ul.new_quant_slide li:last-child {
	float: left;
	width: 48%;
}
ul.new_quant_slide li .form-control {
	font-size: 11px;
}
ul.new_quant_slide li label {
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: rgba(0,0,0,0.54);
	font-weight: 400;
}

.quant_full_sec {
	width:100% !important;
}
.quant_full_sec label {
	display: inherit;
	text-align:left;
}

.new_quant_slide select {
	background-position: 110%;

}
.new_quant_sec .quant_full_sec {
	position: relative;
}
.new_quant_sec label {
	position: absolute;
	top: -4px;
}
.new_quant_slide .quant_full_sec {
	position: relative;
}
.new_quant_slide label {
	position: absolute;
	top: -4px;
}
ul.new_quant li {
	position: relative;
}
.new_quant label {
	position: absolute;
	top: -4px;
}
.new_quant_slide li {
	position: relative;
}
ul.new_quant_sec li:first-child {
	width: 46%;
	float: left;
}
ul.new_quant_sec li:nth-last-child(2) {
	float: left;
	width: 46%;
	margin-right: 9px;
}
ul.new_quant_sec li label {
	font-size: 10px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	color: rgba(0,0,0,0.54);
	font-weight: 400;
}
.product_content .carousel-inner {
	position: relative;
	width: 100%;
}
.product_main {
	min-height: 346px;
}
.product_inner .product_content {
	height: 404px;
}
.product .product_inner .product_main h2 {
	position: absolute;
	color: #fff;
	font-weight: 600;
	top: 5%;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 17px;
	background: rgba(0, 0, 0, 0.4);
	padding: 19px 10px;
	width: 99%;
	margin: 0 auto;
	height: 83px;
	display: flex;
	align-items: center;
	justify-content: center;
	line-height: 22px;
}

.product_out_of_stock {
  opacity: 0.3;
}
