
/* Responsive css */


@media only screen and (max-width: 1285px){
	
.wishproduct_info {
	margin-left: 10px;
}	
	
}

@media only screen and (max-width: 1276px){
   .header .log ul li a {
	font-size: 12px;
}	
.header .log ul li {
	padding: 0 12px 0 0;
}	
.wish_menu {
	padding-right: 7px !important;
}	
	
}

@media only screen and (max-width: 1231px){
	
.total ul li {
	padding: 0 43px 0px 0px;
	
}	
	
	
}

@media only screen and (max-width: 1199px){
	
.footer_social h3 {
	font-size: 13px;
}
.flexslider .slides img {
	height: auto;
}
.slider {
	height: auto;
}
.logo span {
	right: 20%;
}	
.total ul li:last-child {
	padding-right: 13px;
}	
.total ul li {
	padding: 0 38px 0px 0px;
}
.footer_social .drop_cstm ul li {
	margin: 1px;
}
.io {
	padding-right: 26px;
}
ul.bskt_list li {
	margin: 0 3px;
}
.footer_social .and_sec ul li {
	display: inline-block;
	margin: 0 1px;
}	
}

@media only screen and (max-width: 1184px){
	
.wish_menu ul li a {
	font-size: 11px;
}	
.wish_menu ul li span {
	margin-right: 5px;
	font-size: 11px;
}
.wishproduct_info {
	margin-left: 9px;
}
.wish_detail h2 a {
	font-size: 9px;
}	
}



@media only screen and (max-width: 1157px){
	
	.header .log ul li:first-child {
	padding-right: 7px;
}
.header .log ul li a {
	font-size: 11px;
}	
.header .log ul li a {
	font-size: 9px;
}		
}

@media only screen and (max-width: 1072px){
.wishproduct_info {
	margin-left: 7px;
}	
.multi ul li {
	margin: 0 0px;
}	
	
}



@media (min-width: 768px) and (max-width: 1023px){
	
	.product .col-md-10.col-sm-10 {
	width: 100%;
}
.nav.navbar-nav.aligngap li {
	margin-right: 11px;
	width: 108px;
}
	
.navbar-text {
	margin-left: 0px;
	margin-right: 8px;
}	
.thankyou h1 {
	margin-top: 60px;
}
.modal .contact-form.contact_sec{
	margin-top: 20px;
}
.notification {
	margin-top: 100px;
}
.adres_cstm {
	margin-top: 95px;
}	
}

@media only screen and (max-width: 1024px){
	.side_nav {
	display: none !important;
}
.cv {
	
	display: none !important;
}

.slide_basket {
	display: none !important;
}

header.header {
	
	background: #fff;
}
.header .form-inline.cc {
	
	display: none;
}
.res_sec {
	display: none;
}
.logo_res {
	display: block;
}
header .logo {
	
	display: none;
}
#menu-toggle {
	
	display: block;
}
.logo_res img {
	display: inline;
}
.logo_res {
	display: block;
	text-align: center;
}

.RCSlideoverlay,.RCSlideoverlay_2,.RCSlideoverlay_3 {
	top: 35%;
	
}
.log {
	bottom: -63px;
}
.sidebar-nav #menu-close {
	display: none;
}
#menu-toggle {
	position: absolute;
	top: 10px;
	left: 0px;
}
.product .product_inner .product_main h2 {
	font-size: 17px;
	line-height: 25px;
}

}

@media only screen and (max-width: 1023px){
 .total_items {
	display: block;
	float: right;
	position: relative;
	top: 4px;
}

#billdetails .contact-form.contact_sec {
	margin-top: 0;
}

.contact-form .basket {
	margin-top: 100px;
}
.wish_main {
	margin-top: 112px;
}
.wish_box {
	margin-top: 112px;
}
#myModal67 .contact-form.contact_sec {
	margin-top: 0;
}
.product {
	margin-top: 100px;
}
.product .product_inner {
	padding-left: 0;
}
.footer_sec .col-md-offset-2 {
	margin-left: 0;
	width: 100%;
}
.qws {
	margin-top: 100px;
}
.submit_sec .buttons {
	display: inline;
}
.contact-form.contact_sec {
	margin-top: 100px;
}
.contact-form {
	padding: 0 0 4px;
}
.border {
	width: 100%;
}
header.header {
	position: fixed;
	
}
.header.header_sec {
	position: fixed;
}
#nm button.close {
	top: 0;
}
.dropdown-menu.style-one li a span {
	font-size: 13px !important;
	margin-left: 9px;
}
.log .dropdown-menu {
	left: 0;
}
}

@media only screen and (max-width: 991px){
.submit_sec .buttons {
	padding: 12px 12px;
}
.drop_cstm ul li img {
	width: 36px;
}
.footer_social ul li a {
	font-size: 12px;
}
#myModal66 .modal-dialog {
	width: 80%;
}

ul.bskt_list li a {
	font-size: 10px;
}
ul.pro_price li {
	padding-right: 19px;
}
.qp {
	margin-right: 0 !important;
}
#myModal5 .group, #myModal7 .group, #myModal8 .group, #myModal23 .group, #billdetails .group {
	min-height: auto;
}
.wish_sv {
	min-width: 100%;
	width: 100%;
}
.wish_sv span {
	font-size: 10px;
}
.del_wish {
	margin-left: 3px;
	padding-left: 5px;
}
.wish_sv ul li a {
	font-size: 11px;
}
.wish_sv span {
	font-size: 10px;
}
.add_wish a {
	max-width: 63%;
}
.wishproduct_info {
	margin-left: 5px;
}
.new_df a {
	font-size: 12px;
}
.add_ev {
	margin-bottom: 27px;
}

}
@media only screen and (max-width: 767px){
.flex-control-nav {
	bottom: 5px !important;
}
.RCSlideoverlay_3 h1 {
	font-size: 66px;
	line-height: 72px;
}
.order-summary {
	float: left;
}
.order_sec {
	display: inline;
	float: left;
}
.cart-total {
	float: left;
	width:100%;
}
.nm_sec span {
	width: 50%;
	float: left;
}
.free_store {
	float: left;
}
.promote-sec {
	float: left;
}
.wish_main {
	margin-top: 20px;
}
.wish_box {
	margin-top: 20px;
}

.qws {
	margin-top: 14px;
}
.product .product_inner .product_main img {
	display: inline;
	text-align: center;
	width: 100%;
}
.product .product_inner .product_main h2 {
	width: 100%;
}
.contact-form.contact_sec {
	margin-top: 62px;
}

.add_ev {
	margin-top: 33px;
	float: right;
	width: 100%;
	margin-bottom: 38px;
}
.wish_box {
	float: left;
	width: 100%;
}
.new_df {
	float: left;
	width: 100%;
}
.shipping {
	margin-top: 89px;
}
.qws {
	padding-left: 0;
}
.RCSlideoverlay_2 h1 {
	font-size: 43px;
	
}
.RCSlideoverlay_2 p {
	padding-top: 28px;
	font-size: 18px;
	
}
.empty_cards {
	width: 100%;
	
}
.xz img {
	width: auto;
}

.process_btn {
	margin-top: 27px;
	float: left;
	width: 100%;
	margin-bottom: 57px;
}
.log {
	position: absolute;
	right: 0;
	bottom: 34px;
}
.cat_nav {
	margin-bottom: 0;
	display: none;
}
.filter-right {
	display: none;
}
.xz {
	text-align:center;
}
.footerLinks {
	text-align: center;
}
.xz {
	margin-top: 27px;
	text-align: center;
}
.flex-control-nav {
	z-index: 9 !important;
}

#mymodal .modal-dialog {
	width: 80%;
	margin: 27px auto;
}
.modal .modal-dialog {
	width: 80%;
	margin: 0 auto;
}
.contact-form .log_in h4 {
	padding-top: 18px;
}
.order-summary {
	margin-top: 75px;
}
.contact-form.contact_sec {
	margin-top: 0;
}
.wishproduct_info {
	width: 100%;
}
.wishproduct_info {
	margin-left: 0;
}
.wish_main {
	margin-left: 0;
}
.qp {
	display: none;
}
}

@media only screen and (max-width: 660px){
.prosec .product_leftimg {
	width: 26%;
}
.prosec .product_rightsec {
	width: 61%;
}
.item_quantity ul li:first-child {
	display: none;
}
.prosec .total {
	padding-left: 13px;
	font-size: 11px;
}
.nm_sec span {
	width: 50%;
	float: left;
}
.qp a {
	font-size: 7px !important;
}
.qp {
	margin-right: 0 !important;
	text-align: left !important;
	float: none !important;
}
.we {
	text-align: left !important;
}
ul.pro_price li {
	display: inline-block;
	padding-right: 5px;
	font-size: 12px;
	line-height: 17px;
}
.product_rightsec {
	margin-left: 0;
}
.order-summary {
	float: none;
}
.process_btn {
	margin-bottom: 7px;
}

.product_leftimg {
	width: 100%;
}
.product_rightsec {
	width: 100%;
}
.io {
	padding-right: 0;
}
.product_rightinfo h5 {
	font-size: 11px;
}
.product_rightinfo {
	padding-bottom: 50px;
}
.total.final-price-single337 {
	display: none;
}
.total.total-single-tax337 {
	display: none;
}
.io {
	padding-right: 0;
}
.prosec .op {
	display: none;
}
.order-summary {
	float: left;
}
.order_sec {
	display: inline;
	float: left;
}
.cart-total {
	float: left;
	width:100%;
}
.free_store {
	float: left;
}
.promote-sec {
	float: left;
}	
}

@media only screen and (max-width: 567px){
.flexslider .slides img {
	height: 320px;
}
.RCSlideoverlay_3 h1 {
	font-size: 44px;
	line-height: 50px;
}
.RCSlideoverlay_3 p {
	padding-top: 39px;
	font-size: 23px;
	line-height: 21px;
}

.product_rightinfo h5 a {
	font-size: 10px;
}
.RCSlideoverlay h1 {
	font-size: 33px;
	
}
.flex-control-paging li a {
	width: 47px !important;
	
}
.RCSlideoverlay_2 h1 {
	font-size: 33px;
}
.RCSlideoverlay_2 a {
	padding-top: 21px;
	font-size: 19px;
}
.discount p {
	font-size: 13px;
}
.discount .news_f_3.news_small.news_small_tregalo {
	font-weight: 700;
	font-size: 11px;
	line-height: 15px;
}
.header .log ul li:first-child {
	padding-right: 0px;
}
.header .log ul li {
	padding: 0 10px 0 0;
}
.header .log ul li:first-child {
	padding-right: 0px;
	display: none;
}
.log {
	bottom: 46px;
}
.category-content h1 {
	font-size: 24px;
}
.group label {
	font-size: 11px;
}
ol.gh {
	margin-left: 16px;
}
.nm_sec span {
	width: 50%;
	float: left;
}
.io {
	display: none;
}
ul.pro_price li:first-child {
	display: none;
}
ul.pro_price li:nth-child(2) {
	display: none;
}

.bskt_list {
	width: 74px;
}
.item_quantity ul li {
	margin: 0 0;
}
.item_prop {
	padding-right: 15px;
}

.order-summary h2 {
	padding-top: 31px;
	display: inline-block;
}
.order-summary {
	margin-top: 48px;
}

.contact-form .log_in {
	margin-top: 8px;
}
.contact-form .log_in h4 {
	font-size: 11px;
	line-height: 14px;
}
.contact-form label {
	font-size: 13px;
}
.cstm_radio {
	padding-left: 28px;
	
}
.cstm_radio .checkmark {
	top: -2px;
	
}
.sub_sec .con {
	font-size:12px;
}
.wish_menu {
	padding-right: 0px !important;
}
#myModal67 .modal-dialog {
	width: 80%;
}
.order-summary {
	float: left;
}
.order_sec {
	display: inline;
	float: left;
}
.cart-total {
	float: left;
	width:100%;
}
.free_store {
	float: left;
}
.promote-sec {
	float: left;
}		
}



@media only screen and (max-width: 480px){
	
	
.empty_card {
	width: 100%;
}	
.size ul li:first-child {
	width: 64%;
}
.size ul li:last-child {
	width: 34%;
}
#changeemail.modal .modal-dialog {
	width: 89%;
}
.nm_sec span {
	width: 50%;
	float: left;
}
.contact-form .log_in .group label {
	font-size: 10px;
}
.swiper .owl-next {
	right: 0;
}
.swiper .owl-prev {
	right: 37px;
}
#feedback h3 {
	font-size: 13px;
}
.wish_main .text {
	font-size: 13px;
}
.add_ev a {
	padding: 11px 21px;
}
.icn i {
	font-size: 14px;
}
.wish_menu ul li {
	margin: 0 0px;
}
.wish_menu ul li span {
	margin-right: 4px;
}
.create_wish a {
	padding: 12px 14px;
}
.cont_btn .btn-md {
	padding: 12px 16px !important;
}
.cont_btn .buttons {
	font-size: 9px !important;	
}
.product_rightsec {
	min-height: 115px;
}
.prosec .product_rightsec {
	width: 100%;
}
.prosec .product_leftimg {
	width: 100%;
}
.order-summary {
	float: left;
	
}
.order_sec {
	display: inline;
	float: left;
}
.cart-total {
	float: left;
	width:100%;
}
.free_store {
	float: left;
}
.promote-sec {
	float: left;
}		
}






