.logo_zora img {
	/*width: 100%;*/
	height: 120px;
}
.lofgo_sr{
	padding-left:0px;
}
.lofgo_sr img {
	margin-right: 10px;
}
.log_sign{
	float:right;
}
.lofgo_sr li {
	display: inline;
	list-style: none;
	margin-right: 25px;
	font-size: 10px;
	padding-top: 0px;
	float: left;
	color: #1e1e1e;
	text-transform: uppercase;
	font-weight: bold;
}
.header_main {
	margin: 20px 0;
}
.test_message > li{
	float:none !important;
	font-size:13px !important;
}
...........................................................
.SearchIcon
{
    color:#fff;
}
.SearchButton {
	background-color: #fff;
	border-radius: 1px;
	border: 1px solid #ccc;
}
.SearchButton:hover{
    background-color:#C4161C;
}
.sale_now{
	padding-left:10px;
}
.sale_now li{
	list-style:none;
}
.sale_nowfg {
	font-weight: bold;
	color:  #000;
	font-size: 20px;
}
.sale_now li a:hover{
	text-decoration:none;
}
.sale_now li a{
	list-style:none;
	color: #000;
	font-size: 19px;
	font-weight: bold;
}
.sale_nows {
	padding-left: 0;	
}
.New_collect{
color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
}
.sale_nows li{
	list-style:none;
}
.sale_nows li a{
	color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
font-size: 12px;
}
.SALE_ghy{
color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
font-size:16px;
}



.sale_d{
	color: #cf112b;
	padding:100px 0 0;
	font-size:150px;
	font-weight:bold;
}
.search_um {
	/*margin-top: 16px;
	float: left;*/
	margin-top: 40px;
    float: right;
    width: 67%;
	
}

.btn {
    display: inline-block;
    padding: 9px 16px !important;
	background-color: #fff;
border-radius: 1px;
border: 1px solid #ccc;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}.SearchButton {
    background-color: #fff;
    border-radius: 1px;
    border: 1px solid #ccc;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.three_df {
	color: #cf112b;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 15%;
}
.emailj {
	border: none;
	box-shadow: unset;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
	text-align: center;
}
.rhv {
	/*padding-left: 0px;
	margin-top: 20px;*/
}
.rhv li{
	list-style:none;
	display:inline;
	padding: 0 0px;
}
.folloe {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.rhvz {
	padding-left: 0px;
	/*margin-top: 20px;*/
	text-align:center;
}
.rhvz li{
	list-style:none;
	display:inline;
	padding: 0 6px;
}
.gucidr_gjh {
	color: #1e1e1e;
	font-size: 13px;
	padding-left: 47px;
}
.contactd{
	padding-left:50px;
}
.contactd li{
	list-style:none;
}
.contactd li a {
	color: #666;
	font-size: 12px;
}
.contact_social{
	margin:20px 0;
	
	width:100%;
	text-align:center;
}
.contact_formf_g{
	margin:20px 0;
	
}

.login-component h2 {
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.login_cls {
    -moz-box-flex: 1;
    box-sizing: border-box;
    flex: 1 1 100%;
}

.login_cls {
    margin: 8px;
}

.hidden-xs p {
    margin: 7px 0;
}
.email_class label{
	font-weight:0px !important;
}
.pass_class label{
	font-weight:0px !important;
}
.btn.btn-primary.black-background.white:hover {
    background-color: black;
    color:#fff!important;
   
}
@media only screen and (max-width:1199px){
	.contact_social {
    		text-align: center;
	}
	.rhv li {
    		 padding: 0 5px;
	}
}
@media only screen and (max-width:479px){
	.log_sign {
    		float: none;
	}
}

/* Modal css */
.error{
	color:red !important;
	margin-top:35px;
	font-size:12px !important;
	
}
.modal-header{
	border-bottom:none!important;
	padding:10px !important;
}
.btn.btn-primary.black-background.white {
  background: #ffff none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
}
.control-group.check {
  font-size: 14px !important;
  font-weight: initial;
  text-decoration: none;
}
.control-group.check >a{
	color:#ccc;
}
.text-line {
    background-color: transparent !important;
    color: #eeeeee !important;
    outline: none !important;
    outline-style: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #000 !important;
    padding: 3px 10px!important;
	border-radius:0px !important;
	box-shadow:none !important;
	width:47%!important;
	
}
@media only screen  and (max-width: 360px){
label{
	display:flex;
}
}

/*  Login Form Css */

.login-form{
  padding: 0 0 90px;
}
.login-form a{
  text-decoration: none;
  color: #000;
}
.login-form a:hover{
  text-decoration: none;
  color: #000;
}
.login-form a img{
  float: left;
}
.login-form h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    font-size: 1.4rem;
    margin-bottom: 20px;
}

.login-form h2.create-head{
  text-align: center;width: 50%;margin:0 auto 30px; 
}
.login-form p{
  margin:8px 8px 8px 0;
}
.login-form ul{
    width: 30%;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}
.login-form ul li{
  float: left;
  width: 50%;
  list-style: none;
}
.login-form ul li a{
  float: left;
  width: 100%;
}
.login-form ul li .radio-data{
  position: relative;;
  margin-bottom: 20px;
}

/* form {
  width: 250px;
  margin-top: 30px;
} */

.group { 
  position: relative; 
  margin-bottom: 35px; 
}

 .form_input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  color: #000;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
} 

input:focus { outline: none; }

input.check-content{
  -webkit-appearance: checkbox;float: left;width: initial;margin-top: 14px !important;
}
input.radio-content{
  -webkit-appearance: radio;
  width: inherit;
}



/* Label */

label {
  color: #1e1e1e; 
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}

input[type="checkbox"] + label:before {
  background-color: white;
  border: 1px solid #ccc;
 /* content:"";*/
  display: inline-block;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  margin: -2px 6px 0 -25px;
  vertical-align: middle;
}
/* Add something to mark that it's been selected. */
input[type="checkbox"]:checked + label:before{
  /* content: "\2713"; */
  text-align: center;
}


/* active */

input:focus~ label, input.used ~ label {
  top: -15px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
input:focus~ label.error, input.used ~ label.error {
  top: 5px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
/*.error-label{
	top:-15px;
}*/
input:focus ~ label.check-button, input.used ~ label.check-button {
  top: 11px;
  transform: initial; 
  left:5px;
  /* font-size: 14px; */
  color: #000;
}


/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #000; 
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}





/* Button */

.button {
  position: relative;
  display: inline-block;
  padding: 12px 24px;
  margin: .3em 0 1em 35px;
  width: 44%;
  vertical-align: middle;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }
button.buttonBlue{width:100%;}

.buttonBlue{width:50%;padding:10px 24px;}

.buttonBlue:hover { background: #000;color: #fff; }
.button:hover { background: #000;color: #fff; }
button.create-button{
  display: inherit;margin:30px auto 0;width: 35%;
}

.login-form form a{
  color: #888b8d;
  text-decoration: none;
}
.login-form form a:hover{
  color: #1e1e1e;
  text-decoration: none;
}

.login-form #aceptar_logincheckout {
    margin: 15px 0;
}

form.create-form{
    width: 50%;
    margin: 90px auto;
}

/* alter msg */

.alert-danger{
	background-color:rgba(255, 0, 0, 0.15) none repeat scroll 0 0;
	color:#dd2c00;
	border-radius:0 !important;
	padding:5px;
}
 .alert-success{
	 border-radius:0 !important;
	 padding:5px;
 }
.sale_now li a {
    color: #1e1e1e;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 1.4rem;
    list-style: outside none none;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-spot{
	border-top:1px solid #ccc;
	padding-top:20px;
	margin-top:50px;
}
.input_rt {
    margin-top: 30px;
}
.SearchBar{padding: 20px 32px;
	
	
	
}
p {
    margin: 0 0 30px;
    text-align: center;
}
 h2 {
    font-size: 20px;
    text-align: center !important;
}

.detail-inner {
    padding: -53px 0 !important;
}
.form-control::-moz-placeholder {
    color: #1e1e1e;
}
@media only screen and (min-width:768px) and (max-width:1280px){
	.button{width:44%;}
	.contact_formf_g{display: none;}
}

@media only screen and (max-width:767px){
	.button{display: none;}
	button.buttonBlue{width:50% !important;}
	.form_input{display: none;}
	.check-content{display: none;}
	.check-button{display: none;}
	.group{display: none;}
.contact_social{width: 100%;
text-align: center;}
.rhv{padding-left: 2px;}
.search_um{width: 100%;}
.folloe{padding-left: 2px;}
.logo_zora img{padding-left: 30%;}
.contactd.img{padding-left: 14%;}
}

@media only screen and (max-width: 667px){
  .login-form h2.create-head {
      width:  50%;
  }
  .login-form ul{
      width: 50%;
  }
  form.create-form{
      width: 50%;
  }
   button.create-button{
    width: 50%;
  }
  button.buttonBlue{width:50%;}
}

@media only screen and (max-width: 567px){
  .login-form h2.create-head {
      width: 70%;
  }
  .login-form ul{
      width: 70%;
  }
  form.create-form{
      width: 70%;
  }
   button.create-button{
    width: 70%;
  }
  button.buttonBlue{width:70%;}
  
}

@media only screen and  (max-width: 479px){

  form.create-form{
      width: 100%;
  }
  .login-form h2.create-head {
      width: 100%;
  }
  .login-form ul{
      width: 100%;
  }
  input[type="checkbox"] + label::before{
	margin:1px 6px 0 -25px;
  }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
input.check-content{margin-left: 26px;}
.check-content{margin-left: 25px;}
.button{float: right;
width: 100%;
}

.search_um{width: 100%;}
.folloe{padding-left: 2px;}
.logo_zora clearfix{padding-left: 30%;}
}

}


