.logo_zora img {
	/*width: 100%;*/
	height: auto;
}
.lofgo_sr{
	padding-left:0px;
}
.lofgo_sr img {
	margin-right: 10px;
}
.log_sign{
	float:right;
}
.lofgo_sr li {
	display: inline;
	list-style: none;
	margin-right: 25px;
	font-size: 10px;
	padding-top: 0px;
	float: left;
	color: #1e1e1e;
	text-transform: uppercase;
	font-weight: bold;
}
.header_main {
	margin: 20px 0;
}
.test_message > li{
	float:none !important;
	font-size:13px !important;
}


.text-left {
    text-align: left !important;
}
.noleft{ margin-left:0px; padding-left:0px;}
.noright{ margin-right:0px; padding-right:0px;}
.gap5{ height:5px !important; width:100%; clear:both;}
.gap10{ height:10px !important; width:100%; clear:both;}
.gap15{ height:15px !important; width:100%; clear:both;}
.gap20{ height:20px !important; width:100%; clear:both;}
.gap25{ height:25px !important; width:100%; clear:both;}
.gap30{ height:30px !important; width:100%; clear:both;}
.gap40{ height:40px !important; width:100%; clear:both;}
.gap50{ height:50px !important; width:100%; clear:both;}
.gap60{ height:60px !important; width:100%; clear:both;}
.gap70{ height:70px !important; width:100%; clear:both;}
.gap80{ height:80px !important; width:100%; clear:both;}
.gap90{ height:90px !important; width:100%; clear:both;}
.gap100{ height:100px !important; width:100%; clear:both;}

.nobg{ background:none !important;}
.noboder{ border:none !important;}
.nomrgpad{ margin:0 !important; padding:0 !important;}
.setting-row { margin: 0 !important; padding: 0 !important; }
.img-center{ display:inline-block;}
.colorchange{ border-top:1px solid #fff;}
.pad_more{ padding:0px 15px;}
.padon2{ padding:0px 60px;}
.pad_lefton{ padding-left:10px !important;}




.nomrgpad{ margin:0 !important; padding: 0 !important;}
.shopping_f{ min-height:90px;}
.shopping_fd{ min-height:90px;}
.modal-content {float:left !important;padding: 15px !important;}
.filter-right {padding: 8px 0px; float: right; width: 100%;}
.filter-right h3{margin: 0 !important; float: right; font-size: 12px; line-height: 28px;}
.filter-right nav ul.pagination{ 	display: inline-block; 	padding-left: 0;  margin: 0px 0px 0px 8px !important; border-radius:4px; }
.pagination > li {display: inline;}


.cat_nav{ background:none !important; border: none !important;}
.pagelinks { float:right !important;}
.pagelinks a{ color: #000 !important; border: none !important; padding: 4px 4px !important;}




/**************************************************************************/



.SearchIcon
{
    color:#fff;
}
.SearchButton {
	background-color: #fff;
	border-radius: 1px;
	border: 1px solid #ccc;
}
.SearchButton:hover{
    background-color:#C4161C;
}
.sale_now{
	padding-left:10px;
}
.sale_now li{
	list-style:none;
}
.sale_nowfg {
	font-weight: bold;
	color:  #000;
	font-size: 20px;
}
.sale_now li a:hover{
	text-decoration:none;
}
.sale_now li a{
	list-style:none;
	color: #000;
	font-size: 19px;
	font-weight: bold;
}
.sale_nows {
	padding-left: 0;	
}
.New_collect{
color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
}
.sale_nows li{
	list-style:none;
}
.sale_nows li a{
	color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
font-size: 12px;
}
.SALE_ghy{
color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
font-size:16px;
}



.sale_d{
	color: #cf112b;
	padding:100px 0 0;
	font-size:150px;
	font-weight:bold;
}
.search_um {
	/*margin-top: 16px;
	float: left;*/
	margin-top: 40px;
    float: right;
    width: 67%;
	
}

.btn {
    display: inline-block;
    padding: 9px 16px !important;
	background-color: #fff;
border-radius: 1px;
border: 1px solid #ccc;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}.SearchButton {
    background-color: #000;
    border-radius: 0px !important;
    border: 1px solid #000;
	padding: 0px 12px !important;
	height:40px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 0.429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}
.three_df {
	color: #cf112b;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 15%;
}
.emailj {
	border: none;
	box-shadow: unset;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
	text-align: center;
}
.rhv{ padding: 0;}
.rhv li{
	list-style:none;
	display:inline;
	padding: 0 0px;
}
.folloe {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.rhvz {
	padding-left: 0px;
	/*margin-top: 20px;*/
	text-align:center;
}
.rhvz li{
	list-style:none;
	display:inline;
	padding: 0 6px;
}
.gucidr_gjh {
	color: #1e1e1e;
	font-size: 13px;
	padding-left: 47px;
}
.contactd{
	padding-left:50px;
}
.contactd li{
	list-style:none;
}
.contactd li a {
	color: #666;
	font-size: 12px;
}
.contact_social{
	margin:20px 0;
	float:left;
	width:100%;
	text-align:center;
}
.contact_formf_g{
	margin:20px 0;
	float:left;
	width:100%;
}


.login-component h2 {
  font-weight: bold;
  margin-top: 0;
  text-transform: uppercase;
  font-size: 1.4rem;
}

.login_cls {
    -moz-box-flex: 1;
    box-sizing: border-box;
    flex: 1 1 100%;
}

.login_cls {
    margin: 8px;
}

.hidden-xs p {
    margin: 7px 0;
}
.email_class label{
	font-weight:0px !important;
}
.pass_class label{
	font-weight:0px !important;
}
.btn.btn-primary.black-background.white:hover {
    background-color: black;
    color:#fff!important;
   
}
@media only screen and (max-width:1199px){
	.contact_social {
    		text-align: center;
	}
	
}

@media only screen and (max-width:991px){
	.guide_f {min-height:180px;}
	.gucidr_gjh { padding:0;}
	.contactd{ padding:0;}
form.create-form{ float:left; width:100% !important; margin:0;}	
}



@media only screen and (max-width:479px){
	.log_sign {
    		float: none;
	}
}

/* Modal css */
.error{
	color:red !important;
	margin-top:35px;
	font-size:12px !important;
	
}
.modal-header{
	border-bottom:none!important;
	padding:10px !important;
}
.btn.btn-primary.black-background.white {
  background: #ffff none repeat scroll 0 0;
  border: 1px solid #000;
  border-radius: 3px;
  color: #000;
}
.control-group.check {
  font-size: 14px !important;
  font-weight: initial;
  text-decoration: none;
}
.control-group.check >a{
	color:#ccc;
}
.text-line {
    background-color: transparent !important;
    color: #eeeeee !important;
    outline: none !important;
    outline-style: none !important;
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
    border-bottom: 2px solid #000 !important;
    padding: 3px 10px!important;
	border-radius:0px !important;
	box-shadow:none !important;
	width:47%!important;
	
}
@media only screen  and (max-width: 360px){
label{
	display:flex;
}
}

/*  Login Form Css */

.login-form{
float:left; width: 100%;
}
.login-form a{
  text-decoration: none;
  color: #000;
}
.login-form a:hover{
  text-decoration: none;
  color: #000;
}
.login-form a img{
  float: left;
}
.login-form h2{
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 0;
    font-size: 1.4rem;
    margin-bottom: 20px;
	text-align:left;
}

.login-form h2.create-head{
  text-align: center;width: 50%;margin:0 auto 30px; 
}
.login-form p{
  margin:8px 8px 8px 0;
}
.login-form ul{
    width: 40%;
    list-style: none;
    padding-left: 0;
    margin: 0 auto;
}
.login-form ul li{
  float: left;
  width: 50%;
  list-style: none;
}
.login-form ul li a{
  float: left;
  width: 100%;
}
.login-form ul li .radio-data{
  position: relative;;
  margin-bottom: 20px;
}

/* form {
  width: 250px;
  margin-top: 30px;
} */

.group { 
  position: relative; 
  margin-bottom: 30px; 
}

 

/* Highlight */

.highlight {
  position: absolute;
  height: 60%; 
  width: 100px; 
  top: 25%; 
  left: 0;
  pointer-events: none;
  opacity: 0.5;
}

.form_input {
  font-size: 18px;
  padding: 10px 10px 10px 5px;
  -webkit-appearance: none;
  display: block;
  color: #000;
  width: 100%;
  border: none;
  border-radius: 0;
  border-bottom: 1px solid #000;
  
  
} 

input:focus { outline: none; }

input.check-content{
  -webkit-appearance: checkbox;float: left;width: initial;margin-top: 14px !important;
}
input.radio-content{
  -webkit-appearance: radio;
  width: inherit;
}



/* Label */
.lbl_set{ position: static !important;}

label {
  color: #1e1e1e; 
  font-size: 15px;
  font-weight: normal;
  position: absolute;
  pointer-events: auto;
  left: 5px;
  top: 10px;
  transition: all 0.2s ease;
}

input[type="checkbox"] + label:before {
  background-color: white;
  border: 1px solid #ccc;
 /* content:"";*/
  display: inline-block;
  font-size: 12px;
  height: 16px;
  width: 16px;
  line-height: 16px;
  margin: -2px 6px 0 -25px;
  vertical-align: middle;
}
/* Add something to mark that it's been selected. */
input[type="checkbox"]:checked + label:before{
  /* content: "\2713"; */
  text-align: center;
}


/* active */

input:focus~ label, input.used ~ label {
  top: -15px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
input:focus~ label.error, input.used ~ label.error {
  top: 5px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
/*.error-label{
	top:-15px;
}*/
input:focus ~ label.check-button, input.used ~ label.check-button {
  top: 11px;
  transform: initial; 
  left:5px;
  /* font-size: 14px; */
  color: #000;
}


/* Underline */

.bar {
  position: relative;
  display: block;
  width: 100%;
}

.bar:before, .bar:after {
  content: '';
  height: 2px; 
  width: 0;
  bottom: 1px; 
  position: absolute;
  background: #000; 
  transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

input:focus ~ .bar:before, input:focus ~ .bar:after { width: 50%; }





/* Button */

.button { float:left;
  position: relative;
  display: inline-block;
  padding: 12px 30px;
  width: auto;
  vertical-align: middle;
  color: #000;
  font-size: 14px;
  line-height: 20px;
  -webkit-font-smoothing: antialiased;
  text-align: center;
  letter-spacing: 1px;
  background: transparent;
  border: 0;
  border: 1px solid #000;
  cursor: pointer;
  transition: all 0.15s ease;
}
.button:focus { outline: 0; }


.buttonBlue{ float:left;width:auto;padding:10px 30px;}

.buttonBlue:hover { background: #000;color: #fff; }
.button:hover { background: #000;color: #fff; }
button.create-button{
  display: inherit;margin:30px auto 0;width: 35%;
}

.login-form form a{
  color: #888b8d;
  text-decoration: none;
}
.login-form form a:hover{
  color: #1e1e1e;
  text-decoration: none;
}

.login-form #aceptar_logincheckout {
    margin: 15px 0;
}

form.create-form{
    width: 50%;
    margin: 90px auto;
}

/* alter msg */

.alert-danger{
	background-color:rgba(255, 0, 0, 0.15) none repeat scroll 0 0;
	color:#dd2c00;
	border-radius:0 !important;
	padding:5px;
}
 .alert-success{
	 border-radius:0 !important;
	 padding:5px;
 }
.sale_now li a {
    color: #1e1e1e;
    font-size: 1.05rem;
    font-weight: 700;
    line-height: 1.4rem;
    list-style: outside none none;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-spot{
	border-top:1px solid #ccc;
	padding-top:20px;
	margin-top:50px;
}
.input_rt {
    margin-top: 0px; float:left; width:100%;
}
.SearchBar{padding: 20px 32px;
	
		
}
p {
    margin: 0 0 30px;
    text-align: center;
}
 h2 {
    font-size: 20px;
    text-align: center !important;
}

.detail-inner {
    padding: -53px 0 !important;
}
.form-control::-moz-placeholder {
    color: #1e1e1e;
}
@media only screen and (min-width:768px) and (max-width:1280px){
	
	
}






@media only screen and (max-width:767px){
	.logo_zora{ width:100%;}	
	.buttonBlue{ margin-bottom: 20px; float: left;}
	
.contact_social{width: 100%; float:left;
text-align: center;}
.search_um{width: 100%;}
.folloe{padding-left: 2px;}
.contactd.img{padding-left: 14%;}
.labletxt{ font-size:12px;}
.navbar-nav .open .dropdown-menu .droponmob {
position: static !important;}
  .aligngap{ margin:0 !important;}

}

@media only screen and (max-width: 667px){

}

@media only screen and (max-width: 567px){
  .login-form h2.create-head {
      width: 70%;
  }
  .login-form ul{
      width: 70%;
  }

  
  
}

@media only screen and  (max-width: 420px){
	.maxon420{ width:100% !important; }
	.guide_f{ min-height: auto;}
	
}
@media only screen and  (max-width: 479px){

 
  .login-form h2.create-head {
      width: 100%;
  }
  .login-form ul{
      width: 100%;
  }
  input[type="checkbox"] + label::before{
	margin:1px 6px 0 -25px;
  }
  
  
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
.check-content{margin-left: 25px;}
.form-control{ font-size:9px;}
}

.search_um{width: 100%;}
.folloe{padding-left: 2px;}
.logo_zora clearfix{padding-left: 30%;}
}

}


/***************** Filter Dropdown *******************/

.navbar{
	background: none !important;
	border: none !important;
	margin: 100px auto !important;
}

.navbar li,.checkbox a{
	font-size: 10px !important;
	text-decoration:none !important;
}
.dropdown-toggle ,.navbar a {
	color: #000 !important;
}
.navbar button{
	font-size: 10px;
	padding: 4px 25px !important;
	font-weight: bold;
	background-image: none;
	border: 1px solid #000;
	border-radius: 0px;
	margin: 12px 0px;
}

.navbar p{
	margin-top: 18px;
	margin-bottom: 18px;
	color:#000 !important;
	font-size: 10px !important;
}
.navbar p a:hover{
	text-decoration:none !important;
}
.checkbox {
	padding:15px;
	margin:0;
}
.checkbox:hover {
	background: #eeeeee !important;
}
.scroll {
	max-height: 256px;
	min-height: 48px;
	overflow-y: scroll; 
}
.dropdown-menu { 
border-radius:0px ;
position: absolute;
top: -80% !important;
left: -35px !important;
}
.dropdown span.caret {
	margin-left: 20px;
}
.dropdown {
	border-bottom: 1px solid #000;
	margin: 0 6px;
}
.nav > li > a {
	padding: 10px 10px !important;
}

.checkbox label, .radio label {
	padding-left: 30px !important;
}


/* The container */
.dropdown-menu {
    -webkit-user-select: none !important;
    -moz-user-select: none !important;
    -ms-user-select: none !important;
    user-select: none !important;
}

/* Hide the browser's default checkbox */
.dropdown-menu input {
    position: absolute !important;
    opacity: 0 !important;
    cursor: pointer !important;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute !important;
	top: 15px !important;
	left: 12px !important;
	height: 25px !important;
	width: 25px !important;
	background-color: transparent !important;
	
}


/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkmark {
    background-color: #000 !important;
	border-color: transparent !important;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
    content: "" !important;
    position: absolute !important;
    display: none !important;
}

/* Show the checkmark when checked */
.dropdown-menu input:checked ~ .checkmark:after {
    display: block !important;
}

/* Style the checkmark/indicator */
.dropdown-menu .checkmark:after {
    left: 9px !important;
    top: 5px !important;
    width: 5px !important;
    height: 10px !important;
    border: solid white !important;
    border-width: 0 3px 3px 0 !important;
    -webkit-transform: rotate(45deg) !important;
    -ms-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}
.checkmark {
	border: 2px solid #777 !important;
	border-radius: 3px;
}




/************************************ Before Inline Css  ********************************/

.basket_mini_info{
				position: absolute;
				margin-top: 5%;
				z-index: 1000000;
				width:85%;
			}
			.mini_info{
				width:100%;
				background:red;
				height: 500px;	
			}
			
					
			.loader-container{
				position:absolute;
				background:rgba(0,0,0,0.5);
				width:100%;
				height:100%;
			}
						
			.loader {    
					color: #616161;
					font-size: 50px;
					text-indent: -9999em;
					overflow: hidden;
					width: 1em;
					height: 1em;
					border-radius: 50%;
					margin: 18% auto;
					position: absolute;
					-webkit-transform: translateZ(0);
					-ms-transform: translateZ(0);
					transform: translateZ(0);
					-webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
					animation: load6 1.7s infinite ease, round 1.7s infinite ease;
					left: 50%;
					z-index: 1000000;
			}
			@-webkit-keyframes load6 {
			  0% {
				box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			  }
			  5%,
			  95% {
				box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			  }
			  10%,
			  59% {
				box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
			  }
			  20% {
				box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
			  }
			  38% {
				box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
			  }
			  100% {
				box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			  }
			}
			@keyframes load6 {
			  0% {
				box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			  }
			  5%,
			  95% {
				box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			  }
			  10%,
			  59% {
				box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
			  }
			  20% {
				box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
			  }
			  38% {
				box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
			  }
			  100% {
				box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
			  }
			}
			@-webkit-keyframes round {
			  0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			  }
			  100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			  }
			}
			@keyframes round {
			  0% {
				-webkit-transform: rotate(0deg);
				transform: rotate(0deg);
			  }
			  100% {
				-webkit-transform: rotate(360deg);
				transform: rotate(360deg);
			  }
			}











