.logo_zora img {
	width: 100%;
}
.lofgo_sr{
	padding-left:0px;
}
.lofgo_sr img {
	margin-right: 10px;
}
.log_sign{
	float:right;
}
.lofgo_sr li {
	display: inline;
	list-style: none;
	margin-right: 25px;
	font-size: 10px;
	padding-top: 0px;
	float: left;
	color: #1e1e1e;
	text-transform: uppercase;
	font-weight: bold;
}
.header_main {
	margin: 20px 0;
}

...........................................................
.SearchIcon
{
    color:#fff;
}
.SearchButton {
	background-color: #fff;
	border-radius: 1px;
	border: 1px solid #ccc;
}
.SearchButton:hover{
    background-color:#C4161C;
}
.sale_now{
	padding-left:10px;
}
.sale_now li{
	list-style:none;
}
.sale_nowfg {
	font-weight: bold;
	color:  #cf112b;
	font-size: 20px;
}
.sale_now li a:hover{
	text-decoration:none;
}
.sale_now li a{
	list-style:none;
	color: #cf112b;
	font-size: 15px;
	font-weight: bold;
}
.sale_nows {
	padding-left: 0;	
}
.New_collect{
color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
}
.sale_nows li{
	list-style:none;
}
.sale_nows li a{
	color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
font-size: 12px;
}
.SALE_ghy{
color: #1e1e1e;
text-decoration: none;
cursor: pointer;
font-weight:bold;
font-size:16px;
}



.sale_d{
	color: #cf112b;
	padding:100px 0 0;
	font-size:150px;
	font-weight:bold;
}
.search_um {
	margin-top: 16px;
	float: left;
}
.three_df {
	color: #cf112b;
	font-size: 50px;
	font-weight: bold;
	padding-bottom: 15%;
}
.emailj {
	border: none;
	box-shadow: unset;
	border-bottom: 1px solid #000;
	margin-bottom: 20px;
	text-align: center;
}
.rhv {
	padding-left: 0px;
	margin-top: 20px;
}
.rhv li{
	list-style:none;
	display:inline;
	padding: 0 6px;
}
.folloe {
	text-align: center;
	font-weight: bold;
	font-size: 14px;
}
.rhvz {
	padding-left: 0px;
	margin-top: 20px;
	text-align:center;
}
.rhvz li{
	list-style:none;
	display:inline;
	padding: 0 6px;
}
.gucidr_gjh {
	color: #1e1e1e;
	font-size: 13px;
}
.contactd{
	padding-left:10px;
}
.contactd li{
	list-style:none;
}
.contactd li a {
	color: #666;
	font-size: 12px;
}
.contact_social{
	margin:20px 0;
}
.contact_formf_g{
	margin:20px 0;
}
