.filter-cab .filter-left {
  margin-top: 20px; }
  .filter-cab .filter-left a {
    color: #000;
    float: left;
    position: relative; }
    .filter-cab .filter-left a img {
      float: left; }
    .filter-cab .filter-left a span {
      float: left;
      line-height: 1.2;
      font-size: 1.1rem;
      text-transform: uppercase;
      padding: 0 6px; }
    .filter-cab .filter-left a:hover {
      color: #888; }
.filter-cab .filter-right {
  float: right; }
  @media only screen and (max-width: 360px) {
    .filter-cab .filter-right {
      float: left; } }
  .filter-cab .filter-right h3 {
    float: left;
    font-size: 1.1rem;
    color: #1e1e1e;
    text-transform: uppercase;
    margin-top: 25px; }
    @media only screen and (min-width: 361px) and (max-width: 767px) {
      .filter-cab .filter-right h3 {
        margin-top: 5px; } }
    .filter-cab .filter-right h3 span {
      padding: 0 6px; }
  .filter-cab .filter-right nav {
    float: left; }
    .filter-cab .filter-right nav ul.pagination {
      margin: 25px 0;
      border-radius: 0; }
      @media only screen and (min-width: 361px) and (max-width: 991px) {
        .filter-cab .filter-right nav ul.pagination {
          margin-top: 5px; } }
      .filter-cab .filter-right nav ul.pagination li a {
        position: relative;
        float: left;
        padding: 0px 6px;
        margin-left: 0;
        line-height: 1.42857143;
        color: #888b8d;
        text-decoration: none;
        background-color: #fff;
        border: none;
        border-bottom: 1px solid #fff;
        font-size: 12px;
        border-radius: 0; }
        .filter-cab .filter-right nav ul.pagination li a:hover {
          color: #000;
          border-bottom: 1px solid #000; }
.filter-cab .filter-bar {
  position: absolute;
  float: left;
  width: 100%;
  top: 40px;
  display: none; }
  @media only screen and (max-width: 1024px) {
    .filter-cab .filter-bar {
      background-color: #fff;
      padding-bottom: 30px;
      z-index: 9999; } }
  .filter-cab .filter-bar button {
    text-transform: uppercase;
    font-size: 1rem;
    line-height: 1rem; }
    .filter-cab .filter-bar button.md-button {
      line-height: 24px;
      vertical-align: middle;
      -webkit-box-align: center;
      -webkit-align-items: center;
      align-items: center;
      text-align: center;
      border-radius: 0px;
      box-sizing: border-box;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      outline: none;
      border: 0;
      padding: 0 26px;
      margin: 6px 0px;
      background: white;
      color: #1e1e1e;
      white-space: nowrap;
      overflow: hidden;
      border: 1px solid #1e1e1e;
      -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
      transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1); }
      @media only screen and (max-width: 360px) {
        .filter-cab .filter-bar button.md-button {
          padding: 0 13px; } }
    .filter-cab .filter-bar button:hover.md-button {
      background-color: #1e1e1e;
      color: #fff; }
  .filter-cab .filter-bar .price-range span {
    line-height: 4.2;
    font-size: 1rem;
    text-transform: uppercase;
    float: left; }
  .filter-cab .filter-bar #slider-range {
    margin-top: 20px;
    border: none !important;
    border-bottom: 2px solid #000 !important; }
    .filter-cab .filter-bar #slider-range .ui-widget-header, .filter-cab .filter-bar #slider-range .ui-corner-all {
      background-color: #fff;
      border-radius: 0; }
    .filter-cab .filter-bar #slider-range .ui-state-default {
      color: #000;
      background-color: #000;
      border-radius: 10px;
      border: 1px solid #000;
      top: 1%; }
  .filter-cab .filter-bar .multiselect {
    width: 100%; }
    .filter-cab .filter-bar .multiselect .selectBox {
      position: relative;
      margin-top: 10px; }
      .filter-cab .filter-bar .multiselect .selectBox select {
        width: 100%;
        font-weight: bold;
        border: none;
        border-bottom: 1px solid #1e1e1e;
        color: #1e1e1e;
        text-transform: uppercase; }
        .filter-cab .filter-bar .multiselect .selectBox select:focus option {
          top: -20px;
          transform: scale(0.75);
          left: -2px;
          color: #000; }
      .filter-cab .filter-bar .multiselect .selectBox .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
    .filter-cab .filter-bar .multiselect #checkboxes, .filter-cab .filter-bar .multiselect #checkboxes1 {
      display: none;
      border: 1px #dadada solid;
      width: 100%;
      background-color: #eee;
      position: absolute;
      top: 0px;
      z-index: 999;
      padding: 10px; }
      .filter-cab .filter-bar .multiselect #checkboxes label, .filter-cab .filter-bar .multiselect #checkboxes1 label {
        display: block;
        float: left;
        font-size: 1rem;
        color: #1e1e1e;
        text-transform: uppercase;
        line-height: 30px;
        width: 100%; }
        .filter-cab .filter-bar .multiselect #checkboxes label input, .filter-cab .filter-bar .multiselect #checkboxes1 label input {
          margin-right: 10px; }

.product-inner {
  padding: 20px 0 20px 0; }
  .product-inner img {
    width: 100%; }
  .product-inner .product-content {
    text-align: center; }
    @media only screen and (max-width: 767px) {
      .product-inner .product-content {
        padding-bottom: 20px; } }
    .product-inner .product-content h5 {
      padding-top: 5px;
      padding-bottom: 0;
      font-weight: bold;
      font-size: 0.9rem;
      margin: 0;
      font-family: 'Roboto'; }
    .product-inner .product-content h2 {
      font-size: 1rem;
      margin: 12px 0 8px 0;
      text-transform: uppercase;
      min-height: 2.5rem;
      font-family: 'Roboto'; }
      .product-inner .product-content h2 a {
        color: #1e1e1e;
        text-decoration: none;
        cursor: pointer; }
        .product-inner .product-content h2 a:hover {
          color: #888b8d; }
    .product-inner .product-content p {
      padding-top: 5px;
      padding-bottom: 0;
      font-weight: bold;
      font-size: 0.9rem;
      margin: 0;
      font-family: 'Roboto'; }

.detail-inner {
  padding: 30px 0; }
  .detail-inner .carousel-indicators {
    bottom: -30px; }
    .detail-inner .carousel-indicators li {
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 auto;
      -ms-flex: 1 0 auto;
      flex: 1 0 auto;
      width: 22px;
      height: 5px;
      margin-right: 3px;
      margin-left: 3px;
      text-indent: -999px;
      cursor: pointer;
      background-color: #999; }
      .detail-inner .carousel-indicators li:before {
        position: absolute;
        top: -10px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 10px;
        content: ""; }
      .detail-inner .carousel-indicators li:after {
        position: absolute;
        bottom: -10px;
        left: 0;
        display: inline-block;
        width: 100%;
        height: 10px;
        content: ""; }
      .detail-inner .carousel-indicators li:activer {
        background-color: #000;
        width: 22px;
        height: 5px; }
  .detail-inner a.left {
    background-image: none !important; }
  .detail-inner a.right {
    background-image: none !important; }
  .detail-inner .detail-content h2 {
    font-size: 1.6rem;
    line-height: 2rem;
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    margin-top: 60px;
    font-weight: bold;
    font-family: 'Roboto'; }
  .detail-inner .detail-content p {
    font-size: 1.2rem;
    line-height: 1.4rem;
    width: 100%;
    text-align: center;
    color: #1e1e1e;
    text-align: center;
    font-family: 'Roboto'; }
  .detail-inner .detail-content .multiselect {
    width: 45%;
    float: left;
    margin-right: 19px;
    margin-top: 80px; }
    .detail-inner .detail-content .multiselect .selectBox {
      position: relative;
      margin-top: 10px; }
      .detail-inner .detail-content .multiselect .selectBox select {
        width: 100%;
        font-weight: bold;
        border: none;
        border-bottom: 1px solid #1e1e1e;
        color: #1e1e1e;
        text-transform: uppercase; }
        .detail-inner .detail-content .multiselect .selectBox select:focus option {
          top: -20px;
          transform: scale(0.75);
          left: -2px;
          color: #000; }
      .detail-inner .detail-content .multiselect .selectBox .overSelect {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0; }
    .detail-inner .detail-content .multiselect #checkboxes, .detail-inner .detail-content .multiselect #checkboxes1 {
      display: none;
      border: 1px #dadada solid;
      width: 45%;
      background-color: #eee;
      position: absolute;
      top: 60%;
      z-index: 999;
      padding: 10px; }
      .detail-inner .detail-content .multiselect #checkboxes label, .detail-inner .detail-content .multiselect #checkboxes1 label {
        display: block;
        float: left;
        font-size: 1rem;
        color: #1e1e1e;
        text-transform: uppercase;
        line-height: 30px;
        width: 100%;
        font-family: 'Roboto'; }
        .detail-inner .detail-content .multiselect #checkboxes label input, .detail-inner .detail-content .multiselect #checkboxes1 label input {
          margin-right: 10px; }
  .detail-inner .detail-content h4 {
    text-transform: uppercase;
    font-size: 16px;
    line-height: 1.4rem;
    color: #1e1e1e;
    margin-top: 40px;
    width: 100%;
    float: left;
    margin-bottom: 20px;
    font-family: 'Roboto'; }
  .detail-inner .detail-content a {
    width: 70%;
    float: left;
    margin-bottom: 10px;
    line-height: 36px;
    outline: none;
    border: 1px solid #1e1e1e;
    overflow: hidden;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    transition: box-shadow 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), background-color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    text-align: center;
    color: #000;
    text-decoration: none;
    font-size: 13px;
    font-family: 'Roboto'; }
    .detail-inner .detail-content a:hover {
      background-color: #000;
      color: #fff; }
  .detail-inner .detail-look {
    margin-top: 7%;
    float: left;
    width: 100%; }
    .detail-inner .detail-look h3 {
      width: 100%;
      text-align: center;
      margin: 0;
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #1e1e1e;
      font-family: 'Roboto'; }
    .detail-inner .detail-look img {
      /* width: 100%; */ }
    .detail-inner .detail-look .product-content {
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .detail-inner .detail-look .product-content {
          padding-bottom: 20px; } }
      .detail-inner .detail-look .product-content h5 {
        padding-top: 5px;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0;
        font-family: 'Roboto'; }
      .detail-inner .detail-look .product-content h2 {
        font-size: 1rem;
        margin: 12px 0 8px 0;
        text-transform: uppercase;
        min-height: 2.5rem;
        font-family: 'Roboto'; }
        .detail-inner .detail-look .product-content h2 a {
          color: #1e1e1e;
          text-decoration: none;
          cursor: pointer; }
          .detail-inner .detail-look .product-content h2 a:hover {
            color: #888b8d; }
      .detail-inner .detail-look .product-content p {
        padding-top: 5px;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0;
        font-family: 'Roboto'; }
  .detail-inner .detail-carousel {
    margin-top: 7%;
    float: left;
    width: 100%;
    padding-bottom: 40px; }
    .detail-inner .detail-carousel h3 {
      width: 100%;
      text-align: center;
      margin: 0;
      font-weight: 500;
      font-size: 1.6rem;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #1e1e1e;
      font-family: 'Roboto';
      margin-bottom: 30px; }
    .detail-inner .detail-carousel .product-content {
      text-align: center; }
      @media only screen and (max-width: 767px) {
        .detail-inner .detail-carousel .product-content {
          padding-bottom: 20px; } }
      .detail-inner .detail-carousel .product-content h5 {
        padding-top: 5px;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0;
        font-family: 'Roboto'; }
      .detail-inner .detail-carousel .product-content h2 {
        font-size: 1rem;
        margin: 12px 0 8px 0;
        text-transform: uppercase;
        min-height: 2.5rem;
        font-family: 'Roboto'; }
        .detail-inner .detail-carousel .product-content h2 a {
          color: #1e1e1e;
          text-decoration: none;
          cursor: pointer; }
          .detail-inner .detail-carousel .product-content h2 a:hover {
            color: #888b8d; }
      .detail-inner .detail-carousel .product-content p {
        padding-top: 5px;
        padding-bottom: 0;
        font-weight: bold;
        font-size: 0.9rem;
        margin: 0;
        font-family: 'Roboto'; }
    .detail-inner .detail-carousel .owl-dots {
      margin: 30px auto 0;
      width: 100%;
      text-align: center; }
      .detail-inner .detail-carousel .owl-dots .owl-dot {
        width: 10px;
        height: 10px;
        border-radius: 100%;
        border: 1px solid #ccc;
        background: #333;
        margin-right: 5px;
        display: inline-block; }
        .detail-inner .detail-carousel .owl-dots .owl-dot:active {
          background: #eee; }
    .detail-inner .detail-carousel .owl-nav {
      display: block !important; }
      .detail-inner .detail-carousel .owl-nav .owl-prev, .detail-inner .detail-carousel .owl-nav .owl-next {
        position: absolute;
        top: 50%;
        margin-top: -80px;
        width: 50px;
        height: 50px;
        text-align: center;
        background-color: #fff;
        font-weight: bold; }
      .detail-inner .detail-carousel .owl-nav .owl-next {
        right: 0; }

/*# sourceMappingURL=base.css.map */
