﻿/* Reset Styles
***********************/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed,figure, figcaption, footer, header, hgroup,menu, nav, output, ruby, section, summary,time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q demo
blockquote:before, blockquote:after,q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}
strong {font-weight: bold;}
em {font-style: italic;}


/*
 * MyFonts Webfont Build ID 1114443, 2011-09-02T06:08:04-0400 - REGULAR
 * MyFonts Webfont Build ID 1118460, 2011-09-05T07:13:16-0400 - MEDIUM
 * MyFonts Webfont Build ID 825795, 2011-05-26T03:42:08-0400 - SEMIBOLD
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below
 *
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1114443 - REGULAR
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=1118460 - MEDIUM
 * License: http://www.myfonts.com/viewlicense?1056 - SEMIBOLD
 *
 * Webfont: Geogrotesque SemiBold
 * URL: http://new.myfonts.com/fonts/emtype/geogrotesque/semibold/
 * Foundry: Emtype Foundry
 * Copyright: Copyright © 2009 by Eduardo Manso. All rights reserved.
 * Licensed pageviews: 10,000,000/month
 *
 * © 2011 Bitstream Inc
*/

/* GEO - Semibold */
@font-face {font-family: 'Geogrotesque-SemiBold';src: url('../fonts/webfonts/geo-semibold/eot/style_169898.eot');src: url('../fonts/webfonts/geo-semibold/eot/style_169898.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/geo-semibold/woff/style_169898.woff') format('woff'),url('../fonts/webfonts/geo-semibold/ttf/style_169898.ttf') format('truetype'),url('../fonts/webfonts/geo-semibold/svg/style_169898.svg#Geogrotesque-SemiBold') format('svg');}

/* GEO - Medium */
@font-face {font-family: 'Geogrotesque-Medium';src: url('../fonts/webfonts/geo-medium/eot/1110FC_0.eot');src: url('../fonts/webfonts/geo-medium/eot/1110FC_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/geo-medium/woff/1110FC_0.woff') format('woff'),url('../fonts/webfonts/geo-medium/ttf/1110FC_0.ttf') format('truetype'),url('webfonts/1110FC_0.svg#wf') format('svg');}

/* GEO - Regular */
 @font-face {font-family: 'Geogrotesque-Regular';src: url('../fonts/webfonts/geo-regular/eot/11014B_0.eot');src: url('../fonts/webfonts/geo-regular/eot/11014B_0.eot?#iefix') format('embedded-opentype'),url('../fonts/webfonts/geo-regular/woff/11014B_0.woff') format('woff'),url('../fonts/webfonts/geo-regular/ttf/11014B_0.ttf') format('truetype'),url('../fonts/webfonts/geo-regular/svg/11014B_0.svg#wf') format('svg');}

/* Icon Fonts
*********************************/
/* Font-face Icons */
@font-face {
	font-family: 'flexslider-icon';
	src:url('../fonts/webfonts/flexslider-icon.eot');
	src:url('../fonts/webfonts/flexslider-icon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/webfonts/flexslider-icon.woff') format('woff'),
		url('../fonts/webfonts/flexslider-icon.ttf') format('truetype'),
		url('../fonts/webfonts/flexslider-icon.svg#flexslider-icon') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* General
***********************/
body {
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	height: auto;
}
a {
	color: #fff;
	text-decoration: none;
}
*{
	margin:0;
	padding:0;
}
h3 {
	margin: 0 0 8px;
	color: #fff;
}
p {
	font-size: 14px;
	line-height: 18px;
}

/* --Clearfix */
.cf:before,
.cf:after {content:""; display:table;}
.cf:after {clear:both;}
.cf {zoom:1;}

.toggle { margin: 2px 0 0 14px; float: left; border-radius: 6px; -moz-border-radius: 6px; -webkit-border-radius: 6px; }
.toggle li { float: left; }
.toggle li a {width: 50px; padding: 6px 0; text-align: center; display: block; text-shadow: 1px 1px 0 #fff; font-size: 12px; font-weight: 600; color: #666; -webkit-border-radius: 0 4px 4px 0; -moz-border-radius: 0 4px 4px 0; -o-border-radius: 0 4px 4px 0; border-radius: 0 4px 4px 0;

background: #ffffff; /* Old browsers */
background: -moz-linear-gradient(top, #ffffff 0%, #ededed 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#ededed)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, #ffffff 0%,#ededed 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, #ffffff 0%,#ededed 100%); /* IE10+ */
background: linear-gradient(top, #ffffff 0%,#ededed 100%); /* W3C */

box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-moz-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;
-webkit-box-shadow: inset 1px 1px 0 #fff, inset -1px -1px 0 #fff;

}
.toggle li:first-child a {-webkit-border-radius: 4px 0 0 4px; -moz-border-radius: 4px 0 0 4px; -o-border-radius: 4px 0 0 4px; border-radius: 4px 0 0 4px;}
.toggle li a:hover { background: #ededed; color: #222; }
.toggle li a.active { background: #c8e0f3; color: #325874; cursor: default; box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.4); }


#carousel li {margin-right: 5px;}
#carousel img {display: block; opacity: .5; cursor: pointer;}
#carousel img:hover {opacity: 1;}
#carousel .flex-active-slide img {opacity: 1; cursor: default;}

.button {
  display: inline-block;
  margin: 0;
  padding: .461em 1.563em .41em;
  color: #fff!important;
  text-align: center;
  text-decoration: none;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  line-height: 1;
  font-size: .9em;
  cursor: pointer;
  font-family: "proxima-nova", sans-serif;
  border: 1px solid #1a4064;
  background: #255a8c;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(255, 255, 255, 0.15);
}
.button:active  {
  -webkit-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.1), inset 0 0 1px 1px rgba(0, 0, 0, 0.1);
}
.button.green  {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
  border: 1px solid #578824;
  background: #71b02f;
}
.button.green:hover  {
  background: #79bc32;
}
.flex-direction-nav {
	display: none;
}

.flexslider {
	margin: 0 0 8px;

}
/* Loading
***********************/
.loading #container {opacity: 0;}
.loading:before  { content: 'LOADING'; display: block; margin: 100px 0 0; text-align: center; color: #fff; font-weight: bold; font-size: 60px; opacity: 0.3; }
body {width: 100%; float: left; opacity: 1; -webkit-transition: opacity 1s ease;}

/* Layout
***********************/
#container {padding: 60px 40px 100px;}

#main {margin-left: 420px; margin-top: -25px;overflow: hidden;}
aside h3 {float: left;}

/* Header
***********************/
header .logo {
	display: block;
	margin: 0 25px 0;
}
.sd {
	position: absolute;
	left: 0;
	text-align: 20px;
	top: 30px;
}
header h1 { font-family: Geogrotesque-Semibold, Helvetica, Arial, sans-serif; margin: 0 0 10px; text-shadow: 0 1px 0 #2F4C63; color: #fff; font-size: 42px; }
header h2 { margin: 0 0 30px; font: normal 20px Geogrotesque-regular, Helvetica, Arial, sans-serif; text-shadow: 0 1px 1px #555; color: #fff; }
header .button { margin: 0 0 50px; padding: 10px 15px 10px 15px; position: relative; }
h3.nav-header { width: 200px; margin: 0 0 10px; padding: 0 0 3px; font-size: 18px; text-shadow: 0 1px 1px #555; color: #fff; font-family: Geogrotesque-Regular, Helvetica, Arial, sans-serif; border-bottom: 1px solid #fff; border-bottom: 1px solid rgba(255,255,255,0.5); }
nav { margin-bottom: 20px; }
nav li {margin: 0 0 7px; font-size: 15px; }
nav li a:hover,
nav li.active a  {border-bottom: 1px dotted #fff; border-bottom: 1px dotted rgba(255,255,255,0.3); background: none;}
nav li.active a  { cursor: default; }

.header .log ul li{
	display:inline-block;
}
.header .log ul li {
	display: inline-block;
	font-weight: 500;
	padding: 0 15px 0 0;
}
.header .log ul li a {
	color: #1e1e1e;
	text-decoration: none;
	font-size: 13px;
}
.header .form-inline.cc label {
	text-transform: uppercase;
	font-weight: 500;
	font-size: 17px;
}

.header .log ul li:last-child {
	padding-right: 0;
}
.header .log ul {
	margin-top: 13px;
	text-align: right;
}
.header {
	position: absolute;
	z-index: 99999999;
	width: 100%;
	text-align: ;
	top: 0;
	padding-top: 30px;
	float: left !important;
	height: 100px;
}
header.fixed-top {
	position: fixed !important;
	padding-top: 13px;
	padding-bottom: 13px;
	background: #fff;
	background: #fff !important;
	box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1) !important;

}
.header.header_sec {
	float: none !important;
	position: static;
}
header.header {
	position: absolute;
	width: 100%;
	top: 0;
	z-index: 999;
	padding-top: 10px;
	padding-bottom: 20px;
	-webkit-transition: all .5s ease;
	transition: all .5s ease;
	-webkit-animation: slideIn 0.3s 1 ease-out;
	animation: slideIn 0.3s 1 ease-out;
}
.fixed-top {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 99999 !important;
}


.header .log icn {
	margin-right: 11px;
	font-size: 18px;
}
.header .form-inline .form-control {
	border: none;
	background: transparent;
	box-shadow: none;
	color: #333;
	border-bottom: 1px solid #1e1e1e;
	border-radius:0;
}
.header .form-inline.cc {
	text-align: center;
	padding-top: 31px;
}
.log {
	padding-top: 9px;
}
.icn {
	margin-right: 5px;
}
.icn i {
	font-size: 18px;
}
.form-inline.cc .form-control {
	height: 12px;
}
ul.side_nav {
	padding-left: 4px;
	margin-top: 44px;
}
ul.side_nav {
	display: block;
}
ul.side_nav li {
	padding-bottom: 10px;
}
ul.side_nav li a {
	color: #1e1e1e;
	font-size: 16px;
	text-decoration:none;
}
ul.side_nav li.nm a {
	font-size: 13px !important;
}
.sidebar-nav li.nm a {
	font-size: 13px !important;
}
.cv {
	border-top: 1px solid #000;
	border-bottom: 1px solid #000;
	padding: 8px 0;
	margin-top: 10px;
	font-size: 13px;
	color:#000;
}

#sidebar-wrapper .cv {
	padding: 8px 0 7px 30px;
	margin-bottom: 15px;
}
.log .account.dropdown a {
	background: transparent;
	border: none;
}
#dropdownMenu2:active {
	box-shadow: none;
}
.log .dropdown-menu.style-one {
	margin-top: 0;
	text-align: left;
}
.log .dropdown-menu {
	left: 11px;
	background-color: #eaeaea;
	border: 1px solid #ccc;
	box-shadow: none;
	border-radius: 0;
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
}
.header .log ul li:first-child {
	padding-right: 5px;
}

.header .log ul li:first-child {
	padding-right: 17px;
}
ul.side_nav li.bn {
	margin-bottom: 14px;
}
.sidebar-nav li.bn a {
	padding-bottom: 21px;
}
ul.side_nav li.bns {
	margin-bottom: 14px;
}
.sidebar-nav  li.bns {
	margin-bottom: 14px;
}
.sidebar-nav  li.bns  span{
	color:#000;
	font-style:italic;
	font-size:10px;
}
ul.side_nav li.bn a {
	color: rgb(207, 10, 44);
}
.side_nav span {
	font-size: 10px;
	font-style: italic;
}
.RCSlideoverlay h1 {
	font-size: 4.5vw;
	color: #fd8002;
	font-weight: 600;
}
.RCSlideoverlay {
	position: absolute;
	top: 16%;
	right: 0;
	text-align: center;
	left: 0;
}
.RCSlideoverlay p {
	color: #1e1e1e;
	font-weight: 500;
	padding-top: 30px;
	font-size: 16px
}
.RCSlideoverlay a {
	color: #000;
	font-weight: 500;
	padding-top: 24px;
	display: block;
	text-decoration: underline;
	font-size: 17px;
}
.RCSlideoverlay_2 a {
	color: #fff;
	font-weight: 500;
	padding-top: 50px;
	display: block;
	text-decoration: underline;
	font-size: 21px;
	text-align:right;
}
.RCSlideoverlay_3 a {
	color: #fff;
	padding-top: 140px;
	display: block;
	text-decoration: underline;
	font-size: 21px;
	text-align:right;
}
.flex-control-paging li a {
	width: 77px !important;
	height: 7px !important;
	background: #666 !important;
	background: #fff !important;
	border-radius: 0 !important;
	box-shadow:none !important;
}
.flex-control-nav {
	bottom: 55px !important;
	z-index: 9999 !important;
}
.flex-control-paging li a.flex-active {
	background: #ddd !important;
	box-shadow:none !important;

}
.RCSlideoverlay h1 {
	font-size: 62px;
	color: #fd8002;
	font-weight: 600;
}
.RCSlideoverlay_2 {
	position: absolute;
	top: 15%;
	right: 7%;
	text-align: center;

}
.RCSlideoverlay_3 {
	position: absolute;
	top: 15%;
	right: 7%;
	text-align: center;

}

.RCSlideoverlay_2 p {
	color: #fff;
	font-weight: 400;
	padding-top: 33px;
	font-size: 27px;
	text-align:right;
	font-family: 'Playfair Display', serif;
	line-height:30px;
}
.RCSlideoverlay_2 h1 {
	font-size: 61px;
	color: #fff;
	font-weight: 600;
	text-align:left;
	font-family: 'Playfair Display', serif;
}
.RCSlideoverlay_3 h1 {
	font-size: 102px;
	color: #fff;
	text-align: right;
	font-weight: 700;
	line-height: 94px;
}
.RCSlideoverlay_3 p {
	color: #fff;
	font-weight: 400;
	padding-top: 46px;
	font-size: 27px;
	text-align: right;
	line-height: 30px;
	position: relative;
}
.RCSlideoverlay_3 p::before {
	content: "";
	border-top: 1px solid #fff;
	height: 1px;
	width: 30px;
	position: absolute;
	right: 0;
	top: 22px;
}
.discount  .news_f_1::before, .discount  .news_f_1::after {
	content: "-";
	display: inline-block;
	margin: 0 10px;
}
.flexslider {
	margin: 0 !important;

}
.discount {
	text-align: center;
	padding: 26px 0 30px;
}
.discount  .bloque-message-news .bold {
	font-weight: 700;
}
.discount p {
	font-size: 15px;
}
.discount .news_f_1.bold {
	font-weight: 700;
}
.discount h3  a{
	color: #000;
	text-transform: uppercase;
	font-size: 15px;
	font-weight: 500;
}
.discount h3 span {
	margin-right: 10px;
	color: #000;
	vertical-align: middle;
}
.discount h3 {
	margin: 0;
	padding: 9px 0;
}
.discount .news_f_3.news_small.news_small_tregalo {
	font-weight: 700;
	font-size: 12px;
}
.new .no-padd {
	padding: 0;
}
.new h1 {
	position: absolute;
	color: #fff;
	font-size: 35px;
	z-index: 99999;
	bottom: 15%;
	left: 0;
	right: 0;
	text-align: center;
	text-transform: uppercase;
}
.new a:hover {
	text-decoration: none;
	color:#fff;
}
.category a:hover {
	text-decoration: none;
	color:#fff;
}
.jm p {
	color: #333;
	font-size: 12px;
}
.jm span {
	font-weight: 700;
	padding: 5px 0;
	display: block;
}
.category .no-padd {
	padding: 0;
}
.category-content img {
	display: block;
}
.new img {
	display: block;
}
.category-content h1 {
	position: absolute;
	color: #fff;
	text-align: ;
	top: 50%;
	right: 0;
	left: 0;
	text-align: center;
	text-transform: uppercase;
	font-size: 34px;
	font-weight: 500;
}

/* flask */


.glyphicon-chevron-left::before {
	content: none;
}
.glyphicon-chevron-right::before {
	content: none;
}


.flask .sec_main {
	text-align: center;
	background: #fff;
	padding: 12px 0;
}
.flask .sec_main h5{
	color:#859bbe;
	font-size:21px;
	margin:0;
}
.flask .sec_main img {
	margin-bottom: 30px;
}
.flask .sec_main h4 {
	font-size: 24px;
}
#feedback h3 {
	color: #1e1e1e;
	padding-top: 20px;
	font-size: 17px;
	font-weight: 500;
}
.flask i {
	text-shadow: none;
	font-size: 50px;
	padding-top: 30px;
}
.flask .sect_main {
	padding: 0px 46px;
}
.flask .sec_main p {
	text-align: left;
	padding-bottom: 5px;
	font-size: 13px;
}

#testi_slide {
	background: #fff;
	padding: 0 0 39px;
	border-radius: 7px;
}
.owl-carousel .owl-dots.disabled, .owl-carousel .owl-nav.disabled {
	display: block !important;
}
.flask .owl-carousel .owl-item img {
	display: inline;
}


.flask .owl-carousel .owl-stage-outer {
	position: static !important;

}
.flask .owl-carousel .owl-stage {
	position: static !important;

}
.flask .owl-carousel, .owl-carousel .owl-item {
	position: static !important;
}
.flask .owl-prev {
	position: absolute;
	left: 15px;
	top: 32%;
}

.flask .owl-next {
	position: absolute;
	top: 32%;
	right: 15px;
}
.flask_cntr {
	max-width: 1245px !important;
	margin: 0 auto;
}
.newsletter .form-control {
	font-size: 11px;
	border: none;
	box-shadow: none;
	border-radius: 0;
	color: #000;
	border-bottom: 1px solid #000;
	text-align: center;
	text-transform: uppercase;
}
.newsletter .form-control::placeholder {
	color: #000;
}
.newsletter {
	max-width: 500px;
	margin: 0 auto;
}
.newsletter .checkbox label {
	line-height: 20px;
	font-size: 13px;
	text-align: center;
}
.newsletter .checkbox {
	margin-top: 48px;
}
.subscribe_res {
	margin-top: 27px;
	text-align: center;
	margin-bottom: 40px;
}
.newsletter thead th {
	font-weight: normal;
	font-size: 1.1rem;
	text-transform: uppercase;
	color: #333;
	text-align: left;
	padding: 8px 4px;
}
.newsletter .terms-table-container .mas-info {
	text-decoration: underline;
	color:#333;
}
.newsletter .terms-table-container th {
	text-align: center;
}
.newsletter .terms-table-container th, .newsletter .terms-table-container td {
	font-size: 11px;
	line-height: 1.1rem !important;
}
.newsletter table tbody tr {
	border-bottom: 1px solid #ebebeb;
}
.newsletter thead {
	border-bottom: 1px solid #e6e2e7;
	border-top: 1px solid #e6e2e7;
	background: #f2f2f2;
}
.newsletter tbody td, .newsletter tbody th {
	padding: 8px 4px;
}
.subscribe_res a {
	border: 1px solid #000;
	color: #000;
	padding: 11px 38px;
	text-transform: uppercase;
	font-size: 13px;
}
.subscribe_res a:hover {
	border: 1px solid #000;
	background:#000;
	color:#fff;
	text-decoration:none;
}

.footer_social h3 {
	color: #000;
	text-align: center;
	font-weight: 400;
	text-shadow: none;
	margin: 0;
	padding: 43px 0 10px;
}
.footer {
	padding-bottom: 60px;
	border-top: 1px solid #ccc;
	padding-top: 50px;
	border-top-style: dotted;
}
.footer .col-md-9.col-sm-9 {
	float: none;
	margin: 0 auto;
}
.footerLinks a {
	display: block;
	color: #666;
	padding-bottom: 6px;
	font-size: 11px;
	cursor:pointer;
}
.footerLinks a:hover {
	color: #222;

}
.footerLinks h4 {
	font-size: 16px;
	padding: 55px 0 15px;
	font-weight: 400;
	color: #000;
}

.footer_social ul {
	text-align: center;
	margin-top: 20px;
}
.xz img {
	display: inline;
}
.xz {
	margin-top: 71px;
	text-align: right;
}
.footer_social ul li {
	display: inline-block;
	margin: 0 3px;
}
.footer_social ul li a {
	color: #000;
	font-size: 20px;
}

#sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	left: 0;
	width: 250px;
	height: 100%;
	margin-left: -250px;
	overflow-y: auto;
	overflow-x: hidden;
	background: #fff;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-moz-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	-o-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
	top: 100px;
	height: 480px;

}
.sidebar-nav {
	position: absolute;
	top: 26px;
	width: 250px;
	margin: 0;
	padding: 0;
	list-style: none;
}
.sidebar-nav li {
	position: relative;
	line-height: 0;
	display: inline-block;
	width: 100%;
	font-size: 110%;
	text-transform: uppercase;
	outline: none;
	margin: 0;
}
.sidebar-nav li a{
	padding-bottom: 7px;
}
.logo_res {
	display: none;
}
.sidebar-nav li:first-child a {
    color: #fff;
    background-color: #1a1a1a;
}

.sidebar-nav li a {
	display: block;
	color: #000;
	text-decoration: none;
	padding: 13px 15px 10px 30px;
	font-size: 17px;
	color: #1e1e1e;
}

.sidebar-nav li a:hover, .sidebar-nav li a:active, .sidebar-nav li a:focus, .sidebar-nav li.open a:hover, .sidebar-nav li.open a:active, .sidebar-nav li.open a:focus {
    color: #000;
    text-decoration: none;
    background-color: transparent;
}
.sidebar-nav > .sidebar-brand {
    height: 44px;
    font-size: 18px;
    line-height: 1.43;
}
.sidebar-nav .dropdown-menu {
    position: relative;
    width: 100%;
    padding: 0;
    margin: 0;
    border-radius: 0;
    border: none;
    background-color: #222;
    box-shadow: none;
}
#menu-toggle {
    z-index: 801;
    position: fixed;
    top: 21px;
    left: 15px;
	display:none;
}
#sidebar-wrapper.active {
    left: 250px;
    width: 250px;
    -webkit-transition: all 0.4s ease 0s;
    -moz-transition: all 0.4s ease 0s;
    -ms-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.toggle {
    margin: 5px 5px 0 0;
	color:#000;
}
#to-top {
    position: fixed;
    right: 1.5%;
    bottom: .5%;
    z-index: 799;
}

.con{
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.con input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 20px;
	width: 20px;
	background-color: #fff;
	border: 2px solid #000;
	margin-right: 5px;
}

/* On mouse-over, add a grey background color */
.con:hover input ~ .checkmark {
  background-color: #fff;
}

/* When the checkbox is checked, add a blue background */
.con input:checked ~ .checkmark {
  background-color: #000;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.con input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.con .checkmark::after {
	left: 6px;
	top: 3px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}



/* contact us
***********************/



.contact_inner {
	background-image: url(../images/banner_contact.jpg);
	padding: 137px 0 150px;
	text-align: center;
	background-position: center;
	background-size: cover;
	margin-bottom: 35px;
}
.contact h1 {
	color: #fff;
	font-size: 50px;
	font-weight: 600;
	text-align: left;
	padding-left: 40px;
}
.contact-form {
	padding: 0 0 49px;
	display: inline-block;
}
.contact-form h2 {
	font-size: 26px;
	font-weight: 600;
}
.contact-form ul.side_nav {
	margin-top: 20px !important;
	position: fixed;
}
.contact-form p {
	font-size: 16px;
	padding-top: 20px;
	padding-bottom: 40px;
}
.contact-form ul.side_nav {
	padding-left: 4px;
	margin-top: 0;
}

.contact-form label {
	margin-bottom: 5px;
	font-weight: 600;
	font-size: 15px;
}
.contact-form .sec {
	margin-top: 4px;
}
.contact-form .form-control {
	font-size: 15px;
	color: #000;
	border: none;
	border-radius: 0;
	box-shadow: none;
	height: 39px;
	border-bottom: 1px solid #000;
}
.contact-form select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	color: #7b7b7b;
	background-position: 98%;
	background-color: #fff;
	padding:6px 4px;
}
.form_sec .group label {
	width: auto;
}
.check_sec .checkmark {
	height: 14px;
	width: 14px;
}
.check_sec .con .checkmark::after {
	left: 3px;
	top: 0px;
}
.sec .form-control.form-sd {
	height: auto;
}
.check_sec .checkbox {
	margin-bottom: 21px;
}
.check_sec input[type="radio"], .check_sec input[type="checkbox"] {
	margin: 1px -20px 0;
}
.check_sec label {
	font-weight: 400;
}
.sub_sec .checkbox label {
	padding-left: 33px;
	line-height: 21px;
}
.sub_sec .checkmark {
	top: 0;
}
.submit_sec input[type="submit"] {
	background: #fff;
	border: 1px solid #000;
	padding: 14px 25px;
}
.submit_sec .buttons:hover {
	background: #000;
	color: #fff !important;
}
.sub_sec .con {
	font-weight: 300;
}
.submit_sec {
	margin-top: 35px;
}
.contact-form .col-md-8.col-sm-8 {
	float: right;
}
.group {
	position: relative;
	margin-bottom: 30px;
}

.form_input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	color: #000;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #000;
}
.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}
.bar {
	position: relative;
	display: block;
	width: 100%;
}
.bar::before {
	left: 50%;
}
.bar::before, .bar::after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #000;
	transition: all 0.2s ease;
}
.bar::after {
	right: 50%;
}
.bar::before {
	left: 50%;
}
}
.group input:focus {
	outline: none;
}
.group input:focus  ~.bar:before, input:focus  ~.bar:after { width: 50%;}
.group label {
	color: #1e1e1e;
	font-size: 15px;
	font-weight: normal;
	position: absolute;
	pointer-events: auto;
	left: 5px;
	top: 11px;
	transition: all 0.2s ease;
	text-align: center;
	width: 100%;
}




/* active */

input:focus~ label, input.used ~ label {
  top: -15px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
input:focus~ label.error, input.used ~ label.error {
  top: 5px;
  /* transform: scale(.75);  */
  left:0;
  color: #000;
}
/*.error-label{
	top:-15px;
}*/
input:focus ~ label.check-button, input.used ~ label.check-button {
  top: 11px;
  transform: initial;
  left:5px;
  /* font-size: 14px; */
  color: #000;
}

.product {
	display: inline-block;
	padding-bottom: 40px;
}
.product .carousel-control.left {
	background-image: none;
}
.product .carousel-control.right {
	background-image: none;
}
.product .row.row_sec {
	margin-top: 40px;
}
.product .carousel-indicators {
	display: none;
}
.product_inner .product_content h2 a {
	color: #000;
	font-size: 12px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	font-weight: 500;
}
.product_inner .product_content h2 a:hover {
	color: #888b8d;
    text-decoration:none;
}
.product_inner .product_content h2 {
	padding-top: 42px;
	text-align: center;
}
.product .side_nav {
	position: fixed;
}
.product_inner .product_content p {
	color: #000;
	padding-top: 8px;
	text-align: center;
	font-size: 13px;
}
.product .product_inner .padd-sec {
	padding: 0 3px;
}
.product .product_inner {
	padding-left: 45px;
}
a.carousel-control {
	color: #f6f6f6;
	text-shadow: none;
}
a.carousel-control:hover{
	color: #000;

}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right {
	top: 46%;

}

.product .product_inner .product_main{
	position:relative;
}
.product .product_inner .product_main h2 {
	position: absolute;
	color: #fff;
	font-weight: 600;
	top: 46%;
	right: 0;
	left: 0;
	text-align: center;
	font-size: 30px;
}

.product .product_inner .no-padd {
	padding:0;
}
.product_info {
	padding: 0 20px;
}
.product_info h2 {
	font-weight: 700;
}
.product_info h5 {
	font-weight: 700;
	font-size: 12px;
	margin-top: 10px;
}
.product_info p {
	font-size: 12px;
	margin-top: 7px;
	text-transform:uppercase;
}



/*
 SyntaxHighlighter - http://alexgorbatchev.com/SyntaxHighlighter

 SyntaxHighlighter is donationware. If you are using it, please donate. - http://alexgorbatchev.com/SyntaxHighlighter/donate.html

 @version - 3.0.83 (July 02 2010)
 @copyright - Copyright (C) 2004-2010 Alex Gorbatchev.
 @license - Dual licensed under the MIT and GPL licenses.
*/
.syntaxhighlighter a,.syntaxhighlighter div,.syntaxhighlighter code,.syntaxhighlighter table,.syntaxhighlighter table td,.syntaxhighlighter table tr,.syntaxhighlighter table tbody,.syntaxhighlighter table thead,.syntaxhighlighter table caption,.syntaxhighlighter textarea{-moz-border-radius:0 0 0 0 !important;-webkit-border-radius:0 0 0 0 !important;background:none !important;border:0 !important;bottom:auto !important;float:none !important;height:auto !important;left:auto !important;line-height:1.1em !important;margin:0 !important;outline:0 !important;overflow:visible !important;padding:0 !important;position:static !important;right:auto !important;text-align:left !important;top:auto !important;vertical-align:baseline !important;width:auto !important;box-sizing:content-box !important;font-family:"Consolas","Bitstream Vera Sans Mono","Courier New",Courier,monospace !important;font-weight:normal !important;font-style:normal !important;font-size:1em !important;min-height:inherit !important;min-height:auto !important;}
.syntaxhighlighter{width:100% !important;margin:1em 0 1em 0 !important;position:relative !important;overflow:auto !important;font-size:1em !important;}
.syntaxhighlighter.source{overflow:hidden !important;}
.syntaxhighlighter .bold{font-weight:bold !important;}
.syntaxhighlighter .italic{font-style:italic !important;}
.syntaxhighlighter .line{white-space:pre !important;}
.syntaxhighlighter table{width:100% !important;}
.syntaxhighlighter table caption{text-align:left !important;padding:.5em 0 0.5em 1em !important;}
.syntaxhighlighter table td.code{width:100% !important;}
.syntaxhighlighter table td.code .container{position:relative !important;}
.syntaxhighlighter table td.code .container textarea{box-sizing:border-box !important;position:absolute !important;left:0 !important;top:0 !important;width:100% !important;height:100% !important;border:none !important;background:white !important;padding-left:1em !important;overflow:hidden !important;white-space:pre !important;}
.syntaxhighlighter table td.gutter .line{text-align:right !important;padding:0 0.5em 0 1em !important;}
.syntaxhighlighter table td.code .line{padding:0 1em !important;}
.syntaxhighlighter.nogutter td.code .container textarea,.syntaxhighlighter.nogutter td.code .line{padding-left:0em !important;}
.syntaxhighlighter.show{display:block !important;}
.syntaxhighlighter.collapsed table{display:none !important;}
.syntaxhighlighter.collapsed .toolbar{padding:0.1em 0.8em 0em 0.8em !important;font-size:1em !important;position:static !important;width:auto !important;height:auto !important;}
.syntaxhighlighter.collapsed .toolbar span{display:inline !important;margin-right:1em !important;}
.syntaxhighlighter.collapsed .toolbar span a{padding:0 !important;display:none !important;}
.syntaxhighlighter.collapsed .toolbar span a.expandSource{display:inline !important;}
.syntaxhighlighter .toolbar{position:absolute !important;right:1px !important;top:1px !important;width:11px !important;height:11px !important;font-size:10px !important;z-index:10 !important;}
.syntaxhighlighter .toolbar span.title{display:inline !important;}
.syntaxhighlighter .toolbar a{display:block !important;text-align:center !important;text-decoration:none !important;padding-top:1px !important;}
.syntaxhighlighter .toolbar a.expandSource{display:none !important;}
.syntaxhighlighter.ie{font-size:.9em !important;padding:1px 0 1px 0 !important;}
.syntaxhighlighter.ie .toolbar{line-height:8px !important;}
.syntaxhighlighter.ie .toolbar a{padding-top:0px !important;}
.syntaxhighlighter.printing .line.alt1 .content,.syntaxhighlighter.printing .line.alt2 .content,.syntaxhighlighter.printing .line.highlighted .number,.syntaxhighlighter.printing .line.highlighted.alt1 .content,.syntaxhighlighter.printing .line.highlighted.alt2 .content{background:none !important;}
.syntaxhighlighter.printing .line .number{color:#bbbbbb !important;}
.syntaxhighlighter.printing .line .content{color:black !important;}
.syntaxhighlighter.printing .toolbar{display:none !important;}
.syntaxhighlighter.printing a{text-decoration:none !important;}
.syntaxhighlighter.printing .plain,.syntaxhighlighter.printing .plain a{color:black !important;}
.syntaxhighlighter.printing .comments,.syntaxhighlighter.printing .comments a{color:#008200 !important;}
.syntaxhighlighter.printing .string,.syntaxhighlighter.printing .string a{color:blue !important;}
.syntaxhighlighter.printing .keyword{color:#006699 !important;font-weight:bold !important;}
.syntaxhighlighter.printing .preprocessor{color:gray !important;}
.syntaxhighlighter.printing .variable{color:#aa7700 !important;}
.syntaxhighlighter.printing .value{color:#009900 !important;}
.syntaxhighlighter.printing .functions{color:#ff1493 !important;}
.syntaxhighlighter.printing .constants{color:#0066cc !important;}
.syntaxhighlighter.printing .script{font-weight:bold !important;}
.syntaxhighlighter.printing .color1,.syntaxhighlighter.printing .color1 a{color:gray !important;}
.syntaxhighlighter.printing .color2,.syntaxhighlighter.printing .color2 a{color:#ff1493 !important;}
.syntaxhighlighter.printing .color3,.syntaxhighlighter.printing .color3 a{color:red !important;}
.syntaxhighlighter.printing .break,.syntaxhighlighter.printing .break a{color:black !important;}
/* Theming */
.syntaxhighlighter { clear: both; width: auto!important; font-size: 13px !important; line-height: 21px !important; font-family: Courier, "Courier New", monospace; -webkit-border-radius: 4px; -moz-border-radius: 4px; -o-border-radius: 4px; border-radius: 4px; background-color: #fff !important; box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -moz-box-shadow: inset 0 0 3px rgba(0,0,0,0.3); -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);}
.syntaxhighlighter .string, .syntaxhighlighter .string a {color: #ff5454 !important;}
.syntaxhighlighter .line.alt1,
.syntaxhighlighter .line.alt2 {width: 100% !important; padding: 0 !important; background-color: #fff !important;}
.syntaxhighlighter .line.highlighted.alt1,
.syntaxhighlighter .line.highlighted.alt2 {background-color: #fff !important;}
.syntaxhighlighter table td.code {width: auto !important; padding: 10px 12px!important;}
.syntaxhighlighter table td.code .line {width: auto !important; padding: 0 !important;}
.syntaxhighlighter .color1, .syntaxhighlighter .color1 a {color: #cc7ac6!important;}
.syntaxhighlighter .plain, .syntaxhighlighter .plain a {color: #888!important;}
.syntaxhighlighter .comments, .syntaxhighlighter .comments a {color: #999!important;}
.syntaxhighlighter .keyword {color: #2a93b9!important;}
/**/
.syntaxhighlighter{background-color:white !important;}
.syntaxhighlighter .line.alt1{background-color:white !important;}
.syntaxhighlighter .line.alt2{background-color:white !important;}
.syntaxhighlighter .line.highlighted.alt1,.syntaxhighlighter .line.highlighted.alt2{background-color:#e0e0e0 !important;}
.syntaxhighlighter .line.highlighted.number{color:black !important;}
.syntaxhighlighter table caption{color:black !important;}
.syntaxhighlighter .gutter{color:#afafaf !important;}
.syntaxhighlighter .gutter .line{border-right:3px solid #6ce26c !important;}
.syntaxhighlighter .gutter .line.highlighted{background-color:#6ce26c !important;color:white !important;}
.syntaxhighlighter.printing .line .content{border:none !important;}
.syntaxhighlighter.collapsed{overflow:visible !important;}
.syntaxhighlighter.collapsed .toolbar{color:blue !important;background:white !important;border:1px solid #6ce26c !important;}
.syntaxhighlighter.collapsed .toolbar a{color:blue !important;}
.syntaxhighlighter.collapsed .toolbar a:hover{color:red !important;}
.syntaxhighlighter .toolbar{color:white !important;background:#6ce26c !important;border:none !important;}
.syntaxhighlighter .toolbar a{color:white !important;}
.syntaxhighlighter .toolbar a:hover{color:black !important;}
.syntaxhighlighter .plain,.syntaxhighlighter .plain a{color:black !important;}
.syntaxhighlighter .comments,.syntaxhighlighter .comments a{color:#008200 !important;}
.syntaxhighlighter .string,.syntaxhighlighter .string a{color:blue !important;}
.syntaxhighlighter .keyword{color:#006699 !important;}
.syntaxhighlighter .preprocessor{color:gray !important;}
.syntaxhighlighter .variable{color:#aa7700 !important;}
.syntaxhighlighter .value{color:#009900 !important;}
.syntaxhighlighter .functions{color:#ff1493 !important;}
.syntaxhighlighter .constants{color:#0066cc !important;}
.syntaxhighlighter .script{font-weight:bold !important;color:#006699 !important;background-color:none !important;}
.syntaxhighlighter .color1,.syntaxhighlighter .color1 a{color:gray !important;}
.syntaxhighlighter .color2,.syntaxhighlighter .color2 a{color:#ff1493 !important;}
.syntaxhighlighter .color3,.syntaxhighlighter .color3 a{color:red !important;}
.syntaxhighlighter .keyword{font-weight:bold !important;}
.newsletterBtn{display:none;}
.form_input:focus{outline:none;}
button:focus{outline:none}


	/*******feedback*******/


.feedback {
	height: 60px;
	direction: ltr !important;
}
.feedback_content {
	position: fixed;
	width: 40px;
	padding: 12px 14px 12px 12px;
	background: #27509a;
	cursor: pointer;
	-webkit-transition: -webkit-box-shadow 0.1s ease-in-out;
	-moz-transition: -moz-box-shadow 0.1s ease-in-out;
	-o-transition: -o-box-shadow 0.1s ease-in-out;
	-ms-transition: -ms-box-shadow 0.1s ease-in-out;
	transition: box-shadow 0.1s ease-in-out;
	-webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	box-sizing: border-box !important;
	right: 0;
	top: 50%;
	z-index: 9999;
}
.feedback_cstm {
	color: #ffffff;
	display: inline-block !important;
	overflow-wrap: normal !important;
	word-break: normal !important;
	word-wrap: normal !important;
	white-space: nowrap !important;
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
	cursor: pointer;
	-webkit-writing-mode: vertical-lr;
	-moz-writing-mode: vertical-lr;
	-ms-writing-mode: tb-rl;
	-o-writing-mode: vertical-lr;
	writing-mode: vertical-lr;
	-webkit-transform: rotate(180deg);

}

.feedback_cstm a{
	color:#fff;
}
#nm .modal-content {
	padding: 20px;
}
#nm p {
	margin: 11px 0;
}
#nm a {
	color:#27509a;
}
#nm a:focus {
	text-decoration:none;
}
#nm.modal {
	left: inherit;
	top:25%;
}



}
