.contact-form::before, .contact-form::after, .woocommerce::before, .woocommerce::after {
    content: " ";
    display: table;
}

.shop_table.table {
    width: 100%;
}
.shop_table.table {
    width: 100%;
}
.shop_table {
    margin-bottom: 20px;
    width: 100%;
}
.table {
    margin-bottom: 17px;
    width: 100%;
}
.shop_table.table .product-remove {
    position: relative;
}
.shop_table.table .product-remove {
    position: relative;
}
.table thead tr th:first-child {
    border-radius: 4px 0 0 4px;
}
.table > caption + thead > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > th, .table > thead:first-child > tr:first-child > td {
    border-top: 0 none;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    border-top: 1px solid #ddd;
    line-height: 1.42857;
    padding: 8px;
    vertical-align: middle !important;
}
.shop_table.table thead th {
    background-color: #f8f8f8;
}
.shop_table.table thead th {
    background-color: #f8f8f8;
}
.shop_table thead tr th {
    border: medium none;
    font-size: 14px;
    font-weight: 300;
    padding: 19px 28px;
}
.table thead tr th {
    border: medium none;
    font-size: 14px;
    font-weight: 300;
    padding: 19px 28px;
}
.table > thead > tr > th {
    border-bottom: 2px solid #dddddd;
    vertical-align: bottom;
}
.site-search .close, .nav-wrap .fa-search {
    transition: color 0.2s ease 0s;
}
 .site-search .close, .nav-wrap .fa-search {
    transition: color 0.2s ease 0s;
}

.shop_table.table .product-remove a {
    font-size: 20px;
    margin-top: -13px;
    position: absolute;
    top: 50%;
}
.product_meta span span {
    color: #727272;
}
.amount{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
}
form .quantity, #content .quantity {
    border: 1px solid #eeeeee;
    border-radius: 4px;
    float: left;
    margin-right: 13px;
    margin-top: -1px;
    overflow: hidden;
    position: relative;
    width: 89px;
}
form .quantity .minus, #content .quantity .minus {
    bottom: 0;
    right: 0;
}
form .quantity .plus, form .quantity .minus, #content .quantity .plus, #content .quantity .minus {
    border: medium none;
    color: #fff;
    cursor: pointer;
    display: block;
	background:#666;
    font-size: 14px;
    height: 24px;
    line-height: 23px;
    margin: 0;
    overflow: visible;
    padding: 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    transition: all 0.2s ease 0s;
    vertical-align: text-top;
    width: 26px;
}
form .quantity input.qty, #content .quantity input.qty {
    -moz-appearance: textfield;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color;
    border-image: none;
    border-style: none;
    border-width: medium 0 medium medium;
    float: left;
    font-size: 14px;
    height: 44px;
    padding: 0 5px 0 0;
    text-align: center;
    width: 63px;
}
form .quantity .plus, #content .quantity .plus {
    border-bottom: 0 none;
    right: 0;
    top: 0;
}

.cart-sidebar {
    background-color: #f8f8f8;
    padding: 20px;
}
.cart-sidebar {
    background-color: #f8f8f8;
    padding: 20px;
}
.cart-sidebar h2 {
    font-size: 20px;
    margin: 0;
    text-transform: none;
}
.cart-sidebar h2 {
    font-size: 20px;
    margin: 0;
    text-transform: none;
}
.cart-sidebar table {
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100%;
}
.cart-sidebar table {
    margin-bottom: 20px;
    margin-top: 15px;
    width: 100%;
}
.cart-sidebar table td, .cart-sidebar table th {
    padding: 5px 0;
}
.cart-sidebar table td {
    text-align: right;
}
.cart-sidebar .btn.btn-md {
    font-size: 13px;
}
.cart-sidebar .btn, .cart-sidebar .added_to_cart, .cart-sidebar .tab-pane .form-submit #submit, .tab-pane .form-submit .cart-sidebar #submit {
    border: medium none;
}
.cart-sidebar .btn, .cart-sidebar .added_to_cart, .cart-sidebar .tab-pane .form-submit #submit, .tab-pane .form-submit .cart-sidebar #submit {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
}
.btn.btn-md, .added_to_cart, .tab-pane .form-submit #submit {
    font-size: 15px;
    padding: 12px 25px;
}
.pricing-table header h2, .mark.style-2, .btn.dark, .twitter .carousel-indicators li, .added_to_cart, .price_slider_wrapper .ui-widget-content {
    background-color: #000000;
}
.btn.wc-forward {
  margin: 7px 0;
    padding: 10px 10px;
	}
.btn, .wpcf7-submit {
    -moz-user-select: none;
    background-image: none;
    border: 0 none;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-weight: normal;
    line-height: 1.5;
    margin-bottom: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s;
    vertical-align: middle;
    white-space: nowrap;
}
.cart-sidebar .continue-shopping {
    display: block;
    margin-top: 20px;
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	text-decoration:none;
    text-align: center;
}
.continue-shopping:hover{
text-decoration:none;
}

.table td.actions .coupon h2 {
    font-size: 19px;
    margin: 40px 0 15px;
    text-transform: none;
}
.table td.actions .coupon h2 {
    font-size: 19px;
    margin: 40px 0 15px;
    text-transform: none;
}
#coupon_code{
    border: 1px solid #eee;
    border-radius: 3px;
    outline: medium none;
    padding: 14px 19px;
    transition: border 0.2s ease 0s;
    width: 100%;
}
.woocommerce{
margin-top:20px;
}




@media (min-width: 320px) and (max-width: 360px){

.shop_table.table .product-thumbnail {
    display: none;
}
.shop_table.table .product-price {
    display: none;
}
.shop_table.table .product-quantity {
    display: none;
}

}

@media (min-width: 360px) and (max-width: 680px){

.shop_table.table .product-thumbnail {
    display: none;
}
.shop_table.table .product-thumbnail {
    display: none;
}	

}


.alert.alert-success {
    background-color: #c1faa9;
}

.cart-empty{
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
padding:5px;
margin:7px 4px;
}

.wc-backward:hover , .btn-md:hover{
background:#000;
color:#fff !important;

}
