
@media (max-width: 768px){

.banner_text_box {
	display:none;
}

}


@media (min-width: 320px) and (max-width: 680px){

.menu_container{

margin-top:-2px;

}

.tabs label {
    padding: 10px 8px;
}
.myportfolio img.outer {
    width: 153px;
}
.pignose-layerslider .slide-visual .script-wrap {
	right:643px;
}
.logo {
    float: left;
    max-height: 193px;
    max-width: 108px;
    padding: 4px;
    position: absolute;
    top: -1px;
}

.five-col-theme .column {
    float: left;
    margin-bottom: 30px;
    position: relative;
    text-align: center;
    width: 49%;
}
.properties-section {
    background: #ffffff none repeat scroll 0 0;
    padding: 10px 0 40px;
    position: relative;
}
.sec-title .separator {
    height: 0px;
    position: relative;
    width: 100%;
}
.Popular {
    display: block;
    float: none;
    height: auto;
    margin: 5px auto;
    overflow: hidden;
    position: relative;
    width: 274px !important;
}
.woo-header-cart {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
    height: 39px;
    padding-bottom: 0;
    padding-left: 5px;
    padding-top: 5px;
    position: absolute;
    right: 19px;
    top: 3px;
    z-index: 1000;}
#sticky2 {
color: #fff;
    line-height: 50px;
    min-height: 60px;
    position: absolute;
    top: 2px;
    transition: all 0.4s ease 0s;
	-webkit-transition: all 0.4s ease 0s;
	-o-transition: all 0.4s ease 0s;
	-moz-transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1000;
}
.serch_ms_btn {
    background: #333 none repeat scroll 0 0;
    border-radius: 4px;
    color: #fff;
    height: 31px;
    line-height: 21px;
    padding: 5px 5px 2px;
    position: absolute;
    right: 70px;
    top: 17px;
}

.serch_ms_btn:hover {
    position: absolute;
    right: 91px;
    top: 17px;
    color:#0099FF;
	 right: 70px;
    top: 17px;
	background:#333;
	border-radius:4px;
}
.clea_map {
    float: left;
    height: 95px;
    width: 100%;
}

.woo-header-cart .mini-cart {
    background-color: #474747;
    color: #fff;
    display: none;
    max-height: 287px;
    overflow: auto;
    padding: 24px;
    position: absolute;
    right: 0;
    top: 105%;
    z-index: 9;
}


.top_header_2{
display:none;}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff !important;
}

.paralax-header {
    height: auto;
    min-height: 250px;
    position: relative;
	background-size: cover !important;
    transition: min-height 0.2s ease 0s;
    width: auto;
}
	.navbar-default .navbar-toggle {
    background: #333 none repeat scroll 0 0;
    border: 0 none;
	 right: 3px;
    color: #fff;
    top: 9px;
}

	 .navbar-toggle:hover{
	 background: #333 none repeat scroll 0 0 !important;
    border: 0 none;
    color: #fff;
    top: 9px;
	}
	.navbar-default .navbar-nav > li > a {
    color: #ccc !important;
	background:#000;
}
.nav > li {
    position: relative;
    display: block;
    padding: 5px;
    background: #000;
}
	
	.navbar-nav > li > a {
    padding-top: 2px;
    padding-bottom: 4px;
    margin-top: 0;
    line-height: 20px;
}
	.preview {
    height: 90px;
    left: 38px;
    position: absolute;
    top: 0;
    transition: all 0.3s ease-out 0s;
    width: 90px;
    z-index: 100;
}
		
		.flex-next .preview {
			right:38px !important;
			left:auto;	
			-webkit-transform: rotateY(-90deg);
			transform: rotateY(-90deg);
			-webkit-transform-origin: 100% 100%;
			transform-origin: 100% 100%;
		}
		.flex-direction-nav a  { 
	overflow:visible;
	width: 38px; 
	height: 90px; 
	margin: 0; 
	opacity: 1;  
	top:0;
	color: rgba(0,0,0,0.8); 
	text-indent:-9999em;
	text-shadow: none; 
	-webkit-transition:  all 0.3s ease-out; 
	-moz-transition:  all 0.3s ease-out; 
	transition:  all 0.3s ease-out; 
	background-color: rgba(0,0,0,0.5) ;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	-o-box-shadow: none;
	box-shadow: none;	
}
	
	.flex-next .preview img {
    position: absolute;
    left: 11px !important ;
    top: 0px;
    width: 79px !important;
}
.preview img {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 79px !important;
}
	
	.flex-direction-nav a {
    overflow: visible;
    width: 38px;
    height: 79px;
    margin: 0px;
    opacity: 1;
    top: 30px;
    color: rgba(0, 0, 0, 0.8);
    text-indent: -9999em;
    text-shadow: none;
    transition: all 0.3s ease-out 0s;
    background-color: rgba(0, 0, 0, 0.5);
    box-shadow: none;
}
	#sticky {
    color: #FFF;
    line-height: 50px;
    min-height: 60px;
    position: absolute;
    top: 2px;
    transition: all 0.4s ease 0s;
    width: 100%;
    z-index: 1000;
}
	
	.flex-direction-nav .arrow {
		display:none;
		}
	
	.navbar-nav {
		float:none;
		display:inline;
		}
.top_header{
	display:none;
	}
.worl_w_left_top{
float:left;
width:100%;
text-align:center;
}
.worl_w_left_top img{
overflow:hidden;
float:initial;
max-width:31px;
margin:5px auto;
}


.worl_w_right_top{
float:left;
width:100%;
text-align:center;
height:auto;

transition:color 0.2s ease 0s;
-webkit-transition:color 0.2s ease 0s;
-moz-transition:color 0.2s ease 0s;
-o-transition:color 0.2s ease 0s;
}
.worl_w_right_top h3{
float:left;
width:100%;
text-align:center;
margin:0px 10px;
}
.worl_w_right_top h3 a{
float:left;
width:98%;
text-align:center;
margin:0px 10px;
}

.worl_w_right_top h4{
float:left;
margin:3px 0px;
width:100%;
text-align:center;
}

.worl_w_right_top h4 a{
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:16px;
margin:10px;
text-align:center;
width:100%;
color:#bababa;
}


.clint_logo_box_bot ul li {
    display: inline-block;
	position: relative;
	 list-style: outside none none;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: -1px;
	border-right:0px;
	width:100%;
    padding: 25px 20px;
}
.clint_logo_box ul li {
    display: inline-block;
	position: relative;
	 list-style: outside none none;
    padding: 0 20px;
    text-align: center;
    vertical-align: middle;
    margin-left: -1px;
	border-right:0px;
	width:100%;
    padding: 25px 20px;
}

}

@media (min-width: 681px) and (max-width: 768px){


.Popular {
    float: left;
    height: auto;
    overflow: hidden;
    position: relative;
    width: 50% !important;
}