.tabs {
    position: relative;
	margin:18px auto 40px;
}

.tabs input {

cursor: pointer;
    display: none;
    float: left;
    height: 0;
    left: 0;
    opacity: 0;
    top: 0;
    width: 0;
    z-index: 1000;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
}

.tabs label {
	background: #fff;
	border-top:0px;
	font-size: 15px;
	position: relative;
	padding:15px 8px;
    float: left;
	display: block;
	color: #000;
	font-weight: 500;
	margin-bottom: 50px;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
	cursor: pointer;
}

.tabs label:after {
    content: '';
	background: #fff;
	position: absolute;
	bottom: -2px;
	left: 0;
	width: 100%;
	height: 2px;
	display: block;
	color:#000;
}
label.tab-label-1 {
    border-left: 0px ;
}
label.tab-label-4 {
    border-right: 0px ;
}
.tabs input:hover + label {
	background: #fff;
	color:#f00;
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}

.tabs label:first-of-type {
    z-index: 4;
}

.tab-label-2 {
    z-index: 3;
}

.tab-label-3 {
    z-index: 2;
}

.tab-label-4 {
    z-index: 1;
}

.tabs input:checked + label {
    background: #fff;
	z-index: 6;
	color:#f00;
}

.clear-shadow {
	clear: both;
}

.content {
     background: #fff none repeat scroll 0 0;
    display: list-item;
    float: left;
    height: auto !important;
    list-style: outside none none;
    overflow: hidden;
    padding: 315px 0;
    position: relative;
    width: 100%;
    z-index: 5;
}
.myportfolio img.outer {
    display: inline-block;
    margin: 0 2px 4px 0;
    width: 280px;
}
.content div {
    position: absolute;
	top: 0;
	left: 0;
	padding: 10px;
	z-index: 1;
    opacity: 0;
	display:inline-block;
    -webkit-transition: opacity linear 0.1s;
    -moz-transition: opacity linear 0.1s;
    -o-transition: opacity linear 0.1s;
    -ms-transition: opacity linear 0.1s;
    transition: opacity linear 0.1s;
}

.tabs input.tab-selector-1:checked ~ .content .content-1,
.tabs input.tab-selector-2:checked ~ .content .content-2,
.tabs input.tab-selector-3:checked ~ .content .content-3,
.tabs input.tab-selector-4:checked ~ .content .content-4 {
	z-index: 100;
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;

    -webkit-transition: opacity ease-out 0.2s 0.1s;
    -moz-transition: opacity ease-out 0.2s 0.1s;
    -o-transition: opacity ease-out 0.2s 0.1s;
    -ms-transition: opacity ease-out 0.2s 0.1s;
    transition: opacity ease-out 0.2s 0.1s;
}
.content div h2,
.content div h3{
	color: #398080;
}
.content div p {
	font-size: 14px;
	line-height: 22px;
	font-style: italic;
	text-align: left;
	margin: 0;
	color: #777;
	padding-left: 15px;
	font-family: Cambria, Georgia, serif;
	border-left: 8px solid rgba(63,148,148, 0.1);
}

.slide {
    animation-duration: 1s;
    animation-name: slide;
    visibility: visible;
}
.tabs {
    margin: 18px auto 40px;
    position: relative;
}
.myportfolio {
    text-align: center;
}
.myportfolio img.outer {
    display: inline-block;
    margin: 0 2px 4px 0;
    width: 280px;
}
.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
   display:inline-table !important;
    height: auto;
    margin: 4px 2px;
    max-width: 270px !important;
}
/*-- portfolio --*/
.myportfolio {
	text-align:center;
	margin:0;
	padding:0 0 30px 0;
}
.myportfolio h3 {
	font-family: 'Orbitron', sans-serif;
	color:grey;
	font-size:30px;
	font-weight:400;
	padding: 75px 0 20px;
	text-transform:uppercase;
}
.myportfolio p {
	color:grey;
	font-size:17px;
	font-weight:500;
	padding: 10px 0 20px;
}
label.tab-label-1 {
    margin-left: 31%;
}
.myportfolio img.outer {
	display: inline-block;
	margin: 0 2px 4px 0;
    width: 280px;
}


@media ( min-width: 320px) and ( max-width: 480px){

label.tab-label-1 {
    margin-left:0px !important;
	margin-top:-3px;
}
.tabs {
    margin: 18px auto 40px;
    position: relative;
    text-align: center;
}

.tabs label{
font-size:12px !important;
}
.tabs label {
    background: #fff none repeat scroll 0 0;
    border-top: 0 none;
    color: #000;
    cursor: pointer;
    display: inline;
    float: left;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 0;
    padding: 14px 8px;
    position: relative;
    transition: all 0.5s ease 0s;
}
}

@media ( min-width: 481px) and ( max-width: 640px){

label.tab-label-1 {
    margin-left:16% !important;
	margin-top:-3px;
}
}