body{ font-family: lato;}
.finger {
  background-color: #fff;
  border: none;
}
.ten {
  margin-left: -177px;
  margin-top: 12px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
}
.logo{ padding:4px;}
.logo h2{font-size: 55px; color: #9F906D;}
.logo img {
padding:4px;
}
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
.address h2 {
  color: #fff;
  margin-right: 92px;
  margin-top: -39px;
  text-align: center;
}

.main{box-shadow:0px 0px 10px #000;}

.address-info{padding:10px;font-size: 16px;color:#fff;}

.address-info h2, h3{padding:0px;padding-top:10px;margin:0px;}

.address-info h2{font-size: 22px;}

.address-info h3{font-size: 18px;}

.navigation{padding:10px;}

.nav-pad{margin-bottom:10px;}

.address h3 {
  color: #fff;
  font-size: 16px;
  margin-left: -55px;
  margin-top: -6px;
  text-align: center;
}
.address1 h2 {
  color: #fff;
  text-align: center;
  margin-top: -33px;
}
.address1 h3 {
  color: #fff;
  font-size: 16px;
  margin-left: -30px;
  margin-top: -6px;
  text-align: center;
}
.address2 h2 {
  color: #fff;
  margin-left: 28px;
  margin-top: -38px;
  text-align: center;
}
.address2 h3 {
  color: #fff;
  font-size: 16px;
  margin-left: -37px;
  margin-top: -6px;
  text-align: center;
}
.address3 h2 {
  color: #fff;
  margin-left: 9px;
  margin-top: -38px;
  text-align: center;
}
.address3 h3 {
  color: #fff;
  font-size: 16px;
  margin-left: 52px;
  margin-top: -6px;
  text-align: center;
}
.address4 h2 {
  color: #fff;
  margin-left: 64px;
  margin-top: -38px;
  text-align: center;
}
.address4 h3 {
  color: #fff;
  font-size: 16px;
  margin-left: 106px;
  margin-top: -6px;
  text-align: center;
}
.back_ground {
  background: #15336e none repeat scroll 0 0;
  height: 100px;
}
.address > img {
  margin-top: 25px;
}
.address1 > img {
  margin-left: -38px;
  margin-top: 26px;
}
.address2 > img {
  margin-left: -16px;
  margin-top: 30px;
}
.address3 > img {
  margin-left: 14px;
  margin-top: 30px;
}
.address4 > img {
  margin-left: 49px;
  margin-top: 30px;
}
.blue_down > h2 {
  font-size: 15px;
  font-weight: bold;
  line-height: 7px;
  margin-top: 19px;
}
.blue_down span {
  font-weight: normal;
  margin-left: 4px;
}
.blue_down {
  background-color: #fafafa;
  border: 2px dashed #dddddd;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  height: 105px;
  margin: 29px 0;
  width: 236px;
}
.center{text-align: center;}
.blue {
  color: #666666;
  font-size: 15px;
  line-height: 30px;
  margin-top: 20px;
}
.lined {
  background: #ccc none repeat scroll 0 0;
  color: #636363;
  display: block;
  font-size: 34px;
  height: 1px;
  margin-bottom: 50px;
  margin-top: 86px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
h2.lined span {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  margin-top: -42px;
  overflow: hidden;
  padding: 14px 20px;
  position: relative;
  z-index: 1;
}
.happy {
  color: #666666;
  font-size: 15px;
  line-height: 30px;
  margin-top: 20px;
}
.happy span {
  color: #333;
  display: block;
  font-size: 20px;
}
.images {
  border: 1px solid #DDDDDD;
}
.sad {
  font-size: 20px;
  color: #666666;
}
.sad > span {
  color: #000;
  font-weight: bold;
}
.sad1 {
  color: #666666;
  font-size: 20px;
  margin-top: 20px;
}
.sad1 > span {
  color: #000;
  font-weight: bold;
}
.five > img {
  width: 100%;
  text-align: center;
  margin-left: 3px;
}
.map{width: 100%}
.line {
  line-height: 34px;
}
.lined1 {
  background: #ccc none repeat scroll 0 0;
  color: #636363;
  display: block;
  font-size: 34px;
  height: 1px;
  margin-bottom: 50px;
  margin-top: 86px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}
h2.lined1 span {
  background: #fff none repeat scroll 0 0;
  display: inline-block;
  margin-top: 4px;
  overflow: hidden;
  padding: 14px 20px;
  position: relative;
  z-index: 1;
}

