
.login{
float:left;
width:100%;
height:auto;
background:#fff;
margin:0px 0px 15px 0px;
}
.login p{
font-family:Arial, Helvetica, sans-serif;
font-size:14px;
color:#666;
}

form label {
color: #333;
    cursor: pointer;
    font-size: 14px;
    margin-bottom: 8px;
    margin-top: 15px;}

.user_nam {
    border: 1px solid #eee;
    border-radius: 3px;
    outline: medium none;
    padding: 14px 19px;
    transition: border 0.2s ease 0s;
    width: 100%;


}
.form-row-first, .form-row-last {
    float: left;
    width: 48%;
}

.form-row-last {
    margin-left: 2%;
}
.form-row-first, .form-row-last {
    float: left;
    width: 48%;
}
.woocommerce-checkout [for="rememberme"], .woocommerce-checkout .lost_password {
    margin-left: 20px;
    position: relative;
    top: 5px;
}
form.login > p.form-row > input.btn.btn-md {
    margin-left: 20px;
}
.btn.btn-md, .added_to_cart, .tab-pane .form-submit #submit {
    font-size: 15px;
    padding: 12px 25px;
}

.woocommerce-checkout .lost_password {
    display: inline-block;
}
.woocommerce-checkout [for="rememberme"], .woocommerce-checkout .lost_password {
    margin-left: 20px;
    position: relative;
    top: 5px;
}
.woocommerce-checkout .lost_password {
    display: inline-block;
}
input[type="radio"], input[type="checkbox"] {
    line-height: normal;
    margin: 7px 4px 7px 20px !important;
}

.lost_password {
    margin-left: 20px;
	color:#333;
    position: relative;
    top: 0px;
}

.loginformbutton{
cursor:pointer;
}

.form-row-first {
    margin-right: 2%;
}

.input-text{border: 1px solid #cccccc;
    border-radius: 3px;
    outline: medium none;
    padding: 14px 19px;
    transition: border 0.2s ease 0s;
    width: 100%;
}
.select2-container .select2-choice {
    background-clip: padding-box;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #444;
    display: block;
    font-weight: 400;
    overflow: hidden;
    padding: 0 0 0 8px;
    position: relative;
    text-decoration: none;
    white-space: nowrap;
}
.select2-container .select2-choice {
    padding: 14px 19px !important;
}

.create-account{
float:left;
width:100%;
}
.create-account p{
float:left;
font-family:Arial, Helvetica, sans-serif;
font-size:13px;
}
.create-account input[type="checkbox"]{
margin:10px 5px 10px 0px !important;
}

.radio, .checkbox {
    margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
	display:inline !important;
}

#order_review_heading {
    font-size: 19px;
    margin-bottom: 30px;
    margin-top: 50px;
}
.shop_table {
    margin-bottom: 20px;
    width: 100%;
}
.shop_table thead tr th {
    border: medium none;
    font-size: 14px;
    font-weight: 300;
    padding: 19px 28px;
}
.shop_table thead th {
    background-color: #f8f8f8;
}
.shop_table th, .shop_table td strong span, .shop_table tfoot {
    color: #000000;
}

.shop_table tr td, .shop_table th {
    border-bottom: 1px solid #ececec;
    border-color: #ececec;
    font-size: 14px;
    padding: 15px 0 15px 27px;
}

.payment_methods {
    background-color: #f8f8f8;
    padding: 25px 30px;
}
.payment_methods {
    background-color: #f8f8f8;
    padding: 25px 30px;
}
.payment_methods li {
    list-style: outside none none;
}
.place-order {
    margin-top: 30px;
    text-align: right;
}
input#place_order {
    border: 3px solid transparent;
    border-radius: 3px;
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    line-height: 1.33;
    padding: 12px 25px;
    text-align: center;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s;
    vertical-align: middle;
}
input#place_order {
    background-color: #1874c1;
}

#ship-to-different-address {
    font-size: 16px;
    margin-bottom: 9px;
    margin-top: 10px;
    text-transform: lowercase;
}
.payment_method_paypal{
width:100%;
}
.payment_method_paypal img{

max-width:100%;
}

p.form-row input.buttonrest {
    background-color: #1874c1;
    border-radius: 4px;
    color: #ffffff;
	float:left;
}

p.form-row input.buttonrest {
    border: medium none;
    font-size: 15px;
    padding: 12px 25px;
    text-transform: uppercase;
    transition: background-color 0.2s ease 0s, border 0.2s ease 0s;
}