.comment-list {
    margin: 0;
    padding: 0;
}
.comments-title {
    margin-bottom: 40px;
    margin-top: 70px;
}
.comment-list .comment {
    border-bottom: 1px solid #ececec;
    list-style: outside none none;
    margin-bottom: 40px;
    padding-bottom: 40px;
}
.comment-list .comment h1 {
    display: inline-block;
}
.comment-list .comment h1, .comment-list .comment .date {
    font-size: 14px;
}

.comment-list .comment .date::before {
    content: "/";
    margin: 0 4px;
}
.product_meta span span {
    color: #727272;
}
.comment-list .comment.depth-2 {
    margin-left: 15%;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
    display: block;
}
.comment-list .comment header {
    margin-bottom: 15px;
}
.post header {
    font-family: PT Sans;
}
.send_msz_btn2 {
    background-color: #1874c1;
    border: 0 none;
    border-radius: 4px;
    color: #ffffff;
    float: left;
    margin: 7px 3px;
    padding: 12px 45px;
    text-transform: uppercase;
}

.send_msz_btn3 {
    background-color: #1874c1;
    border: 0 none;
    border-radius: 4px;
    color: #ffffff;
    float: right;
    margin: 7px 3px;
    padding: 12px 45px;
    text-transform: uppercase;
}

.comment-content p{
font-size:13px;
}